<template>
  <recuperar-senha
    titulo="Recuperar Senha"
    inicioParagrafo="Para recuperar a senha"
  />
</template>
<script>
export default {
  middleware: ["naoAutenticado"],
  head: {
    title: "Recuperar Senha"
  },
  components: {
    RecuperarSenha: () => import("@/components/diversos/recuperarSenha")
  }
};
</script>
<style lang="less"></style>
