<template>
  <div class="pg-alterar-dados">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 14px !important"
      fluid
    >
      <div class="cor-titulo font-weight-black texto-descricao mb-3">
        Alterar dados cadastrais
      </div>
      <div class="cor-titulo">
        Altere as informações e depois <br />
        clique em <span class="font-weight-black">Salvar</span>.
      </div>
      <v-card elevation="0" class="mx-auto mt-5" max-width="600">
        <v-form ref="form" @keyup.enter.native="enviar" v-model="formValido">
          <div>
            <v-row no-gutters>
              <v-col
                cols="12"
                class="cor-titulo text-left font-weight-black mt-2"
                >INFORMAÇÕES PESSOAIS</v-col
              >
              <v-col cols="12">
                <v-text-field
                  name="nome"
                  v-model="form.nome"
                  label="Nome completo"
                  type="text"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  name="cpf"
                  v-model="form.cpf"
                  label="CPF"
                  type="text"
                  inputmode="numeric"
                  v-mask="'###.###.###-##'"
                  :loading="carregando"
                  :disabled="true"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="6" class="pl-2">
                <v-select
                  name="sexo"
                  v-model="form.sexo"
                  :items="sexo"
                  label="Sexo"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  name="email"
                  v-model="form.email"
                  label="E-mail"
                  type="text"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  :disabled="!!form.token"
                  :required="!form.token"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  name="confEmail"
                  v-model="form.confEmail"
                  label="Confirme o e-mail"
                  type="text"
                  :loading="carregando"
                  :rules="[
                    v =>
                      v == form.email ||
                      'E-mail e confirmação devem ser iguais',
                    v => !!v || 'Campo obrigatório!'
                  ]"
                  :disabled="!!form.token"
                  :required="!form.token"
                ></v-text-field>
              </v-col>
              <v-col cols="5">
                <v-text-field
                  name="celular"
                  v-model="form.celular"
                  label="Celular"
                  type="text"
                  inputmode="numeric"
                  v-mask="'(##) #####-####'"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="7" class="pl-2">
                <v-text-field
                  name="dtNascimento"
                  v-model="form.dtNascimento"
                  label="Data de Nascimento"
                  type="text"
                  inputmode="numeric"
                  v-mask="'##/##/####'"
                  :loading="carregando"
                  :rules="[
                    v => !!v || 'Campo obrigatório!',
                    v => validaData(v) || 'Data inválida!'
                  ]"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                class="cor-titulo text-left font-weight-black mt-5"
                >ENDEREÇO</v-col
              >
              <v-col cols="12">
                <v-text-field
                  name="cep"
                  v-model="form.cep"
                  label="CEP"
                  type="text"
                  inputmode="numeric"
                  v-mask="'#####-###'"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  @keyup="mudaCEP()"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="9">
                <v-text-field
                  name="logradouro"
                  v-model="form.logradouro"
                  label="Logradouro"
                  type="text"
                  :disabled="form.cep.length < 9"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="pl-2">
                <v-text-field
                  name="numero"
                  v-model="form.numero"
                  label="Número"
                  type="text"
                  inputmode="numeric"
                  :disabled="form.cep.length < 9"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="5">
                <v-text-field
                  name="bairro"
                  v-model="form.bairro"
                  label="Bairro"
                  type="text"
                  :disabled="form.cep.length < 9"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="7" class="pl-2">
                <v-text-field
                  name="complemento"
                  v-model="form.complemento"
                  label="Complemento"
                  type="text"
                  :disabled="form.cep.length < 9"
                  :loading="carregando || carregandoEndereco"
                ></v-text-field>
              </v-col>
              <v-col cols="9">
                <v-text-field
                  name="cidade"
                  v-model="form.cidade"
                  label="Cidade"
                  type="text"
                  :disabled="form.cep.length < 9"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="pl-2">
                <v-text-field
                  name="uf"
                  v-model="form.uf"
                  label="UF"
                  type="text"
                  v-mask="'AA'"
                  :disabled="form.cep.length < 9"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <div class="mt-8 pb-6 text-center ios-botao-1">
              <v-btn
                class="botao botao-salvar"
                :loading="carregando"
                @click="enviar"
                >Salvar</v-btn
              >
            </div>
          </div>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>
<script>
export default {
  middleware: ["autenticado"],
  head: {
    title: "Alterar Dados"
  },
  data() {
    return {
      form: {
        nome: "",
        cpf: "",
        sexo: "",
        email: "",
        confEmail: "",
        celular: "",
        dtNascimento: "",
        cep: "",
        logradouro: "",
        numero: "",
        bairro: "",
        complemento: "",
        cidade: "",
        uf: "",
        codigoIBGE: ""
      },
      sexo: [
        {
          text: "Masculino",
          value: "M"
        },
        {
          text: "Feminino",
          value: "F"
        },
        {
          text: "Outros",
          value: "O"
        }
      ],
      carregando: false,
      carregandoEndereco: false,
      exibeSenha: false,
      formValido: false,
      cepBuscado: null
    };
  },
  async mounted() {
    this.carregando = true;
    const usuario = this.dadosUsuario;
    this.form.cep = usuario.cep.replace(/^(\d{5})(\d{3}).*/, "$1-$2");
    this.buscarCEP = true;
    await this.mudaCEP();
    this.form = {
      nome: usuario.nome,
      cpf: usuario.cpf.replace(
        /^(\d{3})(\d{3})(\d{3})(\d{2}).*/,
        "$1.$2.$3-$4"
      ),
      sexo: usuario.sexo,
      email: usuario.email,
      confEmail: usuario.email,
      celular: usuario.telefone.replace(
        /^(\d{2})(\d{5})(\d{4}).*/,
        "($1) $2-$3"
      ),
      dtNascimento: usuario.data_nascimento
        ? usuario.data_nascimento
            .replace(/[^0-9]/g, "")
            .slice(0, 8)
            .replace(/(\d{4})(\d{2})(\d{2})/, "$3/$2/$1")
        : null,
      cep: this.form.cep,
      logradouro: usuario.logradouro,
      numero: usuario.numero,
      bairro: usuario.bairro,
      complemento: usuario.complemento,
      codigoIBGE: usuario.codigo_ibge,
      cidade: this.form.cidade,
      uf: this.form.uf
    };
    this.carregando = false;
  },
  methods: {
    async enviar() {
      const valido = this.$refs.form.validate();
      if (valido) {
        this.carregando = true;
        const data = {
          nome: this.form.nome,
          sexo: this.form.sexo,
          email: this.form.email,
          telefone: this.form.celular.replace(/[^0-9]/g, ""),
          numero: this.form.numero,
          logradouro: this.form.logradouro,
          complemento: this.form.complemento,
          data_nascimento: this.form.dtNascimento,
          cep: this.form.cep.replace(/[^0-9]/g, ""),
          codigo_ibge: this.form.codigoIBGE,
          bairro: this.form.bairro,
          cidade: this.form.cidade,
          uf: this.form.uf
        };
        try {
          const res = await this.$networkApi.atualizaDadosCliente(data);
          this.$store.commit("usuario/salvaDados", res.data);
          this.$swal(
            "",
            "Dados cadastrais atualizados com sucesso!",
            "success"
          );

          this.carregando = false;
          this.$router.push("/minhaconta");
        } catch (error) {
          this.carregando = false;
          const mensagem = error.response.data.message
            ? error.response.data.message
            : "Ocorreu um erro inesperado. Por favor, tente novamente.";
          this.$swal("", mensagem, "error");
        }
      }
    },
    validaData(value) {
      return value ? value.length == 10 : false;
    },
    async mudaCEP() {
      if (this.form.cep.length == 9 && this.cepBuscado != this.form.cep) {
        this.cepBuscado = this.form.cep;
        try {
          this.carregandoEndereco = true;
          let res = await this.$networkApi.enderecoPorCEP(
            this.form.cep.replace(/[^0-9]/g, "")
          );
          if (res.data) {
            this.form.logradouro = res.data.logradouro;
            this.form.bairro = res.data.bairro;
            this.form.uf = res.data.uf;
            this.form.cidade = res.data.localidade;
            this.form.complemento = res.data.complemento;
            this.form.codigoIBGE = res.data.ibge;
          }
        } catch (error) {
        } finally {
          this.carregandoEndereco = false;
        }
      }
    }
  },
  watch: {
    email() {
      this.form.email = this.form.email.toLowerCase();
    },
    confEmail() {
      this.form.confEmail = this.form.confEmail.toLowerCase();
    }
  },
  computed: {
    dadosUsuario() {
      return this.$store.getters["usuario/dados"];
    },
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    email() {
      return this.form.email;
    },
    confEmail() {
      return this.form.confEmail;
    },
    destinoLogin() {
      return this.$store.getters["usuario/destinoLogin"];
    }
  }
};
</script>
<style lang="less">
.pg-alterar-dados {
  .check-termo {
    margin-top: 10px;
    padding-top: 0px;
  }

  .botao-salvar {
    background-color: var(--cor4) !important;
  }
  .termos {
    button {
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
      font-size: 15px !important;
      padding: 0 0 !important;
      height: 16px !important;
      min-width: 64px !important;
    }
  }
}
</style>
