<template>
  <div class="pg-minha-conta">
    <v-container
      class="align-start justify-center background"
      style="padding: 14px; padding-bottom: 0; !important; max-width: 600px !important"
      fluid
    >
      <div class="justify-center">
        <div class="text-center texto-descricao">Minha Conta</div>
        <div class="text-center mt-5 mb-8">O que você deseja fazer?</div>
        <div class="mt-8 pb-0 text-center ios-botao-1">
          <v-btn
            class="botao botao-dados-cadastrais"
            @click="$router.push('/minhaconta/alterardados')"
          >
            <div class="svg-icon usuario mr-2"></div>
            Alterar dados cadastrais</v-btn
          >
        </div>
        <div class="mt-8 pb-8 text-center ios-botao-1">
          <v-btn
            class="botao botao-dados-cadastrais"
            @click="$router.push('/minhaconta/alterarsenha')"
          >
            <div class="svg-icon cadeado mr-2"></div>
            Alterar senha de acesso</v-btn
          >
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  middleware: ["autenticado"],
  head: {
    title: "Minha Conta",
  },
};
</script>
<style lang="less">
.pg-minha-conta {
  .botao-dados-cadastrais {
    background-color: var(--cor4) !important;
  }

  .svg-icon.usuario {
    height: 30px;
    width: 24px;
    background-color: #ffffff;
  }
  .svg-icon.cadeado {
    height: 30px;
    width: 26px;
    background-color: #ffffff;
  }
}
</style>
