<template>
  <div class="pg-contato">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 14px !important"
      fluid
    >
      <div class="cor-titulo font-weight-black texto-descricao mb-3">
        Contato
      </div>
      <div class="cor-titulo">
        <div class="font-weight-black">Olá {{ primeiroNome }}!</div>
        <div class="mt-2">Estamos sempre interessados em te ouvir!</div>
        <div class="mt-2">
          Digite a sua dúvida, sugestão ou reclamação. Caso necessário, nossa
          equipe poderá entrar em contato com você para te ajudar!
        </div>
      </div>
      <v-card elevation="0" class="mx-auto mt-5" max-width="600">
        <v-form ref="form" @keyup.enter.native="enviar" v-model="formValido">
          <div>
            <v-row no-gutters>
              <v-col cols="12">
                <v-textarea
                  name="feedback"
                  outlined
                  v-model="form.feedback"
                  height="300"
                  label="Digite a sua dúvida, sugestão ou reclamação"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  :loading="carregando"
                ></v-textarea>
              </v-col>
            </v-row>
            <div class="mt-8 pb-6 text-center ios-botao-1">
              <v-btn
                class="botao botao-enviar-mensagem"
                :loading="carregando"
                @click="enviar"
                >Enviar mensagem</v-btn
              >
            </div>
          </div>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>
<script>
export default {
  middleware: ["autenticado"],
  head: {
    title: "Contato"
  },
  data() {
    return {
      form: {
        feedback: ""
      },
      carregando: false,
      formValido: false
    };
  },
  methods: {
    async enviar() {
      const valido = this.$refs.form.validate();
      if (valido) {
        this.carregando = true;
        const data = {
          versao_app: "web",
          feedback: this.form.feedback
        };
        try {
          const res = await this.$networkApi.enviarFeedback(data);
          this.$swal("", "A sua mensagem foi enviada com sucesso!", "success");
          this.carregando = false;
          this.$router.push("/");
        } catch (error) {
          this.carregando = false;
          const mensagem = error.response.data.message
            ? error.response.data.message
            : "Ocorreu um erro inesperado. Por favor, tente novamente.";
          this.$swal("", mensagem, "error");
        }
      }
    }
  },
  computed: {
    primeiroNome() {
      return this.$store.getters["usuario/primeiroNome"];
    }
  }
};
</script>
<style lang="less">
.pg-contato {
  .botao-enviar-mensagem {
    background-color: var(--cor4) !important;
  }
  .termos {
    button {
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
      font-size: 15px !important;
      padding: 0 0 !important;
      height: 16px !important;
      min-width: 64px !important;
    }
  }
}
</style>
