<template>
  <v-footer
    color="rgb(0 0 0 / 0%)"
    fixed
    class=""
    v-if="
      exibeAvisoCookie ||
        exibeAvisoInstalar ||
        exibeAvisoCheckoutPendente ||
        exibeAvisoAtalhoIOS
    "
  >
    <v-container
      v-if="exibeAvisoCheckoutPendente"
      pa-0
      ma-0
      mb-1
      class="d-flex align-center justify-center aviso-checkout-pendente"
      :style="exibeMargem ? 'margin-left: 265px !important;' : ''"
    >
      <v-card class="" width="700" elevation="5">
        <div
          class="my-3"
          :class="$vuetify.breakpoint.mobile ? 'd-block' : 'd-flex'"
        >
          <div class="aviso mx-3">
            Oie, que legal! Identificamos um pagamento pendente para esta
            sessão, para finalizar sua compra e participar do sorteio
          </div>
          <div
            class="text-center ios-botao-1 d-flex align-center justify-center mx-3"
            :class="$vuetify.breakpoint.mobile ? 'mt-3' : ''"
          >
            <v-btn
              class="botao botao-aceitar"
              @click="redirecionaCheckoutPendente"
              >Clique aqui</v-btn
            >
          </div>
        </div>
      </v-card>
    </v-container>

    <v-container
      v-if="exibeAvisoInstalar"
      pa-0
      ma-0
      mb-1
      class="d-flex align-center justify-center"
      :style="exibeMargem ? 'margin-left: 265px !important;' : ''"
    >
      <v-card class="aviso-instalar" width="700" elevation="5">
        <div
          class="d-flex justify-space-between"
          style="margin-bottom: -26px;  margin-top: -4px;  margin-right: -5px;"
        >
          <div></div>
          <v-btn
            icon
            @click="exibeAvisoInstalar = false"
            style="transform: scale(0.7);"
          >
            <v-icon color="#c3c3c3">mdi-close-circle-outline</v-icon>
          </v-btn>
        </div>
        <div
          class="my-3 d-flex align-center justify-space-between"
          :class="$vuetify.breakpoint.mobile ? 'd-block' : 'd-flex'"
        >
          <div class="aviso mx-3">
            <b>Novidade!</b> <br />
            Agora você pode criar um atalho e facilitar suas próximas compras.
          </div>
          <div
            class="text-center ios-botao-1 d-flex align-center justify-center mx-3"
            :class="$vuetify.breakpoint.mobile ? '' : ''"
          >
            <v-btn class="botao botao-aceitar" @click="instalar"
              >Eu quero!</v-btn
            >
          </div>
        </div>
      </v-card>
    </v-container>

    <v-container
      v-if="exibeAvisoCookie"
      pa-0
      ma-0
      mb-1
      class="d-flex align-center justify-center"
      :style="exibeMargem ? 'margin-left: 265px !important;' : ''"
    >
      <v-card class="aviso-cookies" width="700" elevation="5">
        <div
          class="my-3"
          :class="$vuetify.breakpoint.mobile ? 'd-block' : 'd-flex'"
        >
          <div class="aviso mx-3">
            <b>Loja {{ this.pracaConfig.nome }}:</b> a gente usa cookies para
            personalizar anúncios e melhorar a sua experiência no site. Ao
            continuar navegando, você concorda com a nossa
            <a @click="abrePoliticaDePrivacidade" style="color: var(--cor4)"
              >Política de Privacidade</a
            >.
          </div>
          <div
            class="text-center ios-botao-1 d-flex align-center justify-center mx-3"
            :class="$vuetify.breakpoint.mobile ? 'mt-3' : ''"
          >
            <v-btn class="botao botao-aceitar" @click="aceitar"
              >Continuar e fechar</v-btn
            >
          </div>
        </div>
      </v-card>
    </v-container>

    <v-container
      v-if="exibeAvisoAtalhoIOS"
      pa-0
      ma-0
      mb-1
      class="d-flex align-center justify-center"
      :style="exibeMargem ? 'margin-left: 265px !important;' : ''"
    >
      <v-card class="aviso-atalho-ios" width="700" elevation="5">
        <div
          class="d-flex justify-space-between"
          style="margin-bottom: -26px;  margin-top: -4px;  margin-right: -5px;"
        >
          <div></div>
          <v-btn
            icon
            @click="exibeAvisoAtalhoIOS = false"
            style="transform: scale(0.7);"
          >
            <v-icon color="#c3c3c3">mdi-close-circle-outline</v-icon>
          </v-btn>
        </div>
        <div
          class="my-3 d-flex align-center justify-space-between"
          :class="$vuetify.breakpoint.mobile ? 'd-block' : 'd-flex'"
        >
          <div class="aviso mx-3">
            <b>Novidade!</b> <br />
            Agora você pode criar um atalho no seu Iphone e facilitar suas
            próximas compras. Clique em <i>Compartilhar:</i>
            <img
              src="/imagens/diversas/share-ios.svg"
              style="margin-bottom: -6px; height: 21px;"
              class="mx-1"
            />
            e depois em <i>Tela de Início:</i>
            <img
              src="/imagens/diversas/add-home-ios.svg"
              style="margin-bottom: -6px; height: 21px;"
              class="mx-1"
            />
          </div>
        </div>
        <div class="d-flex justify-center">
          <div class="triangulo"></div>
        </div>
      </v-card>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  name: "avisos-rodape",
  data() {
    return {
      menu: true,
      exibeAvisoInstalar: false,
      exibeAvisoAtalhoIOS: false,
      exibeAvisoCheckoutPendente: false,
      instalou: false,
      deferredPrompt: null
    };
  },
  mounted() {
    this.exibeAvisoAtalhoIOS = this.verificaIOS();
    let deferredPrompt;
    window.addEventListener("beforeinstallprompt", e => {
      e.preventDefault();
      this.deferredPrompt = e;
      if (!this.instalou) {
        this.exibeAvisoInstalar = true;
      }
    });
    if (this.$route.path.toLowerCase() == "/comprar/processapagamento/") {
      this.limpaCheckoutPendente();
    }
    this.alteraAvisoCheckoutPendente();
  },
  watch: {
    ignoraCheckoutPendente() {
      this.alteraAvisoCheckoutPendente();
    },
    checkoutPendente() {
      this.alteraAvisoCheckoutPendente();
    }
  },
  methods: {
    verificaIOS() {
      const userAgent = window.navigator.userAgent.toLowerCase();
      return /iphone|ipad|ipod/.test(userAgent);
    },
    alteraAvisoCheckoutPendente() {
      this.exibeAvisoCheckoutPendente =
        !!this.checkoutPendente && !this.ignoraCheckoutPendente;
    },
    redirecionaCheckoutPendente() {
      this.limpaCheckoutPendente();
      this.$router.push(
        `/comprar/processapagamento?order=${this.checkoutPendente.orderId}`
      );
    },
    limpaCheckoutPendente() {
      this.$store.commit("compra/ignorarCheckoutPendente");
      this.$store.commit("compra/salvaTransacaoPendente", null);
    },
    abrePoliticaDePrivacidade() {
      const obj = {
        aberto: true,
        titulo: "Política de Privacidade",
        link: this.aparencia.politica_privacidade
      };
      this.$store.commit("layout/alteraDialogArquivoHTML", obj);
    },
    aceitar() {
      const obj = {
        idPracaAceito: this.pracaConfig.idPraca
      };
      this.$store.commit("layout/alteraAvisoCookie", obj);
    },
    instalar() {
      this.exibeAvisoInstalar = false;
      this.deferredPrompt.prompt();
      this.deferredPrompt.userChoice.then(choiceResult => {
        if (choiceResult.outcome === "accepted") {
          this.exibeAvisoInstalar = false;
          this.instalou = true;
        } else if (choiceResult.outcome === "dismissed") {
          this.exibeAvisoInstalar = true;
        }
      });
    }
  },
  computed: {
    exibeAvisoCookie() {
      return (
        !this.avisoCookie.idPracaAceito ||
        this.avisoCookie.idPracaAceito != this.pracaConfig.idPraca
      );
    },
    exibeMargem() {
      return (
        !this.$vuetify.breakpoint.mobile &&
        this.$store.getters["layout/menuAberto"]
      );
    },
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    avisoCookie() {
      return this.$store.getters["layout/avisoCookie"];
    },
    pracaConfig() {
      return this.$store.getters["praca/config"];
    },
    checkoutPendente() {
      return this.$store.getters["compra/checkoutPendente"];
    },
    ignoraCheckoutPendente() {
      return this.$store.getters["compra/ignoraCheckoutPendente"];
    }
  }
};
</script>
<style lang="less">
.aviso-cookies {
  .aviso {
    font-size: 12px;
  }
  .botao-aceitar {
    background-color: var(--cor4) !important;
  }
}
.aviso-checkout-pendente {
  .aviso {
    font-size: 12px;
  }
  .theme--light.v-card {
    background-color: var(--cor2) !important;
  }
  .botao-aceitar {
    background-color: var(--cor3) !important;
  }
}
.aviso-instalar {
  .aviso {
    font-size: 12px;
  }
  .botao-aceitar {
    background-color: var(--cor4) !important;
  }
}
.aviso-atalho-ios {
  margin-bottom: 12px;
  .aviso {
    font-size: 12px;
  }
  .triangulo {
    margin-bottom: -18px;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 19px solid #ffffff;
  }
}
</style>
