<template>
  <v-dialog
    v-bind:value="dialogCapturarLeadAberto"
    v-on:input="fechar()"
    width="450"
    persistent
  >
    <v-card>
      <div>
        <div class="d-flex justify-space-between" style="margin-bottom: -30px">
          <div></div>
          <div>
            <v-btn icon @click="fechar()">
              <v-icon color="var(--corF1)">mdi-close-circle-outline</v-icon>
            </v-btn>
          </div>
        </div>
      </div>
      <v-card-title
        class="cp-capturar-lead pb-0 d-flex text-center justify-center align-center py-10"
      >
        <div>
          <img :src="config.imagens.logoProjeto" class="logo-projeto mb-3" />
        </div>
      </v-card-title>

      <v-card-text class="cp-capturar-lead">
        <div>
          <div class="texto">
            Para começar a concorrer, informe seus dados abaixo
          </div>
          <div>
            <v-form
              ref="form"
              @keyup.enter.native="enviar"
              v-model="formValido"
            >
              <div class="py-8">
                <v-text-field
                  name="cpf"
                  v-model="form.cpf"
                  label="CPF"
                  type="text"
                  inputmode="numeric"
                  v-mask="'###.###.###-##'"
                  :loading="carregando"
                  :rules="[
                    v => !!v || 'Campo obrigatório!',
                    v => validaCPF(v) || 'CPF Inválido!'
                  ]"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="form.email"
                  name="email"
                  autocomplete="off"
                  label="E-mail"
                  type="text"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  :required="!form.token"
                ></v-text-field>
              </div>
              <div class="ios-botao-1 pb-8">
                <v-btn
                  class="botao botao-continuar"
                  @click="enviar()"
                  :loading="carregando"
                  >Continuar</v-btn
                >
              </div>
            </v-form>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import moment from "moment";
export default {
  name: "capturar-lead",
  data() {
    return {
      formValido: false,
      carregando: false,
      form: {
        cpf: "",
        email: ""
      }
    };
  },
  watch: {
    "form.email"() {
      this.form.email = this.form.email.trim().toLowerCase();
    }
  },
  mounted() {
    if (
      ((this.$route.query.pdv_code && this.$route.query.pdv_source) ||
        this.$route.query.c) &&
      !this.logado
    ) {
      let pdv_code;
      let pdv_source;
      const dataLimite = moment()
        .add(2, "days")
        .endOf("day")
        .toISOString();
      if (this.$route.query.pdv_code && this.$route.query.pdv_source) {
        pdv_code = this.$route.query.pdv_code;
        pdv_source = this.$route.query.pdv_source;
      } else if (this.$route.query.c) {
        pdv_code = this.$route.query.c;
        pdv_source = "app-pdv";
      }
      this.$store.commit("usuario/salvaCapturaLeadPersistente", {
        pdv_code,
        pdv_source,
        dataLimite
      });
    }
  },
  computed: {
    config() {
      return this.$store.getters["praca/config"];
    },
    dialogCapturarLeadAberto() {
      return this.$store.getters["layout/dialogCapturarLeadAberto"];
    },
    pracaConfig() {
      return this.$store.getters["praca/config"];
    },
    logado() {
      return this.$store.getters["usuario/logado"];
    },
    capturaLeadPersistente() {
      return this.$store.getters["usuario/capturaLeadPersistente"];
    }
  },
  components: {
    EmManutencao: () => import("@/components/lottie/Manutencao")
  },
  methods: {
    fechar() {
      this.$store.commit("layout/alteraDialogCapturarLeadAberto", false);
    },
    async enviar() {
      if (this.$refs.form.validate()) {
        this.carregando = true;
        let pdv_code;
        let pdv_source;
        try {
          if (this.capturaLeadPersistente) {
            pdv_code = this.capturaLeadPersistente.pdv_code;
            pdv_source = this.capturaLeadPersistente.pdv_source;
          } else {
            if (this.$route.query.pdv_code && this.$route.query.pdv_source) {
              pdv_code = this.$route.query.pdv_code;
              pdv_source = this.$route.query.pdv_source;
            } else if (this.$route.query.c) {
              pdv_code = this.$route.query.c;
              pdv_source = "app-pdv";
            }
          }

          const praca_id = this.pracaConfig.idPraca;
          const cpf = this.form.cpf.replace(/[^0-9]/g, "");
          const email = this.form.email;
          const res = await this.$networkApi.pdvConsultaCadastro({
            praca_id,
            pdv_code,
            pdv_source,
            cpf,
            email
          });
          const { codigo, nome } = res.data.vendedor;
          this.$store.commit("usuario/salvaDadosVendedorLead", {
            cpf,
            codigo,
            nome
          });
          this.$store.commit("usuario/salvaDadosCapturaLead", { cpf, email });
          this.$router.push(`/?area=quero-concorrer`);
        } catch (error) {
          let mensagem = "Ocorreu um erro, entre em contato conosco.";
          if (
            error.response &&
            error.response.data &&
            error.response.data.error &&
            error.response.data.error.message
          ) {
            if (
              error.response.data.error.message[0] &&
              error.response.data.error.message[0].message
            ) {
              mensagem = error.response.data.error.message[0].message;
            } else {
              mensagem = error.response.data.error.message;
            }
          }
          this.$swal("", mensagem, "warning");
        } finally {
          this.$store.commit("usuario/salvaCapturaLeadPersistente", null);
          this.fechar();
        }
        this.carregando = false;
      }
    },
    validaCPF: value => {
      value = value.replace(/[^0-9]/g, "");
      if (value && value.length < 11) return true;
      if (!value) return true;
      value = value.toString();
      var Soma;
      var Resto;
      var i = 0;
      Soma = 0;
      if (value == "00000000000") return false;

      for (i = 1; i <= 9; i++)
        Soma = Soma + parseInt(value.substring(i - 1, i)) * (11 - i);
      Resto = (Soma * 10) % 11;

      if (Resto == 10 || Resto == 11) Resto = 0;
      if (Resto != parseInt(value.substring(9, 10))) return false;

      Soma = 0;
      for (i = 1; i <= 10; i++)
        Soma = Soma + parseInt(value.substring(i - 1, i)) * (12 - i);
      Resto = (Soma * 10) % 11;

      if (Resto == 10 || Resto == 11) Resto = 0;
      if (Resto != parseInt(value.substring(10, 11))) return false;
      return true;
    }
  }
};
</script>
<style lang="less">
.cp-capturar-lead {
  .logo-projeto {
    max-width: 200px;
  }
  .texto {
    font-size: 18px;
  }

  .botao-continuar {
    background-color: var(--cor4) !important;
    width: -webkit-fill-available;
  }
}
</style>
