<template>
  <v-container
    v-if="!loading"
    class="pa-0 grey lighten-4 elevation-5"
    style="border-radius: 10px"
    :class="customClass"
  >
    <v-layout
      row
      align-center
      class="ma-0 grey lighten-4 px-3"
      style="height: 60px"
      :style="barClass"
    >
      <v-flex xs6 class="subheading">
        <div
          class="text-left"
          style="font-size: 20px; font-weight: 900; color: var(--titulo1)"
        >
          Número <br />
          da sorte
        </div>
      </v-flex>

      <!-- <v-flex xs3 class="white--text font-weight-bold " style="font-size: 12px">
        <div class=" text-xs-center text-xs-right">Chance</div>
        <div class="text-xs-right" v-if="message">*</div>
        <div class="text-xs-right" v-else>{{ id }}</div>
      </v-flex> -->
      <v-flex xs6 class="white--text font-weight-bold" style="font-size: 24px">
        <!-- <div class="text-xs-right">1 Chance por</div> -->
        <div class="text-center">{{ price | formatCurrency }}</div>
      </v-flex>
    </v-layout>
    <v-layout row wrap align-center class="pt-1 px-4" style="height: 64px">
      <v-flex
        text-center
        xs2
        v-for="(i, j) in certificate"
        :key="j"
        class="pa-0 certNumber"
      >
        <span>{{ i }}</span>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  props: {
    length: {
      type: Number
    },
    current: {
      type: Boolean
    },
    isLottery: {
      type: Boolean
    },
    id: {
      type: String
    },
    certificate: {
      type: Array
    },
    price: {
      type: Number
    },

    numeroSorte: {
      type: String
    },
    customClass: {
      type: String,
      default: "cp-card"
    },
    pos: {
      type: Number
    },
    message: {
      type: String
    },
    id: {
      type: String
    }
  },

  data() {
    return {
      barClass: null,
      loading: true
    };
  },

  methods: {
    range: function(min, max) {
      let array = [],
        j = 0;
      for (let i = min; i <= max; i++) {
        array[j] = i;
        j++;
      }
      return array;
    }
  },
  mounted() {
    let primary = this.$vuetify.theme.primary;
    this.barClass = `background: linear-gradient(60deg, #f5f5f5 46%, var(--titulo1) 0%);border-top-right-radius: 10px; border-top-left-radius: 10px;`;
    this.loading = false;
  }
};
</script>

<style scoped>
.font {
  font-family: "Roboto", sans-serif !important;
}

.certNumber {
  font-size: 40px;
  font-weight: 900;
  color: #424242;
}
.button-1 {
  font-size: 23px;
  border: 3px solid#2196F3 !important;
  background-color: #f5f5f5;
}

.button-2 {
  font-size: 23px;
  border: 3px solid#065ea7 !important;
  background-color: #f5f5f5;
}
.button-success {
  background-color: #005ba5 !important;
  font-size: 23px;
  color: white !important;
}

.cp-card-md {
  cursor: pointer;
  height: auto;
  width: 300px;
  border-radius: 5px;
  z-index: 1;
  transform: rotateY(0deg);
  transition-duration: 0.2s;
}

.alternative {
  background: #9fcfff !important;
}

.cp-card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.cp-card-md:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
</style>
