<template>
  <div
    :class="[
      customClass,
      'grey lighten-4',
      'font',
      !current ? (pos == 1 ? 'secondary' : 'third') : ''
    ]"
  >
    <v-container
      :class="[
        'pt-0 pb-3 round',
        customClass == 'cp-card' || 'cp-card-md' ? 'pl-3 pr-3 ' : 'pl-3 pr-3'
      ]"
    >
      <v-layout row class="lighten-2 pt-1 pr-2" :style="getStyle('bar', id)">
        <v-flex xs5 class="subheading pa-0 pl-2 pt-2">
          <div class="font-weight-bold text-xs-left" style="font-size: 18px">
            {{ numeroSorte }}
          </div>
          <div class="text-left" style="font-size: 11px">Número da sorte</div>
        </v-flex>

        <v-flex xs3 class="white--text pr-2" style="font-size: 14px">
          <div class="font-weight-bold text-xs-center text-right">Chance</div>
          <div class="headline font-weight-bold text-right" v-if="message">
            *
          </div>
          <div class="body-2 text-right" v-else>{{ id }}</div>
        </v-flex>
        <v-flex xs4 class="white--text pt-1">
          <div class="text-right" style="font-size: 11px">
            {{ length }} Chances por:
          </div>
          <div class="text-right">{{ price | formatCurrency }}</div>
        </v-flex>
      </v-layout>
      <v-layout row wrap class="grey lighten-4 mt-2">
        <v-flex
          xs12
          v-if="message"
          class="text-center caption grey--text text--darken-3"
          v-html="message"
        ></v-flex>
        <v-flex
          text-xs-center
          xs3
          v-for="(i, j) in certificate"
          :key="j"
          style="padding-left: 2px"
        >
          <v-btn
            fab
            small
            text
            class="ma-1"
            :style="getStyle('button', id)"
            style="font-size: 10px !important; color: #565656"
            >{{ i }}</v-btn
          >
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
export default {
  name: "cp-card",

  props: {
    length: {
      type: Number
    },
    current: {
      type: Boolean
    },
    isLottery: {
      type: Boolean
    },
    id: {
      type: String
    },
    certificate: {
      type: Array
    },
    price: {
      type: Number
    },

    numeroSorte: {
      type: String
    },
    customClass: {
      type: String,
      default: "cp-card"
    },
    pos: {
      type: Number
    },
    message: {
      type: String
    }
  },
  methods: {
    range: function(min, max) {
      let array = [],
        j = 0;
      for (let i = min; i <= max; i++) {
        array[j] = i;
        j++;
      }
      return array;
    },
    getStyle(type, id) {
      let primaryDark = "#EA9307";
      let accentDark = "#EA9307";
      let accent = "#2196F3";

      let color = "";

      if (type == "bar") {
        return ` background: linear-gradient(60deg, #f5f5f5 40%, var(--titulo${id}) 40%, var(--titulo${id}) 100%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;`;
      }
      if (type == "button") {
        return ` font-size: 23px; border: 3px solid var(--titulo${id}) !important; background-color: #f5f5f5;`;
      }
      return "";
    }
  },
  computed: {
    cert: function() {
      return this.certificate;
    },

    smartphone() {
      return this.$vuetify.breakpoint.xsOnly;
    }
  }
};
</script>

<style scoped>
.font {
  font-family: "Roboto", sans-serif !important;
}

.button-1 {
  font-size: 23px;
  border: 3px solid#2196F3 !important;
  background-color: #f5f5f5;
}

.button-2 {
  font-size: 23px;
  border: 3px solid#065ea7 !important;
  background-color: #f5f5f5;
}
.button-success {
  background-color: #005ba5 !important;
  font-size: 23px;
  color: white !important;
}

.cp-card-md {
  /* position: absolute; */
  cursor: pointer;
  height: auto;
  /* metade da width */
  left: calc(50% - 125px);
  width: 250px;

  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 1;
  transform: rotateY(0deg);
  transition-duration: 0.2s;
}

.cp-card {
  position: absolute;
  cursor: pointer;
  height: auto;
  /* metade da width */
  left: calc(50% - 125px);
  width: 250px;

  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 1;
  transform: rotateY(0deg);
  transition-duration: 0.2s;
}
.v-application .secondary.lighten-4 {
  background-color: #f5f5f5 !important;
}

.secondary {
  z-index: 0;
  background: #f5f5f5;
  left: calc(50.5% - 125px);
  transform: rotateZ(3deg) !important;
  transition-duration: 0.2s;
}

.secondary:not(.alternative) {
  background: #f5f5f5 !important;
}

.cp-card.secondary:hover {
  transform: rotateZ(8deg);
  transition-duration: 0.5s;
}

.cp-card.third:hover {
  transform: rotateZ(-8deg);
  transition-duration: 0.5s;
}

.third {
  z-index: 0;
  background: #f5f5f5;
  left: calc(50% - 125px);
  transform: rotateZ(-4deg) !important;
  transition-duration: 0.2s;
}

.third:not(.alternative) {
  background: #f5f5f5 !important;
}

.alternative {
  background: #9fcfff !important;
}

.cp-card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.cp-card-md:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
</style>
