<template>
  <v-dialog
    :content-class="$vuetify.breakpoint.xsOnly ? '' : 'dialog-2'"
    :fullscreen="$vuetify.breakpoint.xsOnly"
    :width="$vuetify.breakpoint.xsOnly ? '100%' : ''"
    :height="$vuetify.breakpoint.xsOnly ? '100%' : ''"
    hide-overlay
    transition="scroll-x-transition"
    v-bind:value="dialogComoFuncionaAberto"
    v-on:input="fechar()"
  >
    <v-card rounded="0" class="fill-height align-center justify-center">
      <div class="como-funciona fill-height">
        <div>
          <div class="d-flex justify-space-between fechar">
            <div></div>
            <v-btn icon @click="fechar()">
              <v-icon color="#fff">mdi-close-circle-outline</v-icon>
            </v-btn>
          </div>
        </div>
        <v-carousel
          v-model="pagina"
          hide-delimiter-background
          :show-arrows="false"
          :dark="true"
          :continuous="false"
          height="100%"
        >
          <v-carousel-item class="slide-1">
            <v-container
              class="background fill-height align-start justify-center text-center white--text"
              fluid
            >
              <div class="mt-2 slide">
                <div class="texto-1 font-weight-black">
                  Quer concorrer a prêmios <br />
                  e sentir a emoção do <br />
                  sorteio ao vivo?
                </div>
                <div class="mt-5">Compre o {{nomeProdutoSingular}} e ajude quem precisa!</div>
                <div class="mt-5 mb-8 text-center">
                  <img
                    :src="config.imagens.comoParticiparImgSlide1"
                    class="img-principal"
                  />
                </div>
                <div class="d-flex justify-space-around align-center">
                  <div>
                    <img
                      :src="config.imagens.logoProjeto"
                      class="logo-projeto"
                    />
                  </div>
                  <div>
                    <img
                      :src="config.imagens.logoEntidadeQuadro"
                      class="logo-entidade-quadro"
                    />
                  </div>
                </div>
              </div>
            </v-container>
          </v-carousel-item>
          <v-carousel-item class="slide-2">
            <v-container
              class="background fill-height align-start justify-center text-center white--text"
              fluid
            >
              <div class="mt-2 slide">
                <div class="texto-1">
                  Acerte todas as combinações <br />e ganhe o prêmio!
                </div>
                <div class="mt-5">
                  Escolha com quantos {{nomeProdutoPlural}}
           quer concorrer. Cada {{nomeProdutoSingular}}
           tem uma combinação diferente.
                </div>
                <div class="mt-5 mb-8 text-center">
                  <img
                    :src="config.imagens.comoParticiparImgSlide2"
                    class="img-principal"
                  />
                </div>
              </div>
            </v-container>
          </v-carousel-item>
          <v-carousel-item class="slide-3">
            <v-container
              class="background fill-height align-start justify-center text-center white--text"
              fluid
            >
              <div class="mt-2 slide">
                <div class="texto-1">
                  Escolha como prefere pagar e comece a concorrer
                </div>
                <div class="mt-5">
                  Só precisa fazer o cadastro uma vez e poderá concorrer toda
                  vez que sentir a sorte por perto. Você poderá consultar seus
                 {{nomeProdutoPlural}} a qualquer hora.
                </div>
                <div class="mt-5 mb-8 text-center">
                  <img
                    src="/imagens/slides-como-funciona/img_slide3.png"
                    class="img-principal"
                  />
                </div>
              </div>
            </v-container>
          </v-carousel-item>
          <v-carousel-item class="slide-4">
            <v-container
              class="background fill-height align-start justify-center text-center white--text"
              fluid
            >
              <div class="mt-2 slide">
                <div class="texto-1">
                  Acompanhe o sorteio<br />
                  ao vivo e torça!
                </div>
                <div class="mt-5">
                  No dia do sorteio prepare-se para torcer com todos os seus
                  números da sorte! Assista ao vivo e concorra a todos os
                  prêmios anunciados! Vamos lá?
                </div>
                <div class="mt-5 mb-2 text-center">
                  <img
                    src="/imagens/slides-como-funciona/img_slide4.png"
                    class="img-principal"
                  />
                </div>
                <div class="mt-2 slide">
                  Sorteio ao vivo pelos canais oficias no Youtube ou Facebook
                </div>
              </div>
            </v-container>
          </v-carousel-item>
          <v-carousel-item class="slide-5">
            <v-container
              class="background fill-height align-start justify-center text-center white--text"
              fluid
            >
              <div class="mt-2 slide">
                <div class="texto-1">
                  Você ajuda quem<br />
                  mais precisa
                </div>

                <div class="mt-5">
                  Toda compra de {{nomeProdutoSingular }} ajuda uma causa social pois parte do
                  valor é revertido para a Instituição.
                </div>
                <div class="mt-5 mb-2 text-center">
                  <img
                    src="/imagens/slides-como-funciona/img_slide5.png"
                    class="img-principal"
                  />
                </div>
                <div
                  class="my-2"
                  v-if="
                    config.textos.textoBemVindo &&
                      config.textos.textoBemVindo.length > 0
                  "
                  v-html="config.textos.textoBemVindo"
                ></div>
                <div class="mt-2 slide">
                  <v-btn
                    rounded
                    text
                    class="my-2 elevation-0 text-decoration-underline"
                    @click="verRegulamento()"
                  >
                    Consulte o Regulamento
                  </v-btn>
                </div>
              </div>
            </v-container>
          </v-carousel-item>
        </v-carousel>
        <div class="acoes d-flex justify-space-between">
          <div>
            <v-btn
              v-if="pagina > 0"
              color="white"
              text
              rounded
              class="my-2"
              @click="mudarPagina(-1)"
              >Voltar</v-btn
            >
          </div>
          <div>
            <v-btn
              v-if="pagina < 4"
              color="white"
              text
              rounded
              class="my-2"
              @click="mudarPagina(+1)"
              >Próximo</v-btn
            >
          </div>
        </div>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "dialog-como-funciona",
  data() {
    return {
      pagina: 0
    };
  },
  props: {
    premio: {
      type: String,
      required: false
    }
  },
  watch: {
    dialogComoFuncionaAberto(value) {
      if (!value) {
        setTimeout(() => {
          this.pagina = 0;
        }, 500);
      }
    }
  },
  computed: {
    dialogComoFuncionaAberto() {
      return this.$store.getters["layout/dialogComoFuncionaAberto"];
    },
    config() {
      return this.$store.getters["praca/config"];
    },
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    nomeProdutoSingular() {
      return this.$store.getters["praca/nomeProdutoSingular"].toLowerCase();
    },
    nomeProdutoPlural() {
      return this.$store.getters["praca/nomeProdutoPlural"].toLowerCase();
    },
  },
  methods: {
    verRegulamento() {
      if (this.aparencia.termos_de_uso) {
        this.$store.commit("layout/alteraDialogArquivoHTML", {
          aberto: true,
          titulo: "Regulamento",
          link: this.aparencia.regulamento
        });
      }
    },
    mudarPagina(tipo) {
      if (tipo == +1 && this.pagina < 4) {
        this.pagina++;
      }
      if (tipo == -1 && this.pagina > 0) {
        this.pagina--;
      }
    },
    fechar() {
      this.$store.commit("layout/alteraDialogComoFuncionaAberto", false);
    }
  }
};
</script>

<style lang="less">
.dialog-2 {
  width: 360px !important;
  height: 83vh !important;
  max-height: 625px !important;
  min-height: 545px !important;
}
.como-funciona {
  .texto-1 {
    font-size: 20px;
  }
  .slide {
    height: 590px;
  }

  .img-principal {
    max-height: 280px;
    min-width: 215px;
    max-width: 32vh;
  }
  .slide-1 {
    .background {
      background: linear-gradient(45deg, #73c9e6 0%, #4594ff 100%);
    }
    .logo-projeto {
      max-width: 160px;
      max-height: 90px;
    }
    .logo-entidade {
      max-width: 80px;
      max-height: 55px;
    }
    .logo-entidade-quadro {
      max-width: 130px;
      max-height: 90px;
    }
  }
  .slide-2 {
    .background {
      background: linear-gradient(45deg, #ff85ac 0%, #f7931e 100%);
    }
  }
  .slide-3 {
    .background {
      background: linear-gradient(45deg, #d9e021 0%, #00bf96 100%);
    }
  }
  .slide-4 {
    .background {
      background: linear-gradient(45deg, #f7931e 0%, #db2e30 100%);
    }
  }
  .slide-5 {
    .background {
      background: linear-gradient(45deg, #c873ff 0%, #93278f 100%);
    }
    button {
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
      position: relative;
      z-index: 1;
    }
  }
  .v-carousel__controls {
    transform: scale(0.6);
    .v-btn--icon.v-size--small {
      height: 24px;
      width: 24px;
    }
    .v-btn .v-btn__content .v-icon {
      opacity: 1;
    }
    .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active {
      opacity: 1;
      color: var(--corF1);
    }
    .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
      opacity: 1;
      color: var(--corF1);
    }
  }
  .fechar {
    margin-bottom: -38px;
    button {
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
      position: relative;
      z-index: 1;
    }
  }
  .acoes {
    margin-top: -44px;
    margin-bottom: 6px;

    button {
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
      position: relative;
      z-index: 1;
    }
  }
}
</style>
