<template>
  <div class="cp-dialog-arquivo-html">
    <v-dialog
      v-bind:value="dialogArquivoHTML.aberto"
      v-on:input="fechar($event)"
      :width="$vuetify.breakpoint.mobile ? '100%' : '70%'"
      :fullscreen="$vuetify.breakpoint.mobile"
      class="dialog"
    >
      <v-card>
        <div class="d-flex justify-space-between" style="margin-bottom: -30px">
          <div></div>
          <div>
            <v-btn icon @click="fechar(false)">
              <v-icon color="var(--corF1)">mdi-close-circle-outline</v-icon>
            </v-btn>
          </div>
        </div>
        <v-card-title
          class="pb-0"
          :class="
            $vuetify.breakpoint.mobile ? 'subheading font-weight-bold' : 'title'
          "
        >
          {{ dialogArquivoHTML.titulo }}
        </v-card-title>
        <v-card-text>
          <v-layout v-if="dialogArquivoHTML.link" row wrap>
            <v-layout row wrap>
              <v-flex xs12>
                <v-card flat>
                  <iframe
                    :style="
                      `display: block; width: 100%; height:${
                        $vuetify.breakpoint.mobile ? '90vh' : '60vh'
                      }`
                    "
                    height="100%"
                    width="100%"
                    frameborder="0"
                    :src="dialogArquivoHTML.link"
                  ></iframe>
                </v-card>
              </v-flex>
            </v-layout>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "dialog-arquivo-html",
  data() {
    return {
      pagina: 0
    };
  },
  props: {
    premio: {
      type: String,
      required: false
    }
  },
  computed: {
    dialogArquivoHTML() {
      return this.$store.getters["layout/dialogArquivoHTML"];
    }
  },
  methods: {
    fechar(event) {
      if (event == false) {
        this.$store.commit("layout/alteraDialogArquivoHTML", event);
      }
    }
  }
};
</script>

<style lang="less">
.cp-dialog-arquivo-html {
  overflow: hidden;
}
</style>
