<template>
  <v-dialog
    v-bind:value="dialogIframe.aberto"
    v-on:input="fechar($event)"
    :width="$vuetify.breakpoint.mobile ? '100%' : '70%'"
    :fullscreen="$vuetify.breakpoint.mobile"
  >
    <v-card height="90vh" style="overflow: hidden; padding-bottom: 10px;">
      <div
        class="d-flex justify-space-between"
        style="margin-bottom: -30px;"
        :style="$vuetify.breakpoint.mobile ? '' : 'margin-right: 15px;'"
      >
        <div></div>
        <div>
          <v-btn icon @click="fechar(false)">
            <v-icon color="var(--corF1)">mdi-close-circle-outline</v-icon>
          </v-btn>
        </div>
      </div>
      <iframe
        style="overflow:hidden; display:block; height: 100%; width: 100%"
        height="100%"
        width="100%"
        frameborder="0"
        :src="dialogIframe.link"
      ></iframe>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "dialog-iframe",
  props: {
    premio: {
      type: String,
      required: false
    }
  },
  computed: {
    dialogIframe() {
      return this.$store.getters["layout/dialogIframe"];
    }
  },
  methods: {
    fechar(event) {
      if (event == false) {
        this.$store.commit("layout/alteraDialogIframe", event);
      }
    }
  }
};
</script>

<style lang="less"></style>
