<template>
  <v-dialog
    transition="slide-y-reverse-transition"
    content-class="dialog-multi-etapas"
    v-bind:value="dialogMultiEtapasAberto"
    v-on:input="fechar()"
  >
    <v-card
      rounded="0"
      class="pa-2 align-center justify-center cp-multi-etapas"
    >
      <v-container
        class="align-start justify-center text-center"
        style="padding: 0px !important; max-width: 600px !important;"
        fluid
      >
        <div
          class="text-center font-weight-bold mb-3 mt-2"
          style="color: var(--cor3);"
        >
          Quero participar da etapa:
        </div>
        <div
          class="card-selecao"
          @click="seleciona(etapa.id)"
          v-for="(etapa, j) in etapas.etapas"
          :key="j"
        >
          <v-card
            elevation="0"
            outlined
            class="pa-3 align-center justify-center text-center"
            :class="etapaAtual.id === etapa.id ? 'ativo' : 'inativo'"
          >
            <div class="font-weight-bold">
              {{ etapa.descricao }}
            </div>
            <div>Sorteio {{ etapa.sorteio.replace(" ", " às ") }}</div>
          </v-card>
        </div>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "dialog-multi-etapas",
  data() {
    return {};
  },
  watch: {
    dialogMultiEtapasAberto(value) {
      if (!value) {
        setTimeout(() => {
          this.pagina = 0;
        }, 500);
      }
    }
  },
  computed: {
    dialogMultiEtapasAberto() {
      return this.$store.getters["layout/dialogMultiEtapasAberto"];
    },
    etapas() {
      return this.$store.getters["praca/etapas"];
    },
    etapaAtual() {
      return this.$store.getters["praca/etapaAtual"];
    }
  },
  methods: {
    seleciona(id) {
      this.$store.commit("compra/limpaTitulosSelecionados");
      this.$store.commit("praca/salvaIdEtapaAtual", id);
      this.fechar();
    },
    fechar() {
      this.$store.commit("layout/alteraDialogMultiEtapasAberto", false);
    }
  }
};
</script>

<style lang="less">
.cp-multi-etapas {
  .card-selecao {
    cursor: pointer;
    line-height: 22px;
    .ativo {
      border: thin solid var(--cor3) !important;
    }
    .inativo {
      border: thin solid rgba(0, 0, 0, 0) !important;
    }
  }
}
.dialog-multi-etapas {
  margin: 0 !important;
  border-radius: 0 !important;
  align-self: flex-end;
}
</style>
