<template>
  <v-dialog
    v-bind:value="dialogCondicoesGeraisAberto"
    v-on:input="fechar()"
    :width="$vuetify.breakpoint.mobile ? '100%' : '40%'"
    :fullscreen="$vuetify.breakpoint.mobile"
  >
    <v-card>
      <div class="d-flex justify-space-between" style="margin-bottom: -30px">
        <div></div>
        <div>
          <v-btn icon @click="fechar()">
            <v-icon color="var(--corF1)">mdi-close-circle-outline</v-icon>
          </v-btn>
        </div>
      </div>
      <v-card-title
        class="pb-0"
        :class="
          $vuetify.breakpoint.mobile ? 'subheading font-weight-bold' : 'title'
        "
      >
        Condições Gerais
      </v-card-title>
      <v-card-text>
        <v-layout row wrap>
          <v-layout row wrap>
            <v-flex xs12>
              <v-card flat>
                <div
                  class="text-center my-5"
                  v-for="(condicao, i) in aparencia.condicoes_gerais"
                  :key="i"
                >
                  <a @click="abre(condicao.url)"> {{ condicao.descricao }}</a>
                </div>
              </v-card>
            </v-flex>
          </v-layout>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "dialog-escolher-condicao-geral",
  computed: {
    dialogCondicoesGeraisAberto() {
      return this.$store.getters["layout/dialogCondicoesGeraisAberto"];
    },
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
  },
  methods: {
    abre(url) {
      window.open(url, "_blank");
      this.fechar();
    },
    fechar() {
      this.$store.commit("layout/alteraDialogCondicoesGeraisAberto", false);
    },
  },
};
</script>

<style lang="less"></style>
