<template>
  <v-dialog width="450" persistent v-model="dialog">
    <v-card>
      <v-container grid-list-md>
        <v-layout row wrap class="text-center cor-titulo">
          <v-flex xs12 class="title mb-3">
            <manutencao></manutencao>
          </v-flex>
          <v-flex xs12 class="subheading mb-3">
            <div class="title mb-3">
              <strong>Loja fechada</strong>
            </div>
            <div v-if="textoManutencao != null && textoManutencao.length > 0">
              Motivo: {{ textoManutencao }}
            </div>
            <br v-if="textoManutencao != null && textoManutencao.length > 0" />
            <div>Agradecemos a preferência e esperamos te ver em breve :)</div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "em-manutencao",
  data() {
    return {
      dialog: true
    };
  },
  props: {
    textoManutencao: {
      type: String,
      required: false
    }
  },
  components: {
    EmManutencao: () => import("@/components/lottie/Manutencao")
  }
};
</script>
