<template>
  <div class="cp-diversos-recuperarsenha">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 14px !important"
      fluid
    >
      <div class="texto-descricao cor-titulo mb-5">{{ titulo }}</div>
      <div class="cor-titulo" v-if="etapa == 1">
        {{ inicioParagrafo }}, insira seu CPF para obter um código especial{{
          textoCanais
        }}. Após obter o código, insira-o na segunda etapa e providencie uma
        nova senha!
      </div>
      <div class="cor-titulo" v-if="etapa == 2">
        Agora basta inserir o códido especial que você recebeu e cadastrar uma
        nova senha!
      </div>

      <v-card elevation="0" class="mx-auto mt-5" max-width="600">
        <v-form
          ref="form"
          @keyup.enter.native="enviar"
          v-model="formValido"
          @submit="enviar"
          onSubmit="return false;"
        >
          <div v-if="etapa == 1">
            <v-text-field
              name="cpf"
              v-model="form.cpf"
              prepend-icon="mdi-account"
              label="CPF"
              type="text"
              inputmode="numeric"
              v-mask="'###.###.###-##'"
              :loading="carregando"
              :rules="[
                v => !!v || 'Campo obrigatório!',
                v => validaCPF(v) || 'CPF Inválido!'
              ]"
              required
            ></v-text-field>
            <v-radio-group name="canal" class="ma-0" v-model="form.canal">
              <v-radio
                :name="item.label"
                v-for="(item, i) in canais"
                :key="i"
                :label="item.label"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
          </div>

          <div v-if="etapa == 2">
            <v-text-field
              v-model="form.codigo"
              name="codigo"
              label="Código especial"
              type="text"
              inputmode="numeric"
              :loading="carregando"
              :rules="[v => !!v || 'Campo obrigatório!']"
              required
            ></v-text-field>
            <!-- Isto serve para 'desviar' o autocomplete do Chrome -->
            <div style="height:0px; overflow:hidden; ">
              <input type="text" />
              <input type="password" />
            </div>
            <!-------------------------------------------------------->
            <v-text-field
              v-model="form.senha"
              name="senha"
              label="Nova senha"
              :append-icon="exibeSenha ? 'mdi-eye' : 'mdi-eye-off'"
              :type="exibeSenha ? 'text' : 'password'"
              :loading="carregando"
              :rules="[v => !!v || 'Campo obrigatório!']"
              @click:append="exibeSenha = !exibeSenha"
              required
            ></v-text-field>
            <v-text-field
              v-model="form.confSenha"
              name="confSenha"
              label="Confirme a nova senha"
              :append-icon="exibeSenha ? 'mdi-eye' : 'mdi-eye-off'"
              :type="exibeSenha ? 'text' : 'password'"
              :loading="carregando"
              :rules="[
                v =>
                  v == form.senha ||
                  'Nova senha e confirmação devem ser iguais',
                v => !!v || 'Campo obrigatório!'
              ]"
              @click:append="exibeSenha = !exibeSenha"
              required
            ></v-text-field>
          </div>

          <div class="mt-3">
            <v-row no-gutters>
              <v-col v-if="etapa == 2" cols="6" class="ios-botao-1">
                <v-btn
                  class="botao botao-voltar"
                  @click.prevent="etapa = 1"
                  :loading="carregando"
                  >Voltar</v-btn
                >
              </v-col>
              <v-col :cols="etapa == 1 ? 12 : 6" class="ios-botao-1">
                <v-btn
                  class="botao botao-proximo"
                  @click.prevent="enviar"
                  :disabled="
                    !formValido ||
                      (!form.canal && etapa == 1) ||
                      (etapa == 1 && form.cpf.length < 14)
                  "
                  :loading="carregando"
                  >{{ etapa == 1 ? "Próximo" : "Salvar" }}</v-btn
                >
              </v-col>
            </v-row>
          </div>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>
<script>
export default {
  name: "recuperar-senha",
  props: {
    titulo: {
      type: String,
      required: true
    },
    inicioParagrafo: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      form: {
        cpf: "",
        canal: null,
        senha: "",
        confSenha: "",
        codigo: ""
      },
      formValido: false,
      exibeSenha: false,
      canais: [],
      textoCanais: "",
      etapa: 1,
      carregando: false
    };
  },
  async mounted() {
    this.carregando = true;
    try {
      const res = await this.$networkApi.canaisRecuperarSenha();
      if (res.data) {
        let data = res.data;

        if (data.wpp) {
          this.canais.push({
            label: "WhatsApp",
            value: "wpp"
          });
        }
        if (data.email) {
          this.canais.push({
            label: "e-mail",
            value: "email"
          });
        }
        if (data.sms) {
          this.canais.push({
            label: "SMS",
            value: "sms"
          });
        }

        const tamanho = this.canais.length;
        if (tamanho > 0) {
          this.textoCanais = " (via ";
        }

        this.canais = this.canais.map((e, i) => {
          const posicao = i + 1;
          this.textoCanais += e.label;
          this.textoCanais +=
            posicao < tamanho - 1
              ? ", "
              : posicao == tamanho - 1
              ? " ou "
              : ")";
          return { ...e, label: "Enviar código por " + e.label };
        });

        this.canais.push({
          label: "Eu já tenho um código especial!",
          value: "possuiCodigo"
        });
        // TODO - Remoção fluxo sem login
        // this.canais.push({
        //   label: "Comprar sem fazer login",
        //   value: "comprarSemLogin"
        // });
      }
    } catch (error) {}
    this.carregando = false;
  },
  watch: {
    "form.senha"() {
      if (this.form.confSenha.length > 0 && this.form.codigo.length > 0) {
        this.$refs.form.validate();
      }
    },
    "form.confSenha"() {
      if (this.form.senha.length > 0 && this.form.codigo.length > 0) {
        this.$refs.form.validate();
      }
    }
  },
  methods: {
    async enviar() {
      if (
        !(
          !this.$refs.form.validate() ||
          (!this.form.canal && this.etapa == 1) ||
          (this.etapa == 1 && this.form.cpf.length < 14)
        )
      ) {
        this.carregando = true;
        if (this.etapa == 1) {
          if (this.form.canal == "possuiCodigo") {
            this.$refs.form.resetValidation();
            this.etapa = 2;
          } else if (this.form.canal == "comprarSemLogin") {
            try {
              let res = await this.$networkApi.consultaCadastro({
                cpf: this.form.cpf.replace(/[^0-9]/g, "")
              });
              if (res.data) {
                if (!!res.data.cpf) {
                  this.$store.commit("usuario/salvaDadosComprarSemLogar", {
                    cpf: this.form.cpf,
                    nome: res.data.nome,
                    forcaCarregamento: true
                  });
                } else {
                  this.$store.commit("usuario/salvaDadosComprarSemLogar", {
                    cpf: this.form.cpf,
                    forcaCarregamento: true
                  });
                }
              }
            } catch (error) {
              this.$store.commit("usuario/salvaDadosComprarSemLogar", {
                cpf: this.form.cpf,
                forcaCarregamento: true
              });
            } finally {
              this.carregandoCPF = false;
            }
            this.$router.push(`/comprar`);
          } else {
            try {
              const data = {
                cpf: this.form.cpf.replace(/[^0-9]/g, ""),
                canal: this.form.canal
              };
              const res = await this.$networkApi.enviarCodigoRecuperarSenha(
                data
              );
              this.$refs.form.resetValidation();
              this.etapa = 2;
            } catch (error) {
              const mensagem = error.response.data.message
                ? error.response.data.message
                : "Ocorreu um erro inesperado. Por favor, tente novamente.";
              this.$swal("", mensagem, "error");
            }
          }
        } else if (this.formValido) {
          try {
            const data = {
              cpf: this.form.cpf.replace(/[^0-9]/g, ""),
              codigo: this.form.codigo,
              nova_senha: this.form.senha
            };
            const res = await this.$networkApi.enviarNovaSenhaRecuperarSenha(
              data
            );
            this.$swal("", "Senha alterada com sucesso!", "success");
            this.$router.push(`/entrar`);
          } catch (error) {
            const mensagem = error.response.data.message
              ? error.response.data.message
              : "Ocorreu um erro inesperado. Por favor, tente novamente.";
            this.$swal("", mensagem, "error");
          }
        }
        this.carregando = false;
      }
    },
    validaCPF: value => {
      value = value.replace(/[^0-9]/g, "");
      if (value && value.length < 11) return true;
      if (!value) return true;
      value = value.toString();
      var Soma;
      var Resto;
      var i = 0;
      Soma = 0;
      if (value == "00000000000") return false;

      for (i = 1; i <= 9; i++)
        Soma = Soma + parseInt(value.substring(i - 1, i)) * (11 - i);
      Resto = (Soma * 10) % 11;

      if (Resto == 10 || Resto == 11) Resto = 0;
      if (Resto != parseInt(value.substring(9, 10))) return false;

      Soma = 0;
      for (i = 1; i <= 10; i++)
        Soma = Soma + parseInt(value.substring(i - 1, i)) * (12 - i);
      Resto = (Soma * 10) % 11;

      if (Resto == 10 || Resto == 11) Resto = 0;
      if (Resto != parseInt(value.substring(10, 11))) return false;
      return true;
    }
  }
};
</script>
<style lang="less">
.cp-diversos-recuperarsenha {
  .botao-proximo {
    transform: scale(0.8);
    background-color: var(--cor5) !important;
    width: -webkit-fill-available;
  }

  .botao-voltar {
    transform: scale(0.8);
    background-color: #fff !important;
    color: var(--cor5) !important;
    width: -webkit-fill-available;
  }
}
</style>
