<template>
  <div class="pg-comprar">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 0px !important; max-width: 600px !important"
      fluid
    >
      <etapas :total="etapas.total" :atual="etapas.atual" />
      <cadastro
        :etapasCompra="etapas"
        v-if="etapas.total === 3 && etapas.atual == 1"
      />
      <pagamento
        :etapasCompra="etapas"
        v-if="
          (etapas.total === 3 && etapas.atual == 2) ||
            (etapas.total === 2 && etapas.atual == 1)
        "
      />
      <sucesso v-if="etapas.total === etapas.atual" />
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      etapas: {
        total: 0,
        atual: 0
      }
    };
  },
  created() {
    if (this.checkoutPendente && this.checkoutPendente.sucesso) {
      this.etapas.atual = this.checkoutPendente.etapas;
      this.etapas.total = this.checkoutPendente.etapas;
    } else {
      if (this.dadosComprarSemLogar) {
        if (this.dadosComprarSemLogar.forcaCarregamento) {
          this.$store.commit("usuario/salvaDadosComprarSemLogar", {
            ...this.dadosComprarSemLogar,
            forcaCarregamento: false
          });
        } else {
          this.$store.commit("usuario/salvaDadosComprarSemLogar", null);
        }
      }
      this.etapas.atual = 1;
      if (this.logado) {
        this.etapas.total = 2;
      } else {
        this.etapas.total = 3;
      }
    }
  },
  mounted() {},
  computed: {
    dadosComprarSemLogar() {
      return this.$store.getters["usuario/dadosComprarSemLogar"];
    },
    checkoutPendente() {
      return this.$store.getters["compra/checkoutPendente"];
    },
    logado() {
      return this.$store.getters["usuario/logado"];
    }
  },
  components: {
    Etapas: () => import("@/components/comprar/etapas"),
    Cadastro: () => import("@/components/comprar/cadastro"),
    Pagamento: () => import("@/components/comprar/pagamento"),
    Sucesso: () => import("@/components/comprar/sucesso")
  }
};
</script>
