<template>
  <v-app dark class="text-center">
    <h1 class="mt-10">{{ erro }}</h1>
  </v-app>
</template>

<script>
export default {
  layout: "empty",
  data() {
    return {
      erro: "ERRO - Praça não selecionada"
    };
  },
  head() {
    return {
      title: `${this.erro} ${process.env.title_suffix}`
    };
  }
};
</script>

<style scoped>
h1 {
  font-size: 18px;
}
</style>
