<template>
  <v-app>
    <v-layout v-if="!isLoaded" style="height: 90vh">
      <v-flex class="d-flex justify-center align-center">
        <v-progress-circular indeterminate :value="40"></v-progress-circular>
      </v-flex>
    </v-layout>
    <div v-else class="fill-height">
      <Login
        v-if="step == 1 && !notFound"
        :square="square"
        :form="form"
        :orderForm="orderForm"
        @handleStep="handleStep($event)"
      ></Login>
      <OrderDetails
        v-if="step != 1 && !notFound"
        :orderForm="orderForm"
        :square="square"
        :form="form"
      ></OrderDetails>
      <NotFound v-if="notFound"></NotFound>
    </div>
  </v-app>
</template>

<script>
import axios from "axios";
import Vuelidate from "vuelidate";
import Vue from "vue";
import VueMask from "v-mask";

Vue.use(Vuelidate);
Vue.use(VueMask);

export default {
  layout: "webpages",
  components: {
    Login: () => import("@/components/webpages/Login.vue"),
    OrderDetails: () => import("@/components/webpages/OrderDetails.vue"),
    NotFound: () => import("@/components/webpages/NotFound.vue")
  },
  head() {
    return {
      title: "Produtos adquiridos"
    };
  },
  data() {
    return {
      isLoaded: false,
      notFound: false,
      step: 1,
      square: {
        logo: "",
        app_url: ""
      },
      logo: "",
      form: {
        cpf: "",
        nsu: ""
      },
      orderForm: {}
    };
  },
  async beforeMount() {
    try {
      if (this.$route.query.p) {
        if (this.$route.query.uuid) {
          const orderData = await axios.post(
            `${process.env.api_url}/v2/vendas/consultas/`,
            {
              uuid: this.$route.query.uuid
            }
          );
          if (orderData.data.optin_url) {
            window.location.href = orderData.data.optin_url;
          }

          this.step = 2;
          this.orderForm = orderData.data;
        }
        const squareData = await axios.get(`${process.env.api_url}/v2/pracas`);
        const stylesUrl = `${process.env.firebase_config.databaseURL}/${squareData.data.codigo_praca}/loja_online.json`;
        var styles = await axios.get(stylesUrl, { timeout: 60000 });

        styles = styles.data;
        this.$vuetify.theme.themes.light.primary =
          styles.estilos.cores_base.cor1;
        this.$vuetify.theme.themes.light.primaryTitle =
          styles.estilos.cores_especificas.titulo1;
        this.$vuetify.theme.themes.light.secondaryTitle =
          styles.estilos.cores_especificas.titulo2;
        this.$vuetify.theme.themes.light.tertiaryTitle =
          styles.estilos.cores_especificas.titulo3;
        this.square.logo = squareData.data.logo;
        this.square.app_url =
          squareData.data.configuracoes.url_app_android_cliente;

        this.isLoaded = !this.isLoaded;
      } else {
        this.isLoaded = !this.isLoaded;
        this.notFound = !this.notFound;
      }
    } catch (err) {
      this.isLoaded = !this.isLoaded;
      this.notFound = !this.notFound;
    }
  },
  methods: {
    handleStep(e) {
      this.step = e.step;
      this.orderForm = e.data;
    }
  }
};
</script>

<style lang="scss" scoped>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
</style>
