<template>
  <div class="pg-sem-etapa">
    <v-container
      class="align-center d-flex justify-center background"
      style="padding: 14px; padding-bottom: 0; !important; max-width: 600px !important; height: 300px !important;"
      fluid
    >
      <div class="justify-center text-center">
        <div class="font-weight-bold">
          Não temos etapa disponível no momento!
        </div>
        <div class="mt-5">Volte em breve para ver os prêmios e concorrer!</div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  head: {
    title: "Sem Etapa"
  },
  mounted() {
    if (this.etapaAtual) {
      this.$router.push("/");
    }
  },
  computed: {
    etapaAtual() {
      return this.$store.getters["praca/etapaAtual"];
    }
  }
};
</script>

<style lang="less">
.pg-sem-etapa {
  height: 100%;
}
</style>
