<template>
  <div class="pg-cadastro">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 14px !important"
      fluid
    >
      <div class="cor-titulo">
        Olá! Por favor preencha esse
        <span class="font-weight-black">cadastro único</span> e nós cuidaremos
        do resto.
      </div>
      <v-card elevation="0" class="mx-auto mt-5" max-width="600">
        <v-form ref="form" @keyup.enter.native="enviar" v-model="formValido">
          <!-- Isto serve para 'desviar' o autocomplete do Chrome -->
          <div style="height:0px; overflow:hidden; ">
            <input type="text" />
            <input type="password" />
          </div>
          <!-------------------------------------------------------->
          <div>
            <v-row no-gutters>
              <v-col
                cols="12"
                class="cor-titulo text-left font-weight-black mt-2"
                >INFORMAÇÕES PESSOAIS</v-col
              >
              <v-col cols="12">
                <v-text-field
                  name="nome"
                  v-model="form.nome"
                  label="Nome completo"
                  type="text"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  name="cpf"
                  v-model="form.cpf"
                  label="CPF"
                  type="text"
                  inputmode="numeric"
                  v-mask="'###.###.###-##'"
                  :loading="carregando"
                  :rules="[
                    v => !!v || 'Campo obrigatório!',
                    v => validaCPF(v) || 'CPF Inválido!'
                  ]"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="6" class="pl-2">
                <v-select
                  name="sexo"
                  v-model="form.sexo"
                  :items="sexo"
                  label="Sexo"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  name="email"
                  v-model="form.email"
                  label="E-mail"
                  type="text"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  :disabled="!!form.token"
                  :required="!form.token"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  name="confEmail"
                  v-model="form.confEmail"
                  label="Confirme o e-mail"
                  type="text"
                  :loading="carregando"
                  :rules="[
                    v =>
                      v == form.email ||
                      'E-mail e confirmação devem ser iguais',
                    v => !!v || 'Campo obrigatório!'
                  ]"
                  :disabled="!!form.token"
                  :required="!form.token"
                ></v-text-field>
              </v-col>
              <v-col cols="5">
                <v-text-field
                  name="celular"
                  v-model="form.celular"
                  label="Celular"
                  type="text"
                  inputmode="numeric"
                  v-mask="'(##) #####-####'"
                  :loading="carregando"
                  :rules="[
                    v => v.length == 15 || 'Telefone Inválido!',
                    v => !!v || 'Campo obrigatório!'
                  ]"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="7" class="pl-2">
                <v-text-field
                  name="dtNascimento"
                  v-model="form.dtNascimento"
                  label="Data de Nascimento"
                  type="text"
                  inputmode="numeric"
                  v-mask="'##/##/####'"
                  :loading="carregando"
                  :rules="[
                    v => !!v || 'Campo obrigatório!',
                    v => validaData(v) || 'Data inválida!'
                  ]"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                class="cor-titulo text-left font-weight-black mt-5"
                >ENDEREÇO</v-col
              >
              <v-col cols="12">
                <v-text-field
                  name="cep"
                  v-model="form.cep"
                  label="CEP"
                  type="text"
                  inputmode="numeric"
                  v-mask="'#####-###'"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  @keyup="mudaCEP()"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="9">
                <v-text-field
                  name="logradouro"
                  v-model="form.logradouro"
                  label="Logradouro"
                  type="text"
                  :disabled="form.cep.length < 9"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="pl-2">
                <v-text-field
                  name="numero"
                  v-model="form.numero"
                  label="Número"
                  type="text"
                  inputmode="numeric"
                  :disabled="form.cep.length < 9"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="5">
                <v-text-field
                  name="bairro"
                  v-model="form.bairro"
                  label="Bairro"
                  type="text"
                  :disabled="form.cep.length < 9"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="7" class="pl-2">
                <v-text-field
                  name="complemento"
                  v-model="form.complemento"
                  label="Complemento"
                  type="text"
                  :disabled="form.cep.length < 9"
                  :loading="carregando || carregandoEndereco"
                ></v-text-field>
              </v-col>
              <v-col cols="9">
                <v-text-field
                  name="cidade"
                  v-model="form.cidade"
                  label="Cidade"
                  type="text"
                  :disabled="form.cep.length < 9"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="pl-2">
                <v-text-field
                  name="uf"
                  v-model="form.uf"
                  label="UF"
                  type="text"
                  v-mask="'AA'"
                  :disabled="form.cep.length < 9"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                class="cor-titulo text-left font-weight-black mt-5"
                >INFORMAÇÕES DA CONTA</v-col
              >
              <v-col cols="12" v-if="!form.token">
                <v-text-field
                  name="senha"
                  v-model="form.senha"
                  label="Senha"
                  :append-icon="exibeSenha ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="exibeSenha ? 'text' : 'password'"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  @click:append="exibeSenha = !exibeSenha"
                  :required="!form.token"
                ></v-text-field>
              </v-col>
              <v-col cols="12" v-if="!form.token">
                <v-text-field
                  name="confSenha"
                  v-model="form.confSenha"
                  label="Confirme a senha"
                  :append-icon="exibeSenha ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="exibeSenha ? 'text' : 'password'"
                  :loading="carregando"
                  :rules="[
                    v =>
                      v == form.senha || 'Senha e confirmação devem ser iguais',
                    v => !!v || 'Campo obrigatório!'
                  ]"
                  @click:append="exibeSenha = !exibeSenha"
                  :required="!form.token"
                ></v-text-field>
              </v-col>
            </v-row>
            <div class="d-flex mt-5 termos">
              <div>
                <v-checkbox
                  name="termosAceito"
                  v-model="termosAceito"
                  label
                  class="check-termo"
                  :loading="carregando"
                  :rules="[v => v]"
                  required
                ></v-checkbox>
              </div>
              <div class="text-left">
                Eu li e concordo com os
                <a
                  @click="verTermos"
                  style="color: var(--cor5); white-space: nowrap;"
                  >termos de uso/regulamento</a
                >
                <div class="check-obrigatorio" v-if="!checkValido">
                  Campo obrigatório!
                </div>
              </div>
            </div>

            <div class="mt-8 pb-6 text-center ios-botao-1">
              <v-btn
                class="botao botao-cadastrar-se"
                :loading="carregando"
                @click="enviar"
                >Cadastrar-se Gratuitamente</v-btn
              >
            </div>
          </div>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>
<script>
import { auth } from "@/plugins/firebase";
export default {
  middleware: ["naoAutenticado"],
  head: {
    title: "Cadastro"
  },
  data() {
    return {
      checkValido: true,
      form: {
        nome: "",
        cpf: "",
        sexo: "",
        email: "",
        confEmail: "",
        celular: "",
        dtNascimento: "",
        cep: "",
        logradouro: "",
        numero: "",
        bairro: "",
        complemento: "",
        cidade: "",
        uf: "",
        senha: "",
        confSenha: "",
        codigoIBGE: "",
        token: null
      },
      sexo: [
        {
          text: "Masculino",
          value: "M"
        },
        {
          text: "Feminino",
          value: "F"
        },
        {
          text: "Outros",
          value: "O"
        }
      ],
      carregando: false,
      carregandoEndereco: false,
      exibeSenha: false,
      formValido: false,
      termosAceito: false,
      cepBuscado: null
    };
  },
  async mounted() {
    this.verificaCapturarLead();
    if (this.$route.query.t && this.$route.query.t == "fb") {
      const user = auth().currentUser;
      if (user) {
        const token = await this.getIdToken();
        this.form.token = token;
        this.form.email = user.email;
        this.form.confEmail = user.email;
        this.form.nome = user.displayName;
        this.$swal({
          title: "Continuar registro",
          html: `
          <div style="font-size: 18px">Bem-vindo <span style="font-weight: 900">${user.displayName}</span>!</div>
          <div style="font-size: 18px">Para participar do sorteio, nós ainda precisamos de algumas informações, tais como o seu CPF e endereço.</div>
          `
        });
      }
    }
  },
  methods: {
    getIdToken() {
      return new Promise((resolve, reject) => {
        auth()
          .currentUser.getIdToken(true)
          .then(idToken => {
            resolve(idToken);
          })
          .catch(error => {
            reject(error);
          });
      });
    },
    async enviar() {
      const valido = this.$refs.form.validate();
      this.checkValido = !!this.termosAceito;
      if (valido) {
        this.carregando = true;

        grecaptcha.ready(
          function() {
            grecaptcha
              .execute(process.env.recaptha_key, {
                action: `${this.pracaConfig.codigoPraca.toLowerCase()}_cadastro`
              })
              .then(
                async function(captcha) {
                  const data = {
                    captcha,
                    cpf: this.form.cpf.replace(/[^0-9]/g, ""),
                    nome: this.form.nome,
                    sexo: this.form.sexo,
                    email: this.form.email,
                    telefone: this.form.celular.replace(/[^0-9]/g, ""),
                    numero: this.form.numero,
                    logradouro: this.form.logradouro,
                    complemento: this.form.complemento,
                    data_nascimento: this.form.dtNascimento,
                    cep: this.form.cep.replace(/[^0-9]/g, ""),
                    codigo_ibge: this.form.codigoIBGE,
                    bairro: this.form.bairro,
                    cidade: this.form.cidade,
                    uf: this.form.uf,
                    senha: this.form.senha,
                    token: this.form.token
                  };
                  try {
                    const res = await this.$networkApi.cadastraCliente(data);
                    this.$swal("", "Cadastro efetuado com Sucesso!", "success");
                    this.$gtagEvent("SIGN_UP");
                    this.$fpEvent("SIGN_UP");
                    this.$store.commit("usuario/login", res.data.result);
                    this.carregando = false;
                    this.$router.push(this.destinoLogin);
                  } catch (error) {
                    this.carregando = false;
                    const mensagem = error.response.data.message
                      ? error.response.data.message
                      : "Ocorreu um erro inesperado. Por favor, tente novamente.";
                    this.$swal("", mensagem, "error");
                  }
                }.bind(this)
              );
          }.bind(this)
        );
      }
    },
    verTermos() {
      if (this.aparencia.termos_de_uso) {
        this.$store.commit("layout/alteraDialogArquivoHTML", {
          aberto: true,
          titulo: "Termos de Uso",
          link: this.aparencia.termos_de_uso
        });
      }
    },
    validaData(value) {
      return value.length == 10;
    },
    validaCPF: value => {
      value = value.replace(/[^0-9]/g, "");
      if (value && value.length < 11) return true;
      if (!value) return true;
      value = value.toString();
      var Soma;
      var Resto;
      var i = 0;
      Soma = 0;
      if (value == "00000000000") return false;

      for (i = 1; i <= 9; i++)
        Soma = Soma + parseInt(value.substring(i - 1, i)) * (11 - i);
      Resto = (Soma * 10) % 11;

      if (Resto == 10 || Resto == 11) Resto = 0;
      if (Resto != parseInt(value.substring(9, 10))) return false;

      Soma = 0;
      for (i = 1; i <= 10; i++)
        Soma = Soma + parseInt(value.substring(i - 1, i)) * (12 - i);
      Resto = (Soma * 10) % 11;

      if (Resto == 10 || Resto == 11) Resto = 0;
      if (Resto != parseInt(value.substring(10, 11))) return false;
      return true;
    },
    async mudaCEP() {
      if (this.form.cep.length == 9 && this.cepBuscado != this.form.cep) {
        this.cepBuscado = this.form.cep;
        try {
          this.carregandoEndereco = true;
          let res = await this.$networkApi.enderecoPorCEP(
            this.form.cep.replace(/[^0-9]/g, "")
          );
          if (res.data) {
            this.form.logradouro = res.data.logradouro;
            this.form.bairro = res.data.bairro;
            this.form.uf = res.data.uf;
            this.form.cidade = res.data.localidade;
            this.form.complemento = res.data.complemento;
            this.form.codigoIBGE = res.data.ibge;
          }
        } catch (error) {
        } finally {
          this.carregandoEndereco = false;
        }
      }
    },
    verificaCapturarLead() {
      if (this.dadosCapturaLead) {
        this.form.cpf = this.dadosCapturaLead.cpf.replace(
          /(\d{3})(\d{3})(\d{3})(\d{2})/,
          "$1.$2.$3-$4"
        );
        this.form.email = this.dadosCapturaLead.email;
        this.$store.commit("usuario/salvaDadosCapturaLead", null);
      }
    }
  },
  watch: {
    email() {
      this.form.email = this.form.email.toLowerCase();
    },
    confEmail() {
      this.form.confEmail = this.form.confEmail.toLowerCase();
    },
    termosAceito() {
      this.checkValido = !!this.termosAceito;
    }
  },
  computed: {
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    email() {
      return this.form.email;
    },
    confEmail() {
      return this.form.confEmail;
    },
    destinoLogin() {
      return this.$store.getters["usuario/destinoLogin"];
    },
    dadosCapturaLead() {
      return this.$store.getters["usuario/dadosCapturaLead"];
    },
    pracaConfig() {
      return this.$store.getters["praca/config"];
    }
  }
};
</script>
<style lang="less">
.pg-cadastro {
  .check-termo {
    margin-top: 0px;
    padding-top: 0px;
  }
  .check-obrigatorio {
    color: #ff5252;
    font-size: 12px;
  }
  .botao-cadastrar-se {
    background-color: var(--cor4) !important;
  }
  .termos {
    button {
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
      font-size: 15px !important;
      padding: 0 0 !important;
      height: 16px !important;
      min-width: 64px !important;
    }
  }
}
</style>
