@font-face {
  font-family: montserratRegular;
  src: local("montserrat-regular.ttf"),
    url("~assets/fontes/montserrat-regular.ttf");
}
.v-application {
  font-family: "montserratRegular", "Roboto", sans-serif !important;
  color: var(--corF1) !important;
}
.cor-titulo {
  color: var(--corF1) !important;
}
.cor-texto {
  color: var(--corF2) !important;
}
.v-expansion-panel-content,
.v-expansion-panel-header,
.theme--light.v-card,
.theme--light.v-card > .v-card__text,
.theme--light.v-card .v-card__subtitle {
  color: var(--corF1) !important;
}
.botao {
  border-radius: 15px !important;
  color: #ffffff !important;
  text-transform: none !important;
  font-size: 16px !important;
}

.v-btn,
.v-btn:not(.v-btn--round).v-size--default {
  min-height: 10px;
  max-height: 100px;
}

.ios-botao-1 {
  .v-btn,
  .v-btn:not(.v-btn--round).v-size--default {
    height: 40px;
    min-height: 10px;
    max-height: 100px;
  }
}
.ios-botao-2 {
  .v-btn,
  .v-btn:not(.v-btn--round).v-size--default {
    height: 50px;
    min-height: 10px;
    max-height: 100px;
  }
}
.texto-descricao {
  font-size: 23px;
}
.texto-titulo {
  font-size: 32px;
}
.espaco-topo {
  margin: -14px;
  height: 110px;
}
.cursor-pointer {
  cursor: pointer;
}

.justify-space-evenly {
  justify-content: space-evenly !important;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
}
.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 6.3s linear infinite;
}
.capitalize {
  text-transform: capitalize;
}
.grecaptcha-badge {
  display: none !important;
}
.fontCapitalize{
  text-transform:capitalize;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
