.svg-icon {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #000;
  height: 14px;
  width: 14px;
}
.svg-icon.blank {
  background-color: #fff;
}
.svg-icon.bandeirola {
  mask-image: url("/icones/bandeirola.svg");
}
.svg-icon.carrinho {
  mask-image: url("/icones/carrinho.svg");
}
.svg-icon.cartela {
  mask-image: url("/icones/cartela.svg");
}
.svg-icon.check {
  mask-image: url("/icones/check.svg");
}
.svg-icon.check2 {
  mask-image: url("/icones/check2.svg");
}
.svg-icon.coracao {
  mask-image: url("/icones/coracao.svg");
}
.svg-icon.estrela {
  mask-image: url("/icones/estrela.svg");
}
.svg-icon.home {
  mask-image: url("/icones/home.svg");
}
.svg-icon.info {
  mask-image: url("/icones/info.svg");
}
.svg-icon.mensagens {
  mask-image: url("/icones/mensagens.svg");
}
.svg-icon.menu {
  mask-image: url("/icones/menu.svg");
}
.svg-icon.seta-baixo {
  mask-image: url("/icones/seta_baixo.svg");
}
.svg-icon.sorteio {
  mask-image: url("/icones/sorteio.svg");
}
.svg-icon.trevo {
  mask-image: url("/icones/trevo.svg");
}
.svg-icon.cartao-credito-2 {
  mask-image: url("/icones/cartao-credito-2.svg");
}
.svg-icon.android {
  mask-image: url("/icones/android.svg");
}
.svg-icon.usuario {
  mask-image: url("/icones/usuario.svg");
}
.svg-icon.cadeado {
  mask-image: url("/icones/cadeado.svg");
}
.svg-icon.carteira-2 {
  mask-image: url("/icones/carteira-2.svg");
}
.svg-icon.codigo-barras {
  mask-image: url("/icones/codigo-barras.svg");
}
.svg-icon.seta-esquerda {
  mask-image: url("/icones/seta-esquerda.svg");
}
.svg-icon.cartao {
  mask-image: url("/icones/cartao.svg");
}
.svg-icon.duvida {
  mask-image: url("/icones/duvida.svg");
}
.svg-icon.arquivo {
  mask-image: url("/icones/arquivo.svg");
}
.svg-icon.atualiza-trevo {
  mask-image: url("/icones/atualiza-trevo.svg");
}
.svg-icon.presente {
  mask-image: url("/icones/presente.svg");
}
.svg-icon.lixeira {
  mask-image: url("/icones/lixeira.svg");
}
.svg-icon.raspar {
  mask-image: url("/icones/raspar.svg");
}
.svg-icon.trofeu {
  mask-image: url("/icones/trofeu.svg");
}

.svg-icon-color {
  background-position: center;
  background-size: contain;
  height: 14px;
  width: 14px;
}
.svg-icon-color.cartao-credito {
  background-image: url("/icones/cartao-credito.svg");
}
.svg-icon-color.cartao-credito-3 {
  background-image: url("/icones/cartao-credito-3.svg");
}
.svg-icon-color.mercado-pago {
  background-image: url("/icones/mercado-pago.svg");
}
.svg-icon-color.caixa-1 {
  background-image: url("/icones/caixa-1.svg");
}
.svg-icon-color.carteira {
  background-image: url("/icones/carteira.svg");
}
.svg-icon-color.carteira-3 {
  background-image: url("/icones/carteira-3.svg");
}
.svg-icon-color.codigo-barras-2 {
  background-image: url("/icones/codigo-barras-2.svg");
}
.svg-icon-color.picpay {
  background-image: url("/icones/picpay.svg");
}
.svg-icon-color.pix {
  background-image: url("/icones/pix.svg");
}
.svg-icon-color.cartao-cvv {
  background-image: url("/icones/cartao-cvv.svg");
}
.svg-icon-color.bandeira-american-express {
  background-image: url("/icones/bandeira-american-express.svg");
}
.svg-icon-color.bandeira-diners-club {
  background-image: url("/icones/bandeira-diners-club.svg");
}
.svg-icon-color.bandeira-discover {
  background-image: url("/icones/bandeira-discover.svg");
}
.svg-icon-color.bandeira-elo {
  background-image: url("/icones/bandeira-elo.svg");
}
.svg-icon-color.bandeira-hiper {
  background-image: url("/icones/bandeira-hiper.svg");
}
.svg-icon-color.bandeira-hipercard {
  background-image: url("/icones/bandeira-hipercard.svg");
}
.svg-icon-color.bandeira-jcb {
  background-image: url("/icones/bandeira-jcb.svg");
}
.svg-icon-color.bandeira-mastercard {
  background-image: url("/icones/bandeira-mastercard.svg");
}
.svg-icon-color.bandeira-visa {
  background-image: url("/icones/bandeira-visa.svg");
}
