@import "~sweetalert2/src/variables";

$swal2-font: "montserratRegular";
$swal2-confirm-button-font-size: 1rem;
$swal2-cancel-button-font-size: 1rem;
$swal2-confirm-button-background-color: var(--cor5);
$swal2-confirm-button-border-radius: 15px;
$swal2-cancel-button-border-radius: 15px;
$swal2-content-padding: 0;
$swal2-title-font-size: 1.125em;

@import "~sweetalert2/src/sweetalert2";
