<template>
  <v-layout
    column
    v-if="!isRegistered"
    class="hidden-sm-and-down"
    style="max-width:40vw"
  >
    <v-flex md3 class="d-flex mx-0 mb-14 align-center justify-start">
      <v-flex md2 class="ml-4">
        <v-img :src="square.logo" alt="Square Logo" contain aspect-ratio="2" />
      </v-flex>
      <v-flex md9>
        <span class="text-h5 ml-3">{{ square.name }}</span>
      </v-flex>
    </v-flex>
    <v-flex xs12 class="pl-5">
      <strong class="text-h4">Parabéns,<br /></strong>
      <span>{{ form.message }}</span>
    </v-flex>
    <v-flex xs12 class="mt-10">
      <v-img
        class="align-self-center mx-auto"
        max-width="350px"
        src="../../assets/illustration.png"
      ></v-img>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    form: Object,
    square: Object,
    isRegistered: Boolean,
  },
};
</script>

<style lang="scss">
.congratulations-container {
  background-color: #f5f5f5;
  color: #3f3d56;

  #logo {
    max-width: 50px;
  }

  .square {
    display: flex;
    width: 100%;
    align-items: center;

    img {
      margin-right: 10px;
    }

    #square-title {
      margin: 0;
    }
  }
  .distributor-detail {
    margin: 80px 0;
  }
  .register-details {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 50px;

    img {
      width: 6%;
      margin-right: 10px;
    }
  }
}
</style>
