<template>
  <v-layout>
    <div class="right-side px-md-6 py-md-6">
      <header>
        <img v-if="square.capitalizadora" :src="square.capitalizadora" />
        <img id="square-logo" :src="square.logo" />
        <img v-if="square.instituicao" :src="square.instituicao" />
      </header>
      <v-flex v-if="!isRegistered" class="hidden-md-and-up">
        <p id="distributor">
          <strong>Meus parabéns,</strong><br />{{ form.message }}
        </p>
      </v-flex>
      <v-flex v-if="!isRegistered" class="hidden-md-and-up mb-4">
        <img id="salesman" src="/webpages/salesman.png" alt="Salesman" />
      </v-flex>
      <v-layout id="form" class="align-center justify-center">
        <v-form
          ref="form"
          v-model="isValid"
          @submit.prevent="submit"
          lazy-validation
          xs8
          md12
          sm10
          lg12
        >
          <h2 v-if="step == 1" class="font-weight-medium my-10">
            Cadastre-se agora e começe já suas vendas
          </h2>

          <StepOne
            v-if="step == 1"
            :step="step"
            :form="form"
            :square="square"
            @step="setStep($event)"
          />
          <StepTwo
            v-if="step == 2"
            :step="step"
            :form="form"
            @step="setStep($event)"
          />
          <StepThree
            v-if="step == 3"
            :step="step"
            :form="form"
            :loading="loading"
            @step="setStep($event)"
            @handleRegistered="setRegistered($event)"
          />
          <SalesmanIsRegistered v-if="step == 4" :square="square" />
        </v-form>
      </v-layout>
      <div id="footer">
        <p>Copyright © 2020 PlayServicos. <br />All rights reserved.</p>
        <a href="#">contato@playservicos.com.br</a>
      </div>
    </div>
  </v-layout>
</template>

<script>
import axios from "axios";
// import Swal from "sweetalert2";

import StepOne from "./StepOne.vue";
import StepTwo from "./StepTwo.vue";
import StepThree from "./StepThree.vue";
import SalesmanIsRegistered from "./SalesmanIsRegistered.vue";

export default {
  components: {
    StepOne,
    StepTwo,
    StepThree,
    SalesmanIsRegistered
  },
  props: {
    square: Object,
    form: Object,
    distributor: Object
  },
  data() {
    return {
      loading: false,
      isRegistered: false,
      step: 1,
      isValid: false,
      btnState: false
    };
  },
  methods: {
    setStepOne($event) {
      this.name = $event.form.name;
      this.salesmanId = $event.form.salesmanId;
      this.phone = $event.form.phone;
      this.email = $event.form.email;
    },
    setStep($event) {
      this.step = $event.val;
    },
    async setRegistered() {
      try {
        this.loading = !this.loading;
        let cpfAux = this.form.salesmanId.replace(/[^0-9]/g, "");
        let phoneAux = this.form.phone.replace(/[^0-9]/g, "");
        let zipCodeAux = this.form.address.zipCode.replace(/[^0-9]/g, "");

        const data = {
          codigo_praca: this.square.code,
          cpf: cpfAux,
          senha: this.form.password,
          nome: this.form.name,
          email: this.form.email,
          telefone: phoneAux,
          numero: this.form.address.number,
          logradouro: this.form.address.street,
          cep: zipCodeAux,
          codigo_ibge: this.form.address.ibge_code,
          bairro: this.form.address.neighborhood,
          uf: this.form.address.uf,
          complemento: this.form.address.complement,
          cidade: this.form.address.city,
          confirmar_senha: this.form.repeatPassword,
          codigo_distribuidor: this.distributor.code,
          categoria: "vendedor",
          canal: "web"
        };

        const response = await axios.post(
          `${process.env.api_pdv_url}/vendedor`,
          data,
          { timeout: 30000 }
        );
        if (response.data.codigo_vendedor) {
          this.step = this.step + 1;
          this.isRegistered = !this.isRegistered;
        }
        this.loading = !this.loading;
      } catch (err) {
        this.loading = !this.loading;
        if (err.response.data.error.message && err.response.data.error) {
          this.$swal("Oops!", err.response.data.error.message, "warning");
        } else {
          this.$swal(
            "Oops! Todo mundo erra, dessa vez foram nossos servidores",
            "Por favor, tente novamente mais tarde",
            "warning"
          );
        }
      }
    }
  }
};
</script>

<style lang="scss">
:root {
  --cor5: #3f3d56;
}

.right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: space-evenly;

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #square-logo {
      display: none;
    }
    img {
      max-width: 60px;
    }
    img + img {
      margin-left: 20px;
    }
  }

  #distributor {
    display: none;
  }

  #salesman {
    display: none;
    max-width: 100px;
  }
  #form {
    .v-input__slot {
      border-radius: 10px;
    }
  }
  #no-backg-btn:hover:before,
  #no-backg-btn:focus:before,
  #no-backg-btn:not(:focus):before {
    background: none;
  }
}

form .v-text-field,
form .v-text-field input {
  outline: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6) !important;
}
.v-text-field > .v-input__control > .v-input__slot:after {
  border-color: #3f3d56 !important;
}
form .v-text-field input:focus {
  color: #3f3d56 !important;
}
form .v-text-field:focus-within label {
  color: #3f3d56 !important;
}
.v-form .v-row .v-input {
  width: 48% !important;
}
.v-form .v-row .v-input + .v-input {
  margin-left: 10px !important;
}
#submit-btn {
  align-self: center;
  cursor: pointer !important;
  color: white !important;
  background-color: #3f3d56 !important;
  border: none;
  height: 50px;
  text-transform: capitalize;
  font-size: 18px !important;
  margin-top: 35px;
  border-radius: 10px;
}
form a {
  color: #3f3d56;
  text-decoration: none;
  align-self: center;
  margin-top: 60px;
}
#footer {
  display: flex;
  color: #3f3d56;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 20px;
  font-size: 1rem;
}
#footer a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #3f3d56;
}

@media (max-width: 1220px) {
  .right-side form {
    width: 550px;
    padding: 0 30px;
  }
  form div .v-text-field {
    width: 100%;
  }
  form div .v-text-field + .v-text-field {
    margin-left: 0;
  }
}
@media (max-width: 961px) {
  .right-side {
    width: 100%;
    justify-content: start;
  }
  .right-side header {
    margin-top: 20px;
  }
  .right-side header #square-logo {
    display: flex;
  }
  .right-side #distributor {
    display: block;
    padding: 0 30px;
    text-align: center;
    font-size: 1.2rem;
    margin: 30px 0;
  }
  .right-side #distributor strong {
    font-size: 1.5rem;
  }
  .right-side #salesman {
    display: block;
  }
  #footer {
    margin: 30px 0;
  }
}
@media (max-width: 530px) {
  .right-side .v-form {
    width: 90% !important;
  }
  .v-text-field {
    margin: 0;
  }
  #btn-store {
    font-size: 12px;

    img {
      width: 30px;
    }
  }
  #footer a {
    font-size: 14px;
  }
}
</style>
