<template>
  <div>
    <v-flex id="form-is-registered" xs12>
      <div class="isRegistered-wrapper">
        <div class="good-sales">
          <span>Cadastro realizado com sucesso</span>
          <h2>Boas Vendas!!</h2>
        </div>
        <img id="app-illustration" src="/webpages/app-illustration.png" />
        <div class="check-lottery">
          <span v-if="square.app_url && square.app_ios">
            Para gerenciar e acompanhar suas vendas, baixe o aplicativo na
            PlayStore ou AppStore clicando abaixo
          </span>
          <span v-if="square.app_url && !square.app_ios">
            Para gerenciar e acompanhar suas vendas, baixe o aplicativo clicando
            no botão abaixo
          </span>
          <div class="d-flex flex-column app-links">
            <a v-if="square.app_url" :href="square.app_url">
              <img
                style="width: 200px"
                src="/webpages/logo-google-play-black.png"
                alt=""
              />
            </a>
            <a
              v-if="square.app_ios"
              :href="
                square.app_ios
                  ? square.app_ios
                  : 'https://www.apple.com/pt/ios/app-store/'
              "
            >
              <img
                style="width: 190px"
                src="/webpages/logo-app-store.png"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </v-flex>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    square: Object
  }
};
</script>

<style lang="scss">
.isRegistered-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .good-sales {
    margin-top: 25px;
    text-align: center;
    color: #6e6d7a;

    a {
      color: #6e6d7a;
    }
    h2 {
      margin: 20px 0;
    }
  }
  #app-illustration {
    margin: 15px 0;
  }
  .app-links {
    a {
      margin-top: 10px;

      img {
        margin: 0;
      }
    }
  }
  .check-lottery {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    text-align: center;

    #btn-store {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #3f3d56;
        color: whitesmoke;
        text-decoration: none;
        filter: drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.25));
      }
      img {
        width: 18px;
        margin-left: 8px;
      }
    }
  }
}
</style>
