<template>
  <div style="max-width:700px">
    <h2 class="font-weight-medium my-10 text-center">
      Olá,
      {{
        form.name.indexOf(" ") >= 0
          ? form.name.substring(0, form.name.indexOf(" "))
          : form.name
      }}
    </h2>
    <v-layout xs12 md12 class="flex-wrap">
      <v-flex md4 xs12 class="pr-md-5">
        <v-text-field
          v-model="form.address.zipCode"
          label="CEP"
          filled
          :autofocus="true"
          inputmode="numeric"
          dense
          rounded
          v-mask="'#####-###'"
          :error-messages="zipCodeErrors"
        ></v-text-field>
      </v-flex>
      <v-flex md8 xs12 class="pl-md-5">
        <v-text-field
          v-model="form.address.street"
          :error-messages="streetErrors"
          label="Logradouro"
          filled
          dense
          rounded
        ></v-text-field>
      </v-flex>
      <v-flex md4 xs12 class="pr-md-5">
        <v-text-field
          v-model="form.address.number"
          label="Número"
          filled
          inputmode="numeric"
          dense
          rounded
          :error-messages="numberErrors"
        ></v-text-field>
      </v-flex>
      <v-flex md8 xs12 class="pl-md-5">
        <v-text-field
          v-model="form.address.neighborhood"
          label="Bairro"
          filled
          dense
          rounded
          :error-messages="neighborhoodErrors"
        ></v-text-field>
      </v-flex>
      <v-flex md4 xs12 class="pr-md-5">
        <v-text-field
          v-model="form.address.complement"
          label="Complemento"
          filled
          dense
          rounded
        ></v-text-field>
      </v-flex>
      <v-flex md6 xs12 class="pl-md-5">
        <v-text-field
          v-model="form.address.city"
          label="Cidade"
          filled
          dense
          rounded
          :error-messages="cityErrors"
        ></v-text-field>
      </v-flex>
      <v-flex md2 xs12 class="pl-md-5">
        <v-text-field
          v-model="form.address.uf"
          label="UF"
          v-mask="'AA'"
          filled
          dense
          rounded
          :error-messages="ufErrors"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout
      align-center
      justify-space-between
      class="flex-column flex-sm-row-reverse justify-content-space-between"
    >
      <v-flex xs12 sm8 md8 class="pl-md-5">
        <v-btn
          class="white--text my-4 px-14 px-sm-14 justify-self-end "
          height="42"
          @click="submit"
          width="100%"
          color="darkBlue"
          id="submit-btn"
        >
          Continuar
        </v-btn>
      </v-flex>
      <v-flex md4>
        <v-btn @click="goBack" id="no-backg-btn" text color="darkBlue">
          <v-icon small acef light>mdi-arrow-left</v-icon>
          Voltar
        </v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import axios from "axios";
// import Swal from "sweetalert2";
import { required, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  validations: {
    form: {
      address: {
        zipCode: {
          required,
          minLength: minLength(9)
        },
        number: {
          required,
          mask: v => /^[0-9]+$/g.test(v)
        },
        street: { required },
        neighborhood: { required },
        uf: { required, maxLength: maxLength(2), minLength: minLength(2) },
        city: { required }
      }
    }
  },
  props: {
    form: {
      salesmanId: String,
      name: String,
      email: String,
      phone: String,
      address: {
        street: String,
        number: String,
        zipCode: String,
        ibge_code: String,
        neighborhood: String,
        uf: String,
        complement: String,
        city: String,
        ibge: String
      }
    },
    step: Number
  },
  data() {
    return {
      showPass: false
    };
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$emit("step", { val: this.step + 1 });
      }
    },
    goBack() {
      this.$emit("step", { val: this.step - 1 });
    }
  },
  computed: {
    zipCodeErrors() {
      const errors = [];
      if (!this.$v.form.address.zipCode.$dirty) return errors;
      !this.$v.form.address.zipCode.required && errors.push("CEP inválido");
      !this.$v.form.address.zipCode.minLength && errors.push("CEP inválido");
      return errors;
    },
    numberErrors() {
      const errors = [];
      if (!this.$v.form.address.number.$dirty) return errors;
      !this.$v.form.address.number.required && errors.push("Número inválido");
      !this.$v.form.address.number.mask && errors.push("Número inválido");
      return errors;
    },
    streetErrors() {
      const errors = [];
      if (!this.$v.form.address.street.$dirty) return errors;
      !this.$v.form.address.street.required &&
        errors.push("Logradouro inválido");
      return errors;
    },
    neighborhoodErrors() {
      const errors = [];
      if (!this.$v.form.address.neighborhood.$dirty) return errors;
      !this.$v.form.address.neighborhood.required &&
        errors.push("Bairro inválido");
      return errors;
    },
    cityErrors() {
      const errors = [];
      if (!this.$v.form.address.city.$dirty) return errors;
      !this.$v.form.address.city.required && errors.push("Cidade inválida");
      return errors;
    },
    ufErrors() {
      const errors = [];
      if (!this.$v.form.address.uf.$dirty) return errors;
      !this.$v.form.address.uf.required && errors.push("UF inválida");
      !this.$v.form.address.uf.minLength && errors.push("UF inválida");
      !this.$v.form.address.uf.maxLength && errors.push("");
      return errors;
    }
  },
  watch: {
    async "form.address.zipCode"() {
      if (this.form.address.zipCode.length == 9) {
        const response = await axios.get(
          `https://viacep.com.br/ws/${this.form.address.zipCode}/json/`
        );

        if (response.data.erro) {
          this.$swal("Oops!", "CEP inválido", "warning");
        } else {
          const { logradouro, bairro, localidade, uf, ibge } = response.data;
          (this.form.address.street = logradouro),
            (this.form.address.neighborhood = bairro),
            (this.form.address.city = localidade),
            (this.form.address.uf = uf),
            (this.form.address.ibge_code = ibge);
        }
      }
    }
  }
};
</script>

<style></style>
