<template>
  <div>
    <v-flex md12>
      <v-text-field
        v-model="form.salesmanId"
        label="CPF/CNPJ"
        filled
        dense
        inputmode="numeric"
        rounded
        :autofocus="true"
        :error-messages="idErrors"
        v-mask="[
          this.form.salesmanId.length <= 14
            ? '###.###.###-##'
            : '##.###.###/####-##'
        ]"
      ></v-text-field>
    </v-flex>
    <v-flex md12>
      <v-text-field
        v-model="form.name"
        label="Nome"
        filled
        dense
        rounded
        :error-messages="nameErrors"
      ></v-text-field>
    </v-flex>
    <v-flex>
      <v-text-field
        v-model="form.email"
        label="Email"
        filled
        dense
        rounded
        :error-messages="emailErrors"
        @blur="form.email = form.email.toLowerCase()"
      ></v-text-field>
    </v-flex>
    <v-flex>
      <v-text-field
        v-model="form.phone"
        :error-messages="phoneErrors"
        filled
        dense
        inputmode="numeric"
        rounded
        v-mask="[
          this.form.phone.length <= 14 ? '(##) ####-####' : '(##) #####-####'
        ]"
        label="Telefone"
      ></v-text-field>
    </v-flex>
    <v-flex>
      <div class="mx-0 d-flex btn-store">
        <v-btn
          class="white--text my-4 px-14 px-sm-16"
          height="42"
          @click="submit"
          color="darkBlue"
          width="100%"
          style="margin: 0 auto"
          id="submit-btn"
          :loading="loading"
        >
          Continuar
        </v-btn>
      </div>
    </v-flex>
  </div>
</template>

<script>
import { required, minLength, maxLength } from "vuelidate/lib/validators";
// import Swal from "sweetalert2";
import axios from "axios";

export default {
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3),
        mask: v => /^[a-záàâãéèêíïóôõöúçñ ]+$/i.test(v)
      },
      salesmanId: {
        required,
        maxLength: maxLength(18),
        minLength: minLength(14),
        mask: v => v.length === 14 || v.length === 18,
        testCPF: value => {
          if (value.toString().replace(/[^\d]+/g, "").length > 11) {
            if (!value) return false;
            let cnpj = String(value);
            cnpj = cnpj.replace(/[^\d]+/g, "");
            if (cnpj == "") return false;
            if (cnpj.length != 14) return false;
            if (
              cnpj == "00000000000000" ||
              cnpj == "11111111111111" ||
              cnpj == "22222222222222" ||
              cnpj == "33333333333333" ||
              cnpj == "44444444444444" ||
              cnpj == "55555555555555" ||
              cnpj == "66666666666666" ||
              cnpj == "77777777777777" ||
              cnpj == "88888888888888" ||
              cnpj == "99999999999999"
            )
              return false;
            let tamanho = cnpj.length - 2;
            let numeros = cnpj.substring(0, tamanho);
            let digitos = cnpj.substring(tamanho);
            let soma = 0;
            let pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
              soma += numeros.charAt(tamanho - i) * pos--;
              if (pos < 2) pos = 9;
            }
            let resultado = soma % 11 < 2 ? 0 : 11 - (soma % 11);
            if (resultado != digitos.charAt(0)) return false;
            tamanho = tamanho + 1;
            numeros = cnpj.substring(0, tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
              soma += numeros.charAt(tamanho - i) * pos--;
              if (pos < 2) pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - (soma % 11);
            if (resultado != digitos.charAt(1)) return false;
            return true;
          } else {
            if (!value) return true;
            value = value.toString();
            value = value.replace(/[^0-9]/g, "");
            var Soma;
            var Resto;
            var i = 0;
            Soma = 0;
            if (value == "00000000000") return false;
            if (value == "11111111111") return false;
            if (value == "22222222222") return false;
            if (value == "33333333333") return false;
            if (value == "44444444444") return false;
            if (value == "55555555555") return false;
            if (value == "66666666666") return false;
            if (value == "77777777777") return false;
            if (value == "88888888888") return false;
            if (value == "99999999999") return false;
            for (i = 1; i <= 9; i++)
              Soma = Soma + parseInt(value.substring(i - 1, i)) * (11 - i);
            Resto = (Soma * 10) % 11;
            if (Resto == 10 || Resto == 11) Resto = 0;
            if (Resto != parseInt(value.substring(9, 10))) return false;
            Soma = 0;
            for (i = 1; i <= 10; i++)
              Soma = Soma + parseInt(value.substring(i - 1, i)) * (12 - i);
            Resto = (Soma * 10) % 11;
            if (Resto == 10 || Resto == 11) Resto = 0;
            if (Resto != parseInt(value.substring(10, 11))) return false;
            return true;
          }
        }
      },
      email: {
        required,
        mask: v => /.+@.+\..+/.test(v),
        containsSpace: v => !/\s/.test(v)
      },
      phone: {
        minLength: minLength(14),
        mask: v => {
          if (v.length == 15) {
            return v[5] == "9" ? true : false;
          }
          return true;
        },
        required
      }
    }
  },
  props: {
    form: Object,
    step: Number,
    square: Object
  },
  data() {
    return {
      loading: false
    };
  },
  methods: {
    async submit() {
      try {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          this.loading = !this.loading;
          const response = await axios.post(
            `${process.env.api_pdv_url}/pdv/vendedores/verificacoes`,
            {
              email: this.form.email.trim(),
              cpf: this.form.salesmanId.replace(/[^0-9]/g, ""),
              telefone: this.form.phone.replace(/[^0-9]/g, "")
            },
            { timeout: 30000 }
          );
          if (response.data.cpf) {
            this.$swal("Oops!", "CPF/CNPJ já cadastrado", "error");
          } else if (response.data.email) {
            this.$swal("Oops!", "Email já cadastrado", "error");
          } else if (response.data.telefone) {
            this.$swal("Oops!", "Telefone já cadastrado", "error");
          } else {
            this.$emit("step", { val: this.step + 1 });
          }
          this.loading = !this.loading;
        }
      } catch (err) {
        this.loading = !this.loading;
        this.$swal(
          "Oops! Todo mundo erra, dessa vez foram nossos servidores",
          "Por favor, tente novamente mais tarde",
          "warning"
        );
      }
    }
  },
  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.form.email.$dirty) return errors;
      !this.$v.form.email.required && errors.push("Email inválido");
      !this.$v.form.email.mask && errors.push("Email inválido");
      !this.$v.form.email.containsSpace && errors.push("Email inválido");
      return errors;
    },
    phoneErrors() {
      const errors = [];
      if (!this.$v.form.phone.$dirty) return errors;
      !this.$v.form.phone.required && errors.push("Telefone inválido");
      !this.$v.form.phone.mask && errors.push("Telefone inválido");
      !this.$v.form.phone.minLength && errors.push("Telefone inválido");
      return errors;
    },
    salesmanIdMask() {
      return this.form.salesmanId.length <= 14
        ? "###.###.###-##"
        : "##.###.###/####-##";
    },
    nameErrors() {
      const errors = [];
      if (!this.$v.form.name.$dirty) return errors;
      !this.$v.form.name.mask && errors.push("Nome inválido");
      !this.$v.form.name.minLength &&
        errors.push("Nome deve possuir no mínimo 3 caracteres");
      !this.$v.form.name.required && errors.push("Nome inválido");
      return errors;
    },
    idErrors() {
      const errors = [];
      if (!this.$v.form.salesmanId.$dirty) return errors;
      !this.$v.form.salesmanId.required && errors.push("CPF/CNPJ inválido");
      !this.$v.form.salesmanId.minLength && errors.push("CPF/CNPJ inválido");
      !this.$v.form.salesmanId.mask && errors.push("CPF/CNPJ inválido");
      !this.$v.form.salesmanId.testCPF && errors.push("CPF/CNPJ inválido");
      return errors;
    }
  }
};
</script>

<style></style>
