<template>
  <div style="max-width:700px">
    <h2 class="font-weight-medium my-10 text-center">
      Olá,
      {{
        form.name.indexOf(" ") >= 0
          ? form.name.substring(0, form.name.indexOf(" "))
          : form.name
      }}
    </h2>
    <v-layout class="flex-wrap">
      <v-flex xs12>
        <v-text-field
          v-model="form.password"
          label="Senha"
          filled
          :autofocus="true"
          dense
          rounded
          :error-messages="passwordErrors"
          @blur="$v.form.password.$touch()"
          :type="showPass ? 'text' : 'password'"
          :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="showPass = !showPass"
        ></v-text-field>
      </v-flex>
      <v-flex xs12>
        <v-text-field
          v-model="form.repeatPassword"
          :error-messages="repeatPasswordErrors"
          @blur="$v.form.repeatPassword.$touch()"
          label="Confirmar senha"
          filled
          dense
          rounded
          :type="showPass ? 'text' : 'password'"
          :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="showPass = !showPass"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout
      align-center
      class="flex-column flex-md-row-reverse justify-space-between"
    >
      <v-flex sm12 md8>
        <v-btn
          class="white--text my-4 px-14 px-sm-16"
          height="42"
          @click="submit"
          color="darkBlue"
          width="100%"
          :loading="loading"
          id="submit-btn"
        >
          Cadastrar
        </v-btn>
      </v-flex>
      <v-flex md4>
        <v-btn @click="goBack" text color="darkBlue" id="no-backg-btn">
          <v-icon class="mr-1" small light>mdi-arrow-left</v-icon>
          Voltar
        </v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { required, minLength, sameAs } from "vuelidate/lib/validators";

export default {
  validations: {
    form: {
      password: {
        required,
        minLength: minLength(8),
      },
      repeatPassword: {
        required,
        minLength: minLength(8),
        sameAsPassword: sameAs("password"),
      },
    },
  },
  props: {
    loading: Boolean,
    form: {
      name: String,
      password: String,
      repeatPassword: String,
      isRegistered: Boolean,
    },
    step: Number,
  },
  data() {
    return {
      dialog: false,
      showPass: false,
    };
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$emit("handleRegistered");
      }
    },
    goBack() {
      this.$emit("step", { val: this.step - 1 });
    },
  },
  computed: {
    passwordErrors() {
      const errors = [];
      if (!this.$v.form.password.$dirty) return errors;
      !this.$v.form.password.required && errors.push("Senha inválida");
      !this.$v.form.password.minLength &&
        errors.push("A senha deve conter no mínimo 8 caracteres");
      return errors;
    },
    repeatPasswordErrors() {
      const errors = [];
      if (!this.$v.form.repeatPassword.$dirty) return errors;
      !this.$v.form.repeatPassword.required && errors.push("Senha inválida");
      !this.$v.form.repeatPassword.minLength &&
        errors.push("A senha deve conter no mínimo 8 caracteres");
      !this.$v.form.repeatPassword.sameAsPassword &&
        errors.push("Senhas não coincidem");
      return errors;
    },
  },
};
</script>

<style lang="scss">
@media screen and(max-width:490px) {
  #terms {
    margin-bottom: 20px;
  }
}
</style>
