<template>
  <div class="pg-sorteio-online">
    <v-container
      class="align-start justify-center background"
      style="padding: 14px; padding-bottom: 0; !important; max-width: 600px !important"
      fluid
    >
      <div class="justify-center">
        <div class="text-center texto-descricao font-weight-black">
          Faça o download do nosso app!
        </div>
        <div class="text-center mt-5">
          Com ele você tem tudo que precisa na palma da mão e ainda pode
          acompanhar o sorteio de onde estiver.
        </div>
        <div class="mt-8 pb-8 text-center ios-botao-1">
          <v-btn class="botao botao-download" @click="download">
            <div class="svg-icon android mr-2"></div>
            Download</v-btn
          >
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  head: {
    title: "Sorteio Online"
  },
  methods: {
    download() {
      window.open(
        `https://play.google.com/store/apps/details?id=${this.aparencia.id_play_store}`,
        "_blank"
      );
    }
  },
  computed: {
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    }
  }
};
</script>

<style lang="less">
.pg-sorteio-online {
  .botao-download {
    background-color: var(--cor4) !important;
  }

  .svg-icon.android {
    height: 28px;
    width: 23px;
    background-color: #ffffff;
  }
}
</style>
