<template>
  <style>
    :root {
      --cor1: {{ cor1 }};
      --cor2: {{ cor2 }};
      --cor3: {{ cor3 }};
      --cor4: {{ cor4 }};
      --cor5: {{ cor5 }};
      --corF1: {{ corF1 }};
      --corF2: {{ corF2 }};
      --corF3: {{ corF3 }};
      --gradiente1_1: {{ gradiente1_1 }};
      --gradiente1_2: {{ gradiente1_2 }};
      --gradiente2: {{ gradiente2 }};
      --url1: url({{ url1 }});
      --titulo1: {{ titulo1 }};
      --titulo2: {{ titulo2 }};
      --titulo3: {{ titulo3 }};
    }
  </style>
</template>
<script>
export default {
  name: "estilos-globais",
  data() {
    return {
      cor1: "",
      cor2: "",
      cor3: "",
      cor4: "",
      cor5: "",
      corF1: "",
      corF2: "",
      corF3: "",
      gradiente1_1: "",
      gradiente1_2: "",
      url1: "",
      titulo1: "",
      titulo2: "",
      titulo3: ""
    };
  },
  created() {
    const config = this.$store.getters["praca/config"];

    this.cor1 = config.estilos.coresBase.cor1;
    this.cor2 = config.estilos.coresBase.cor2;
    this.cor3 = config.estilos.coresBase.cor3;
    this.cor4 = config.estilos.coresBase.cor4;
    this.cor5 = config.estilos.coresBase.cor5;

    this.corF1 = "#565656";
    this.corF2 = "#969696";
    this.corF3 = "#c7c7c7";

    this.gradiente1_1 = `linear-gradient(45deg,
      ${config.estilos.coresEspeciais.gradiente1.inicio} ${config.estilos.coresEspeciais.gradiente1.pInicio}%,
      ${config.estilos.coresEspeciais.gradiente1.fim} ${config.estilos.coresEspeciais.gradiente1.pFim}%)`;

    this.gradiente1_2 = `linear-gradient(45deg,
      ${config.estilos.coresEspeciais.gradiente1.inicio}b0 ${config.estilos.coresEspeciais.gradiente1.pInicio}%,
      ${config.estilos.coresEspeciais.gradiente1.fim}b0 ${config.estilos.coresEspeciais.gradiente1.pFim}%)`;

    this.gradiente2 = `linear-gradient(0deg,
      ${config.estilos.coresEspeciais.gradiente2.inicio}b0 ${config.estilos.coresEspeciais.gradiente2.pInicio}%,
      ${config.estilos.coresEspeciais.gradiente2.fim}b0 ${config.estilos.coresEspeciais.gradiente2.pFim}%)`;

    this.titulo1 = config.estilos.coresEspecificas.titulo1;
    this.titulo2 = config.estilos.coresEspecificas.titulo2;
    this.titulo3 = config.estilos.coresEspecificas.titulo3;

    this.url1 = config.imagens.backgroundNumerosEntidade;
  },
  computed: {
    pastaPraca() {
      return `/pracas/${this.$store.getters["praca/nomePasta"]}`;
    }
  }
};
</script>
<style lang="less"></style>
