<template>
  <div class="cp-menu-principal">
    <v-navigation-drawer
      :width="265"
      v-bind:value="menuAberto"
      v-on:input="acaoMenu($event)"
      app
    >
      <v-list-item class="topo py-2">
        <v-list-item-content>
          <div class="d-flex white--text">
            <div class="mr-3">
              <div v-if="menuAberto" class="svg-icon trevo"></div>
            </div>
            <div v-if="logado">
              <div class="texto-descricao">
                Olá
                <span class="font-weight-black">{{ primeiroNome }}!</span>
              </div>
              <div class="texto-sair mt-1">
                <v-btn color="white" @click="sair()" text
                  >Sair ou trocar conta</v-btn
                >
              </div>
            </div>
            <div v-else class="texto-entrar mt-1">
              <v-btn color="white" @click="$router.push(`/entrar`)" text
                >ENTRAR / CADASTRAR</v-btn
              >
            </div>
          </div>
        </v-list-item-content>
      </v-list-item>
      <v-list dense class="links" v-if="menuAberto">
        <v-list-item
          v-for="(item, i) in menu"
          :key="i"
          active-class="selecionado"
          router
          :to="item.rota"
          @click="acaoExterna(item.acaoExterna)"
        >
          <v-list-item-action>
            <div :class="['svg-icon', item.icone]"></div>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="titulo-selecionado">
              {{ item.titulo }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: "menu-principal",
  data() {
    return {
      itensMenu: [
        {
          ativo: true,
          logado: false,
          icone: "home",
          titulo: "Página inicial",
          rota: "/"
        },
        {
          ativo: true,
          logado: false,
          icone: "trevo",
          titulo: "Minha Conta",
          rota: "/minhaconta"
        },
        {
          ativo: true,
          logado: false,
          icone: "estrela",
          titulo: "Como Participar",
          acaoExterna: "como-participar"
        },
        {
          ativo: true,
          logado: false,
          icone: "carrinho",
          titulo: `Comprar ${this.$store.getters["praca/nomeProdutoPlural"].toLowerCase()}`,
          
          rota: "/comprartitulos"
        },
        {
          ativo: true,
          logado: true,
          icone: "cartela",
          titulo: `Meus ${this.$store.getters["praca/nomeProdutoPlural"].toLowerCase()}`,
          rota: "/meustitulos"
        },
        {
          ativo: true,
          logado: true,
          icone: "raspar",
          titulo: "Prêmio Instantâneo",
          rota: "/premioinstantaneo"
        },
        {
          ativo: true,
          logado: true,
          icone: "carteira-2",
          titulo: "Saldo da Carteira",
          rota: "/saldocarteira"
        },
        {
          ativo: true,
          logado: true,
          icone: "presente",
          titulo: "Indique e Ganhe",
          rota: "/indiqueeganhe"
        },
        {
          ativo: true,
          logado: false,
          icone: "sorteio",
          titulo: "Sorteio Online",
          rota: "/sorteioonline"
        },
        {
          ativo: true,
          logado: false,
          icone: "bandeirola",
          titulo: "Resultados",
          acaoExterna: "resultados"
        },
        {
          ativo: true,
          logado: false,
          icone: "coracao",
          titulo: "Quem Somos",
          rota: "/?ab=1&area=sobre"
        },
        {
          ativo: true,
          logado: false,
          icone: "check",
          titulo: "Regulamento",
          acaoExterna: "regulamento"
        },
        {
          ativo: false,
          logado: false,
          icone: "arquivo",
          titulo: "Condições Gerais",
          acaoExterna: "condicoes-gerais"
        },
        {
          ativo: true,
          logado: false,
          icone: "check2",
          titulo: "Termo de Uso",
          acaoExterna: "termos-de-uso"
        },
        {
          ativo: true,
          logado: false,
          icone: "info",
          titulo: "Politica de Privacidade",
          acaoExterna: "politica-privacidade"
        },
        {
          ativo: true,
          logado: false,
          icone: "duvida",
          titulo: "Dúvidas",
          rota: "/?ac=1&area=duvidas"
        },
        {
          ativo: true,
          logado: false,
          icone: "mensagens",
          titulo: "Contato",
          rota: "/contato"
        }
      ]
    };
  },
  computed: {
    etapas() {
      return this.$store.getters["praca/etapas"];
    },
    menuAberto() {
      return this.$store.getters["layout/menuAberto"];
    },
    logado() {
      return this.$store.getters["usuario/logado"];
    },
    primeiroNome() {
      return this.$store.getters["usuario/primeiroNome"].toUpperCase();
    },
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    menu() {
      return (this.logado
        ? this.itensMenu
        : this.itensMenu.filter(i => !i.logado)
      ).filter(i => i.ativo);
    },
    config() {
      return this.$store.getters["praca/config"];
    },
    nomeProdutoSingular() {
      return this.$store.getters["praca/nomeProdutoSingular"].toLowerCase();
    },
    nomeProdutoPlural() {
      return this.$store.getters["praca/nomeProdutoPlural"].toLowerCase();
    },
  },
  created() {
    if (!this.etapas || !this.etapas.saldo_carteira) {
      this.itensMenu = this.itensMenu.filter(m => m.rota != "/saldocarteira");
    }

  },
  mounted() {
    if (!this.$vuetify.breakpoint.mobile) {
      this.$store.commit("layout/alteraMenu", true);
    }
    this.itensMenu.find(m => m.titulo == "Condições Gerais").ativo =
      this.aparencia &&
      this.aparencia.condicoes_gerais &&
      this.aparencia.condicoes_gerais.length > 0;

    this.itensMenu.find(m => m.titulo == "Indique e Ganhe").ativo =
      this.config.configuracoes.flag_indique_um_amigo == 1;

    this.itensMenu.find(m => m.titulo == "Prêmio Instantâneo").ativo =
      this.config.configuracoes.flag_premio_instantaneo == 1;
  },
  methods: {
    abreHTML(obj) {
      this.$store.commit("layout/alteraDialogArquivoHTML", obj);
    },
    sair() {
      this.$store.commit("usuario/logout");
      if (this.$vuetify.breakpoint.mobile) {
        this.$store.commit("layout/alteraMenu", false);
      }
      this.$router.push(`/`);
    },
    acaoMenu(event) {
      this.$store.commit("layout/alteraMenu", event);
    },
    acaoExterna(tipo) {
      if (tipo) {
        switch (tipo) {
          case "regulamento":
            this.abreHTML({
              aberto: true,
              titulo: "Regulamento",
              link: this.aparencia.regulamento
            });
            break;
          case "condicoes-gerais":
            if (
              Array.isArray(this.aparencia.condicoes_gerais) &&
              this.aparencia.condicoes_gerais.length > 1
            ) {
              this.$store.commit(
                "layout/alteraDialogCondicoesGeraisAberto",
                true
              );
            } else {
              if (Array.isArray(this.aparencia.condicoes_gerais)) {
                window.open(this.aparencia.condicoes_gerais[0].url, "_blank");
              } else {
                window.open(this.aparencia.condicoes_gerais, "_blank");
              }
            }
            break;
          case "termos-de-uso":
            this.abreHTML({
              aberto: true,
              titulo: "Termos de Uso",
              link: this.aparencia.termos_de_uso
            });
            break;
          case "politica-privacidade":
            this.abreHTML({
              aberto: true,
              titulo: "Política de Privacidade",
              link: this.aparencia.politica_privacidade
            });
            break;
          case "resultados":
            window.open(this.aparencia.link_resultados, "_blank");
            break;
          case "como-participar":
            this.$store.commit("layout/alteraDialogComoFuncionaAberto", true);
            break;
        }
      }
      if (this.$vuetify.breakpoint.mobile) {
        this.$store.commit("layout/alteraMenu", false);
      }
    },

  }
};
</script>
<style lang="less">
.cp-menu-principal {
  .topo {
    background-color: var(--cor3);
    .svg-icon.trevo {
      width: 24px;
      height: 24px;
      background-color: #fff;
    }
    .texto-sair {
      cursor: pointer;
      font-size: 12px;
      text-decoration: underline;
    }
    button {
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
      font-size: 12px !important;
      padding: 0 0 !important;
      height: 16px !important;
      min-width: 64px !important;
    }
    .texto-entrar {
      button {
        font-size: 14px !important;
      }
    }
  }
  .links {
    .v-list-item__action:first-child {
      margin-right: 13px !important;
    }
    .v-list-item__title{
      text-transform: capitalize;
    }
    .svg-icon {
      width: 20px;
      height: 20px;
      background-color: var(--corF1) !important;
    }
    .selecionado {
      .svg-icon {
        background-color: var(--cor3) !important;
      }
      color: var(--cor3) !important;
      .titulo-selecionado {
        font-weight: 700 !important;
      }
    }
  }
}
</style>
