<template>
  <div class="cp-rodape">
    <v-footer padless>
      <v-container
        v-intersect="onIntersect"
        class="justify-center text-center white--text"
        fluid
      >
        <div class="px-15 my-5 links">
          <v-btn
            color="white"
            text
            rounded
            class="my-2"
            @click="link('minha-conta')"
            >Minha Conta</v-btn
          >
          <v-btn
            color="white"
            text
            rounded
            class="my-2"
            @click="link('como-participar')"
            >Como Participar</v-btn
          >
          <v-btn
            color="white"
            text
            rounded
            class="my-2"
            @click="link('resultados')"
            >Resultados</v-btn
          >
          <v-btn color="white" text rounded class="my-2" @click="link('sobre')"
            >Quem Somos</v-btn
          >
          <v-btn
            color="white"
            text
            rounded
            class="my-2"
            @click="link('regulamento')"
            >Regulamento</v-btn
          >
          <v-btn
            v-if="
              aparencia &&
                aparencia.condicoes_gerais &&
                aparencia.condicoes_gerais.length > 0
            "
            color="white"
            text
            rounded
            class="my-2"
            @click="link('condicoes-gerais')"
            >Condições Gerais</v-btn
          >
          <v-btn
            color="white"
            text
            rounded
            class="my-2"
            @click="link('termos-de-uso')"
            >Termos de Uso</v-btn
          >
          <v-btn
            color="white"
            text
            rounded
            class="my-2"
            @click="link('politica-de-privacidade')"
            >Política de Privacidade</v-btn
          >
          <v-btn
            color="white"
            text
            rounded
            class="my-2"
            @click="link('contato')"
            >Contato</v-btn
          >
        </div>
        <div class="logos d-flex justify-center mb-4">
          <div v-if="config.imagens.logoProjetoRodape">
            <div><span class="fontCapitalize">{{nomeProdutoSingular}}</span> emitido por</div>
            <img
              v-if="intersected"
              :src="config.imagens.logoProjetoRodape"
              class="mt-2 logo-projeto"
            />
          </div>
          <div v-if="config.imagens.logoEntidadeRodape" class="mx-5">
            <div>Entidade beneficiada</div>
            <img
              v-if="intersected"
              :src="config.imagens.logoEntidadeRodape"
              class="mt-2 logo-entidade"
            />
          </div>
          <div v-if="config.imagens.logoDistribuidoraRodape">
            <div>Distribuído por</div>
            <img
              v-if="intersected"
              :src="config.imagens.logoDistribuidoraRodape"
              class="mt-2 logo-distribuidora"
            />
          </div>
        </div>
        <div class="text-center">
          <img
            v-if="intersected"
            src="/imagens/diversas/site_seguro.png"
            class="img-site-seguro"
          />
        </div>
        <div class="mt-7">
          <div>FORMAS DE PAGAMENTO</div>
          <div>
            <div class="mt-5">
              <div class="my-3">DÉBITO</div>
              <div v-if="intersected">
                <img
                  src="/imagens/bandeiras-cartao/bandeira_visa.png"
                  class="img-bandeira"
                />
                <img
                  src="/imagens/bandeiras-cartao/bandeira_master.png"
                  class="img-bandeira"
                />
                <img
                  src="/imagens/bandeiras-cartao/bandeira_elo.png"
                  class="img-bandeira"
                />
                <img
                  src="/imagens/bandeiras-cartao/bandeira_caixa.png"
                  class="img-bandeira"
                />
                <img
                  src="/imagens/bandeiras-cartao/bandeira_mp.png"
                  class="img-bandeira"
                />
              </div>
            </div>
            <div class="mt-5">
              <div class="my-3">CRÉDITO</div>
              <div v-if="intersected">
                <img
                  src="/imagens/bandeiras-cartao/bandeira_visa.png"
                  class="img-bandeira"
                />
                <img
                  src="/imagens/bandeiras-cartao/bandeira_master.png"
                  class="img-bandeira"
                />
                <img
                  src="/imagens/bandeiras-cartao/bandeira_elo.png"
                  class="img-bandeira"
                />
                <img
                  src="/imagens/bandeiras-cartao/bandeira_diners.png"
                  class="img-bandeira"
                />
                <img
                  src="/imagens/bandeiras-cartao/bandeira_hiper_card.png"
                  class="img-bandeira"
                />
                <img
                  src="/imagens/bandeiras-cartao/bandeira_american.png"
                  class="img-bandeira"
                />
                <img
                  src="/imagens/bandeiras-cartao/bandeira_jcb.png"
                  class="img-bandeira"
                />
                <img
                  src="/imagens/bandeiras-cartao/bandeira_hiper.png"
                  class="img-bandeira"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="mt-10">
          {{ etapas.texto_rodape }}
        </div>
        <div class="mt-10 mb-3 operacionalizado">
          <div>Operacionalizado por Play Serviços</div>
          <div>contato@playservicos.com.br</div>
        </div>
      </v-container>
    </v-footer>
  </div>
</template>

<script>
export default {
  name: "rodape",
  data() {
    return {
      intersected: false,
      primeira: true
    };
  },
  computed: {
    config() {
      return this.$store.getters["praca/config"];
    },
    etapas() {
      return this.$store.getters["praca/etapas"];
    },
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    carregou() {
      return this.$store.getters["praca/carregou"];
    },
    nomeProdutoSingular() {
      return this.$store.getters["praca/nomeProdutoSingular"].toLowerCase();
    },
    nomeProdutoPlural() {
      return this.$store.getters["praca/nomeProdutoPlural"].toLowerCase();
    },
    
  },
  methods: {
    onIntersect(entries, observer) {
      if (!this.intersected && entries[0].isIntersecting) {
        if (this.primeira && this.$route.path == "/") {
          this.primeira = false;
        } else {
          this.intersected = true;
        }
      }
    },
    abreHTML(obj) {
      this.$store.commit("layout/alteraDialogArquivoHTML", obj);
    },
    link(tipo) {
      if (tipo) {
        switch (tipo) {
          case "minha-conta":
            this.$router.push("/minhaconta");
            break;
          case "como-participar":
            this.$store.commit("layout/alteraDialogComoFuncionaAberto", true);
            break;
          case "resultados":
            window.open(this.aparencia.link_resultados, "_blank");
            break;
          case "sobre":
            this.$router.push("/?menu=2&area=sobre");
            break;
          case "regulamento":
            this.abreHTML({
              aberto: true,
              titulo: "Regulamento",
              link: this.aparencia.regulamento
            });
            break;
          case "condicoes-gerais":
            if (Array.isArray(this.aparencia.condicoes_gerais)) {
              this.$store.commit(
                "layout/alteraDialogCondicoesGeraisAberto",
                true
              );
            } else {
              window.open(this.aparencia.condicoes_gerais, "_blank");
            }
            break;
          case "termos-de-uso":
            this.abreHTML({
              aberto: true,
              titulo: "Termos de Uso",
              link: this.aparencia.termos_de_uso
            });
            break;
          case "politica-de-privacidade":
            this.abreHTML({
              aberto: true,
              titulo: "Política de Privacidade",
              link: this.aparencia.politica_privacidade
            });
            break;
          case "contato":
            this.$router.push("/contato");
            break;
        }
      }
    }
  }
};
</script>

<style lang="less">
.cp-rodape {
  .v-footer {
    background-color: var(--cor3) !important;
    border-color: var(--cor3) !important;
  }
  .links {
    button {
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
    }
  }

  .logos {
    font-size: 12px;
    .logo-projeto {
      max-width: 100px;
      max-height: 60px;
    }
    .logo-entidade {
      max-width: 100px;
      max-height: 60px;
    }
    .logo-distribuidora {
      max-width: 100px;
      max-height: 60px;
    }
  }

  .img-site-seguro {
    width: 130px;
  }
  .img-bandeira {
    height: 30px;
    margin: 7px 8px;
  }
  .operacionalizado {
    font-size: 12px;
  }
}
</style>
