<template>
  <div class="cp-topo-component">
    <v-container
      class="align-start justify-center background"
      style="padding: 14px !important"
      fluid
    >
      <div class="topo d-flex align-center justify-space-between">
        <div class="menu">
          <v-btn text rounded @click="alteraMenu">
            <div class="svg-icon menu"></div>
          </v-btn>
        </div>
        <div class="curva-topo d-flex justify-space-around align-center">
          <div
            style="width: 160px; height: 90px;"
            class="d-flex justify-center align-center"
          >
            <img :src="config.imagens.logoProjeto" class="logo-projeto mb-3" />
          </div>
          <div
            style="width: 80px; height: 55px;"
            class="d-flex justify-center align-center"
          >
            <img
              :src="config.imagens.logoEntidadeTopo"
              class="logo-entidade mb-3"
            />
          </div>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "topo",
  methods: {
    alteraMenu() {
      this.$store.commit("layout/alteraMenu");
    }
  },
  computed: {
    config() {
      return this.$store.getters["praca/config"];
    }
  }
};
</script>

<style lang="less">
.cp-topo-component {
  z-index: 10;
  .menu {
    margin: 0 20px;
    padding-bottom: 14px !important;
    .v-btn {
      border-radius: 7px !important;
      min-height: unset !important;
      min-width: unset !important;
      width: 40px !important;
      height: 40px !important;
    }
  }
  .svg-icon.menu {
    width: 40px;
    height: 40px;
    background-color: #fff;
  }
  .topo {
    margin: -14px;
  }
  .logo-projeto {
    max-width: 160px;
    max-height: 90px;
  }
  .logo-entidade {
    max-width: 80px;
    max-height: 55px;
  }
  .curva-topo {
    background-image: url("/imagens/curvas/curva_topo_quadro_principal.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    height: 110px;
    padding-left: 25px;
    margin-bottom: 5px;
    filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.3));
  }
  .background {
    background: var(--gradiente1_1);
  }
}
</style>
