<template>
  <v-footer class="py-8" style="width: 100%; bottom: 0">
    <v-layout column align-center>
      <v-flex>
        <p class="white--text font-weight-bold text-body-1">
          Site 100% confiável
        </p>
      </v-flex>
      <v-flex>
        <v-img
          class="mb-4"
          src="/webpages/site_seguro.png"
          contain
          max-width="140"
        ></v-img>
      </v-flex>
      <v-flex
        v-if="orderForm && orderForm.certificados"
        class="my-2 d-flex flex-column align-center"
      >
        <span class="white--text mt-2 text-center"
          >Você pode acompanhar o sorteio direto do nosso aplicativo!</span
        >
        <a
          :href="
            square.app_url ? square.app_url : 'https://play.google.com/store'
          "
        >
          <img
            style="width: 200px"
            src="/webpages/logo-google-play-black.png"
            alt=""
          />
        </a>
      </v-flex>
      <v-flex>
        <span class="text-subtitle-1 text-center white--text"
          >Operacionado por PlayServiços©</span
        >
      </v-flex>
      <v-flex>
        <span class="text-center white--text text-body-2"
          >contato@playservicos.com.br</span
        >
      </v-flex>
    </v-layout>
  </v-footer>
</template>

<script>
export default {
  props: {
    orderForm: {
      type: Object,
      required: false
    },
    square: Object
  }
};
</script>

<style>
.v-footer {
  background: url(/webpages/footer-background.svg) !important;
  background-size: cover !important;
}
</style>
