<template>
  <div style="position: relative; height: 100%">
    <v-container fluid class="pa-0">
      <v-layout class="py-8 px-3" column align-center>
        <v-flex>
          <v-img
            :src="square.logo"
            max-width="260"
            max-height="120"
            contain
          ></v-img>
        </v-flex>
        <v-flex>
          <p
            :style="`color:${this.$vuetify.theme.themes.light.text}`"
            class="text-body-1 text-center text-md-h5 my-8"
          >
            Para visualizar os dados da sua compra, informe o número do pedido
            da venda e o seu CPF
          </p>
        </v-flex>
        <v-flex class="mb-8">
          <LoginImg></LoginImg>
        </v-flex>
        <v-flex md8>
          <v-text-field
            class="mx-2"
            outlined
            color="#6C7573"
            v-model="form.nsu"
            type="number"
            inputmode="numeric"
            :error-messages="nsuErrors"
            style="width: 90vw; max-width: 600px"
            label="Número do pedido"
          ></v-text-field>
        </v-flex>
        <v-flex>
          <v-text-field
            class="mx-2"
            outlined
            color="#6C7573"
            style="width: 90vw; max-width: 600px"
            label="CPF"
            v-mask="'###.###.###-##'"
            v-model="form.cpf"
            :error-messages="cpfErrors"
          ></v-text-field>
        </v-flex>
        <v-flex>
          <v-btn
            color="success"
            width="260"
            :loading="loading"
            @click="submit"
            class="text-h6 my-4 py-6 white--text"
          >
            Visualizar
          </v-btn>
        </v-flex>
      </v-layout>
      <v-dialog v-model="dialog" max-width="500">
        <v-card
          style="position: relative"
          class="px-4 py-8 d-flex flex-column align-center"
        >
          <h3 class="text-h4">Oops!</h3>
          <v-btn
            @click="dialog = !dialog"
            large
            icon
            style="position: absolute; top: 8px; right: 8px"
          >
            <v-icon style="justify-self: flex-end !important">mdi-close</v-icon>
          </v-btn>
          <v-img
            class="my-8"
            src="/webpages/sad-face.svg"
            max-width="200"
            contain
          ></v-img>
          <span style="font-size: 18px">{{ errMessage }}</span>
        </v-card>
      </v-dialog>
    </v-container>
    <Footer></Footer>
  </div>
</template>

<script>
import axios from "axios";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      loading: false,
      errMessage: "",
      dialog: false
    };
  },
  validations: {
    form: {
      nsu: {
        required,
        isInteger: value => /[0-9]+$/.test(value),
        valid: v => v > 0
      },
      cpf: {
        minLength: minLength(14),
        required,
        isValid(value) {
          value = value.replace(/[^0-9]/g, "");
          if (value && value.length < 11) return true;
          if (!value) return true;
          value = value.toString();
          var Soma;
          var Resto;
          var i = 0;
          Soma = 0;
          if (value == "00000000000") return false;

          for (i = 1; i <= 9; i++)
            Soma = Soma + parseInt(value.substring(i - 1, i)) * (11 - i);
          Resto = (Soma * 10) % 11;

          if (Resto == 10 || Resto == 11) Resto = 0;
          if (Resto != parseInt(value.substring(9, 10))) return false;

          Soma = 0;
          for (i = 1; i <= 10; i++)
            Soma = Soma + parseInt(value.substring(i - 1, i)) * (12 - i);
          Resto = (Soma * 10) % 11;

          if (Resto == 10 || Resto == 11) Resto = 0;
          if (Resto != parseInt(value.substring(10, 11))) return false;
          return true;
        }
      }
    }
  },
  props: {
    square: Object,
    step: Number,
    form: Object
  },
  components: {
    Footer: () => import("./Footer.vue"),
    LoginImg: () => import("./Svgs/loginImg.vue")
  },
  methods: {
    async submit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.loading = !this.loading;
        try {
          const orderData = await axios.post(
            `${process.env.api_url}/v2/vendas/consultas`,
            {
              nsu: this.form.nsu,
              cpf: this.form.cpf.replace(/[\\.-]/g, "")
            }
          );

          if (orderData.data.optin_url) {
            window.location.href = orderData.data.optin_url;
            return;
          }
          if (!orderData.data.produto || !orderData.data.produto) {
            this.errMessage = "Pedido não encontrado.";
            this.dialog = !this.dialog;
          } else {
            this.$emit("handleStep", { step: 2, data: orderData.data });
          }
          this.loading = !this.loading;
        } catch (err) {
          this.errMessage = err.response.data.message;
          this.dialog = !this.dialog;
          this.loading = !this.loading;
        }
      }
    }
  },
  computed: {
    cpfErrors() {
      const errors = [];
      if (!this.$v.form.cpf.$dirty) return errors;
      !this.$v.form.cpf.required && errors.push("CPF inválido");
      !this.$v.form.cpf.minLength && errors.push("CPF inválido");
      !this.$v.form.cpf.isValid && errors.push("CPF inválido");
      return errors;
    },
    nsuErrors() {
      const errors = [];
      if (!this.$v.form.nsu.$dirty) return errors;
      !this.$v.form.nsu.required && errors.push("Número do pedido inválido");
      !this.$v.form.nsu.isInteger && errors.push("Número do pedido inválido");
      !this.$v.form.nsu.valid && errors.push("Número do pedido inválido");
      return errors;
    }
  }
};
</script>

<style lang="scss"></style>
