<template>
  <v-container fluid style="height:100%" class="d-flex align-center">
    <v-layout column align-center>
      <v-flex>
        <span class="text-h4 text-center">
          Página não encontrada
        </span>
      </v-flex>
      <v-flex style="width:100%" class="d-flex justify-center">
        <v-img src="/webpages/not-found.svg" max-width="600" contain></v-img>
      </v-flex>
    </v-layout>
  </v-container>
</template>
