<template>
  <v-container fluid class="pa-0 d-flex flex-column align-center">
    <v-layout
      class="py-8"
      column
      align-center
      style="max-width:600px !important;"
    >
      <v-flex class="mb-7">
        <v-img
          :src="square.logo"
          max-width="260"
          max-height="120"
          contain
        ></v-img>
      </v-flex>
      <v-flex class="mb-4">
        <span
          v-if="orderForm.situacao == 'Pendente'"
          :style="`color:${this.$vuetify.theme.themes.light.text}`"
          class="text-body-1 text-center text-md-h5 my-8 my-md-12"
        >
          Informações da compra:
        </span>
        <span
          v-else
          :style="`color:${this.$vuetify.theme.themes.light.text}`"
          class="text-body-1 text-center text-md-h5 my-8 my-md-12"
        >
          Meus parabéns!! Você adquiriu:
        </span>
      </v-flex>
      <v-flex>
        <h3
          class="text-center text-h4 font-weight-bold"
          :style="`color:${this.$vuetify.theme.themes.light.textProductName}`"
        >
          {{ orderForm.produto.titulo }}
        </h3>
      </v-flex>
      <v-flex class="my-8">
        <v-img
          id="product-img"
          v-if="!orderForm.certificados"
          :src="orderForm.produto.url_imagem"
          contain
          style="border-radius:50%"
        ></v-img>
        <TitleImg v-else></TitleImg>
      </v-flex>
      <v-flex class="mt-4 d-flex flex-column justify-center">
        <v-card
          :width="getCardSize"
          class="pa-5 d-flex flex-column"
          :style="`color:${this.$vuetify.theme.themes.light.text}`"
        >
          <b style="font-size:18px" class="mb-2">Detalhes do pedido:</b>
          <span>
            <b>Número do pedido:</b>
            {{ orderForm.nsu }}
          </span>
          <span>
            <b>Cliente:</b>
            {{ orderForm.cliente.nome }}
          </span>
          <span>
            <b>CPF:</b>
            {{ orderForm.cliente.cpf }}
          </span>
          <span v-if="orderForm.produto.recorrente">
            <b>Produto recorrente:</b>
            Sim
          </span>
          <span>
            <b>Telefone:</b>
            {{ orderForm.cliente.telefone }}
          </span>
          <span v-if="orderForm.vendedor && orderForm.vendedor.nome">
            <b>Vendedor:</b>
            {{ orderForm.vendedor.nome }}
          </span>
          <span>
            <b>Data e hora:</b>
            {{ orderForm.data }}
          </span>
          <span>
            <b>Valor total:</b>
            {{ orderForm.valor | formatValue }}
          </span>
          <div>
            <b>Situação:</b>
            <span :style="`color:${getStatusColor(orderForm.situacao)}`">
              {{ orderForm.situacao }}
            </span>
          </div>
          <hr class="my-4" color="#E3E3E3" />
          <div>
            <div v-if="!orderForm.certificados" class="d-flex flex-column">
              <b>Produtos escolhidos:</b>
              <span class="ml-4" v-for="item in orderForm.itens" :key="item.id">
                • {{ orderForm.produto.titulo }} - {{ item.titulo }}
              </span>
            </div>
            <div v-if="orderForm.certificados" class="d-flex flex-column">
              <b style="font-size:18px" class="mb-2">Informações da etapa:</b>
              <span>
                <b>Nome:</b>
                {{ orderForm.etapa.descricao }}
              </span>
              <div
                class="d-flex flex-column"
                v-for="(chance, i) in orderForm.chances"
                :key="i"
              >
                <span class="mt-4">• {{ chance.descricao }}</span>
                <span>Valor unitário: {{ chance.valor_unitario }}</span>
                <span>Quantidade: {{ chance.quantidade }}</span>
                <span>Valor total: {{ chance.valor_total }}</span>
              </div>
              <b v-if="orderForm.premios.length" class="mt-4">Prêmios:</b>
              <p v-for="award in orderForm.premios" :key="award">
                {{ award }}
              </p>
            </div>
          </div>
        </v-card>
      </v-flex>
      <div v-if="orderForm.certificados" style="max-width:600px">
        <Titles :orderForm="orderForm"></Titles>
      </div>
      <v-flex
        v-if="orderForm.texto_rodape && orderForm.certificados"
        class="py-2 px-4 pa-sm-0"
      >
        <p style="color:#5A5F5E" class="text-justify mt-6">
          {{ orderForm.texto_rodape }}
        </p>
      </v-flex>
    </v-layout>
    <Footer :orderForm="orderForm" :square="square"></Footer>
  </v-container>
</template>

<script>
export default {
  props: {
    orderForm: {
      type: Object,
      required: true
    },
    square: Object
  },
  components: {
    Footer: () => import("./Footer.vue"),
    TitleImg: () => import("./Svgs/titleImg"),
    Titles: () => import("./Titles.vue")
  },
  computed: {
    getCardSize() {
      return this.$vuetify.breakpoint.mdAndUp ? 600 : "90vw";
    }
  },
  methods: {
    getStatusColor(status) {
      return status == "Concluido"
        ? "#6AB04C"
        : status == "Pendente"
        ? "#F6B651"
        : "#D85454";
    }
  },
  filters: {
    formatValue(value) {
      return value.toLocaleString("pt-BR", {
        style: "currency",
        currency: "BRL"
      });
    }
  }
};
</script>

<style lang="scss" scoped>
#product-img {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  width: 260px;
  height: 260px;
}
@media screen and(max-width:960px) {
  #product-img {
    width: 200px;
    height: 200px;
  }
}
</style>
