<template>
  <v-layout style="max-width:100vw" column>
    <v-flex>
      <p
        :style="`color:${this.$vuetify.theme.themes.light.text}`"
        class="text-center mb-0 mt-12 text-h5"
      >
        Confira abaixo seus títulos
      </p>
    </v-flex>
    <v-flex
      v-for="(title, i) in orderForm.certificados"
      :key="i"
      xs12
      class="d-flex pa-4"
      :style="getOverflow"
      id="titles_wrapper"
    >
      <Title :sequencia="title"></Title>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: {
    orderForm: {
      type: Object,
      required: true,
    },
  },
  components: {
    Title: () => import("./Title.vue"),
  },
  computed: {
    getOverflow() {
      return this.orderForm.certificados[0].sequencia1.length == 6
        ? ""
        : "overflow-x:scroll;";
    },
  },
};
</script>

<style></style>
