<template>
  <div class="d-flex">
    <v-container
      v-if="sequencia.numero1"
      :class="[
        'pt-0',
        sequencia.sequencia1.length == 6
          ? 'cp-card-loteria pb-2'
          : 'cp-card pb-4'
      ]"
    >
      <v-layout row class="lighten-2 pt-1 pr-2" :style="getStyle('bar', 1)">
        <v-flex xs5 class="d-flex subheading pa-0 pl-2 pt-2">
          <div class="text-xs-left" style="font-size: 18px">
            <span v-if="!isLottery" class="font-weight-bold">{{
              sequencia.numero1
            }}</span>
            <br v-if="!isLottery" />
            <span :style="isLottery ? 'font-size: 14px' : 'font-size: 11px'"
              >Número da sorte</span
            >
          </div>
        </v-flex>
        <v-flex v-if="!isLottery" class="text-right pr-2 white--text pt-2">
          Chance <br />
          1
        </v-flex>
        <v-flex class="text-right white--text pt-2 pr-2">
          <span v-if="!isLottery" style="font-size: 11px"
            >{{ getChances }}<br
          /></span>
          <span style="font-size: 16px">{{ getPrice }}</span>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex class="d-flex justify-center">
          <span v-if="sequencia.mensagem" class="pt-2">{{
            sequencia.mensagem
          }}</span>
        </v-flex>
      </v-layout>
      <v-layout row wrap class="grey lighten-4 mt-2 d-flex justify-center">
        <v-flex
          text-xs-center
          v-for="(i, j) in sequencia.sequencia1"
          :key="j"
          class="d-flex justify-center pa-1"
        >
          <span class="title__number" :style="getStyle('number', 1)">{{
            i
          }}</span>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container
      v-if="sequencia.numero2"
      :class="['pt-0', isLottery ? 'cp-card-loteria pb-2' : 'cp-card pb-4']"
    >
      <v-layout row class="lighten-2 pt-1 pr-2" :style="getStyle('bar', 2)">
        <v-flex xs5 class="d-flex subheading pa-0 pl-2 pt-2">
          <div class="text-xs-left" style="font-size: 18px">
            <span class="font-weight-bold">{{ sequencia.numero2 }}</span>
            <br />
            <span style="font-size: 11px">Número da sorte</span>
          </div>
        </v-flex>
        <v-flex class="text-right pr-2 white--text pt-2">
          Chance <br />
          2
        </v-flex>
        <v-flex class="text-right white--text pt-2 pr-2">
          <span style="font-size: 11px">{{ getChances }}<br /></span>
          <span style="font-size: 16px">{{ getPrice }}</span>
        </v-flex>
      </v-layout>
      <v-layout row wrap class="grey lighten-4 mt-2 d-flex justify-center">
        <v-flex
          text-xs-center
          v-for="(i, j) in sequencia.sequencia2"
          :key="j"
          class="d-flex justify-center pa-1"
        >
          <span class="title__number" :style="getStyle('number', 2)">{{
            i
          }}</span>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container
      v-if="sequencia.numero3"
      :class="['pt-0', isLottery ? 'cp-card-loteria pb-2' : 'cp-card pb-4']"
    >
      <v-layout row class="lighten-2 pt-1 pr-2" :style="getStyle('bar', 3)">
        <v-flex xs5 class="d-flex subheading pa-0 pl-2 pt-2">
          <div class="text-xs-left" style="font-size: 18px">
            <span class="font-weight-bold">{{ sequencia.numero3 }}</span>
            <br />
            <span style="font-size: 11px">Número da sorte</span>
          </div>
        </v-flex>
        <v-flex class="text-right pr-2 white--text pt-2">
          Chance <br />
          3
        </v-flex>
        <v-flex class="text-right white--text pt-2 pr-2">
          <span style="font-size: 11px">{{ getChances }}<br /></span>
          <span style="font-size: 16px">{{ getPrice }}</span>
        </v-flex>
      </v-layout>
      <v-layout row wrap class="grey lighten-4 mt-2 d-flex justify-center">
        <v-flex
          text-xs-center
          v-for="(i, j) in sequencia.sequencia3"
          :key="j"
          class="d-flex justify-center pa-1"
        >
          <span class="title__number" :style="getStyle('number', 3)">{{
            i
          }}</span>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    sequencia: Object
  },
  methods: {
    getStyle(type, id) {
      let color = "";
      if (id == 1) {
        color = this.$vuetify.theme.themes.light.primaryTitle;
      } else if (id == 2) {
        color = this.$vuetify.theme.themes.light.secondaryTitle;
      } else if (id == 3) {
        color = this.$vuetify.theme.themes.light.tertiaryTitle;
      }

      if (type == "bar") {
        return this.isLottery
          ? ` background: linear-gradient(60deg, #f5f5f5 60%, ${color} 40%, ${color} 100%);
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;`
          : ` background: linear-gradient(60deg, #f5f5f5 40%, ${color} 40%, ${color} 100%);
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;`;
      } else if (type == "number") {
        if (this.isLottery)
          return `padding:0px 9px;border: 3px solid ${color} !important;`;
        else return `padding: 4px 7px;border: 3px solid ${color} !important;`;
      }
    }
  },
  computed: {
    isLottery() {
      return this.sequencia.sequencia1.length == 6;
    },
    getChances() {
      let length;
      if (
        this.sequencia.sequencia1 &&
        this.sequencia.sequencia2 &&
        this.sequencia.sequencia3
      ) {
        length = 3;
      } else if (
        this.sequencia.sequencia1 &&
        this.sequencia.sequencia2 &&
        !this.sequencia.sequencia3
      ) {
        length = 2;
      } else if (
        this.sequencia.sequencia1 &&
        !this.sequencia.sequencia2 &&
        !this.sequencia.sequencia3
      ) {
        length = 1;
      }
      return length === 1 ? "1 chance por" : `${length} chances por`;
    },
    getPrice() {
      return this.sequencia.valor.toLocaleString("pt-BR", {
        style: "currency",
        currency: "BRL"
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.title__number {
  border-radius: 50%;
  font-size: 23px;
  background-color: #fff;
  // padding: 4px 7px;
}

.cp-card,
.cp-card-loteria {
  cursor: default;
  height: auto;
  // display: block;
  width: 400px;
  background: #f5f5f5;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition-duration: 0.2s;
  margin-right: 10px;
}
.cp-card {
  width: 270px;
}
.cp-card-loteria {
  width: 300px;
}
</style>
