<template>
  <div class="pg-saldo-carteira">
    <v-container
      class="align-start justify-center background"
      style="padding: 14px; padding-bottom: 0; !important; max-width: 600px !important"
      fluid
    >
      <div class="justify-center">
        <div class="text-center texto-descricao">Saldo da Carteira</div>
        <v-skeleton-loader
          class="mx-auto my-10"
          max-width="600"
          type="list-item-three-line"
          v-if="carregando"
        ></v-skeleton-loader>
        <div v-else-if="contaCorrente">
          <div class="text-center mt-2">
            Saldo atual:
            <span class="font-weight-black" style="font-size: 20px">
              {{ contaCorrente.saldo_atual | formatCurrency }}</span
            >
          </div>
          <div class="mt-8 pb-8 text-center ios-botao-1">
            <v-btn
              v-if="contaCorrente.adicionar_saldo.boleto"
              class="botao botao-adicionar-saldo"
              @click="dialogAdicionar = true"
            >
              <div class="svg-icon codigo-barras mr-2"></div>
              Adicionar Saldo via Boleto</v-btn
            >
          </div>
          <v-expansion-panels>
            <v-expansion-panel class="elevation-0 mb-5">
              <v-expansion-panel-header>
                <span class="font-weight-black"> Boletos </span>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-list two-line>
                  <template
                    wrap
                    v-if="
                      !contaCorrente.saldo_pendente ||
                        contaCorrente.saldo_pendente == 0
                    "
                  >
                    <v-list-item ripple>
                      <v-list-item-content>
                        <div class="text-xs-center">
                          Você não possui movimentações para exibir aqui
                        </div>
                      </v-list-item-content>
                    </v-list-item>
                  </template>

                  <template
                    v-for="(item, index) in contaCorrente.saldo_pendente"
                  >
                    <v-list-item :key="index" ripple>
                      <v-list-item-content>
                        <v-list-item-title
                          style="white-space: normal !important;"
                          >{{ item.descricao }}</v-list-item-title
                        >
                        <v-list-item-subtitle>
                          Data de vencimento:
                          {{ item.data_vencimento }}
                        </v-list-item-subtitle>
                      </v-list-item-content>
                      <v-list-item-action>
                        <v-btn icon medium @click="detalhesBoleto(item)">
                          <v-icon medium color="var(--cor4)"
                            >fas fa-info-circle</v-icon
                          >
                        </v-btn>
                      </v-list-item-action>
                    </v-list-item>
                    <v-divider
                      v-if="index + 1 < contaCorrente.saldo_pendente.length"
                      :key="`divider-${index}`"
                    ></v-divider>
                  </template>
                </v-list>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          <v-expansion-panels>
            <v-expansion-panel class="elevation-0">
              <v-expansion-panel-header>
                <span class="font-weight-black">
                  Histórico de Movimentação
                </span>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-list two-line>
                  <template
                    wrap
                    v-if="
                      !contaCorrente.historico || contaCorrente.historico == 0
                    "
                  >
                    <v-list-item ripple>
                      <v-list-item-content>
                        <div class="text-xs-center">
                          Você não possui movimentações para exibir aqui
                        </div>
                      </v-list-item-content>
                    </v-list-item>
                  </template>

                  <template v-for="(item, index) in contaCorrente.historico">
                    <v-list-item :key="index" ripple>
                      <v-list-item-content>
                        <v-list-item-title
                          style="white-space: normal !important;"
                          >{{ item.descricao }}</v-list-item-title
                        >
                        <v-list-item-subtitle>
                          {{ item.data }}
                        </v-list-item-subtitle>
                      </v-list-item-content>
                      <v-list-item-action>
                        <div
                          class="font-weight-bold"
                          :class="[
                            $vuetify.breakpoint.xsOnly ? 'subheading' : 'title',
                            item.valor > 0 ? 'saldoPositivo' : 'saldoNegativo'
                          ]"
                          style="width: 100%"
                        >
                          {{ item.valor | formatCurrency }}
                        </div>
                      </v-list-item-action>
                    </v-list-item>
                    <v-divider
                      v-if="index + 1 < contaCorrente.historico.length"
                      :key="`divider-${index}`"
                    ></v-divider>
                  </template>
                </v-list>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </div>
      </div>
    </v-container>

    <v-dialog
      v-if="contaCorrente"
      v-model="dialogAdicionar"
      @input="dialogAdicionar = false"
      :scrollable="$vuetify.breakpoint.mobile"
      :width="$vuetify.breakpoint.mobile ? '308' : '450'"
      :persistent="carregandoAdicionar"
    >
      <div class="pg-saldo-carteira-dialog-adicionar">
        <v-card>
          <div
            class="d-flex justify-space-between"
            style="margin-bottom: -30px"
          >
            <div></div>
            <div>
              <v-btn
                icon
                @click="dialogAdicionar = false"
                :loading="carregandoAdicionar"
              >
                <v-icon color="var(--corF1)">mdi-close-circle-outline</v-icon>
              </v-btn>
            </div>
          </div>
          <v-card-title
            class="pb-0 font-weight-bold titulo align-center text-center"
            >Adicionar Saldo via Boleto</v-card-title
          >
          <v-card-text class="align-center text-center">
            <div class="mt-5 font-weight-bold">Quanto você quer adicionar?</div>
            <div class="mt-5">
              <money
                v-model.lazy="formAdicionar.valor"
                v-bind="money"
                id="ticketValue"
                class="display-1 font-weight-light centered-input"
              ></money>
            </div>
            <div class="mt-3">
              <v-slider
                dense
                :max="contaCorrente.boleto.valor_maximo"
                :min="0"
                :step="contaCorrente.boleto.salto"
                v-model="formAdicionar.valor"
              ></v-slider>
            </div>
            <div style="margin-top: -15px">
              Escolha um valor entre <br />
              {{ contaCorrente.boleto.valor_minimo | formatCurrency }} e
              {{ contaCorrente.boleto.valor_maximo | formatCurrency }}
            </div>
            <div class="mt-8 pb-2 text-center ios-botao-1">
              <v-btn
                :loading="carregandoAdicionar"
                class="botao botao-confirmar"
                @click="gerarBoleto"
                :disabled="
                  formAdicionar.valor < contaCorrente.boleto.valor_minimo
                "
              >
                Confirmar
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </div>
    </v-dialog>

    <v-dialog
      v-if="dadoSelecionado"
      v-model="dialogVisualizar"
      @input="dialogVisualizar = false"
      :scrollable="$vuetify.breakpoint.mobile"
      :width="$vuetify.breakpoint.mobile ? '308' : '450'"
      :persistent="carregandoVisualizar"
    >
      <div class="pg-saldo-carteira-dialog-visualizar">
        <v-card>
          <div
            class="d-flex justify-space-between"
            style="margin-bottom: -30px"
          >
            <div></div>
            <div>
              <v-btn
                icon
                @click="dialogVisualizar = false"
                :loading="carregandoVisualizar"
              >
                <v-icon color="var(--corF1)">mdi-close-circle-outline</v-icon>
              </v-btn>
            </div>
          </div>
          <v-card-title
            class="pb-0 font-weight-bold titulo align-center text-center"
            >Detalhes do Boleto</v-card-title
          >
          <v-card-text class="align-center text-center">
            <div class="mt-5 font-weight-bold texto-descricao">
              {{ dadoSelecionado.valor | formatCurrency }}
            </div>
            <div style="font-size: 12px">
              VENCIMENTO {{ dadoSelecionado.data_vencimento }}
            </div>
            <div>
              <div class="mt-5">
                Faça o download ou utilize o número do código de barras abaixo
                para realizar o pagamento do boleto:
              </div>
              <div
                class="my-5 font-weight-bold"
                @click="copiarCodigo(dadoSelecionado.linha_digitavel)"
              >
                {{ dadoSelecionado.linha_digitavel }}
              </div>
              <div
                v-if="copiadoSucesso"
                class="codigo-copiado font-weight-bold"
              >
                Código copiado!
              </div>
              <div v-else>Clique no código para copiar</div>
              <div class="mt-8 pb-2 text-center ios-botao-1">
                <v-btn
                  :loading="carregandoVisualizar"
                  class="botao botao-confirmar"
                  @click="download(dadoSelecionado)"
                >
                  Fazer download
                </v-btn>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import { Money } from "v-money";
import copy from "copy-to-clipboard";
import axios from "axios";

export default {
  middleware: ["autenticado"],
  head: {
    title: "Saldo Carteira"
  },
  data() {
    return {
      dialogAdicionar: false,
      dialogVisualizar: false,
      formAdicionar: {
        valor: 0
      },
      money: {
        decimal: ",",
        thousands: ".",
        prefix: "R$ ",
        suffix: "",
        precision: 2,
        masked: false
      },
      dadoSelecionado: null,
      carregando: false,
      carregandoAdicionar: false,
      carregandoVisualizar: false,
      copiadoSucesso: false,
      carregando: false
    };
  },
  watch: {},
  components: {
    Money
  },
  created() {
    if (!this.etapas || !this.etapas.saldo_carteira) {
      this.$router.push(`/`);
    }
  },
  async mounted() {
    await this.obterDados();
    if (
      this.$route.query.acao &&
      this.$route.query.acao == "adicionar" &&
      this.contaCorrente.adicionar_saldo.boleto
    ) {
      this.dialogAdicionar = true;
    }
  },
  computed: {
    etapas() {
      return this.$store.getters["praca/etapas"];
    },
    historicoDeTitulos() {
      return this.$store.getters["usuario/historicoDeTitulos"];
    },
    contaCorrente() {
      return this.$store.getters["usuario/contaCorrente"];
    },
    pracaConfig() {
      return this.$store.getters["praca/config"];
    },
    etapaAtual() {
      return this.$store.getters["praca/etapaAtual"];
    }
  },
  methods: {
    copiarCodigo(codigo) {
      copy(codigo);
      this.copiadoSucesso = true;
      setTimeout(() => {
        this.copiadoSucesso = false;
      }, 3000);
    },
    detalhesBoleto(boleto) {
      this.dadoSelecionado = boleto;
      this.dialogVisualizar = true;
    },
    async obterDados() {
      this.carregando = true;
      try {
        const res = await this.$networkApi.dadosContaCorrente();
        this.$store.commit("usuario/salvaContaCorrente", res.data);
      } catch (error) {}
      this.formAdicionar.valor = this.contaCorrente.boleto.valor_minimo;
      this.carregando = false;
    },
    async gerarBoleto() {
      this.carregandoAdicionar = true;
      try {
        const obj = {
          valor: this.formAdicionar.valor
        };
        const res = await this.$networkApi.gerarBoletodata(obj);
        this.dialogAdicionar = false;
        this.obterDados();
        this.detalhesBoleto(res.data);
      } catch (error) {
        const mensagem = error.response.data.message
          ? error.response.data.message
          : "Ocorreu um erro inesperado. Por favor, tente novamente.";
        this.$swal("", mensagem, "error");
      } finally {
        this.carregandoAdicionar = false;
      }
    },
    async downloadBlob(url) {
      return new Promise((resolve, reject) => {
        axios
          .get(url, {
            responseType: "blob"
          })
          .then(response => {
            resolve(response.data);
          })
          .catch(error => {
            reject(false);
          });
      });
    },
    async download(boleto) {
      try {
        this.carregandoVisualizar = true;
        let date = new Date();
        date = date.toLocaleDateString("pt-br");
        const res = await this.downloadBlob(boleto.url_imagem);
        const blob = new Blob([res], { type: "application/pdf" });
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = `boleto-${this.pracaConfig.nome}-${date}.pdf`;
        link.click();
        URL.revokeObjectURL(link.href);
      } catch (error) {
        this.$swal(
          "",
          "Ocorreu um erro inesperado. Por favor, tente novamente.",
          "error"
        );
      } finally {
        this.carregandoVisualizar = false;
      }
    }
  }
};
</script>

<style lang="less">
.pg-saldo-carteira {
  .v-expansion-panel-content__wrap {
    padding: 0 3px;
  }
  .v-list-item__title {
    font-size: 14px;
  }
  .v-list-item__subtitle {
    font-size: 12px;
  }

  .saldoPositivo {
    color: #0fb800 !important;
  }
  .saldoNegativo {
    color: #c40808 !important;
  }
  .botao-adicionar-saldo {
    background-color: var(--cor4) !important;
  }
  .svg-icon.codigo-barras {
    height: 28px;
    width: 23px;
    background-color: #ffffff;
  }
}
.pg-saldo-carteira-dialog-adicionar {
  .titulo {
    display: block;
    font-size: 18px;
    word-break: normal;
    line-height: 22px;
  }
  .v-money {
    color: var(--corF1);
    outline: none;
    width: 100%;
    text-align: center;
  }
  .botao-confirmar {
    background-color: var(--cor4) !important;
  }
  .svg-icon.carteira-2 {
    height: 28px;
    width: 23px;
    background-color: #ffffff;
  }
}

.pg-saldo-carteira-dialog-visualizar {
  .titulo {
    display: block;
    font-size: 18px;
    word-break: normal;
    line-height: 22px;
  }
  .v-money {
    color: var(--corF1);
    outline: none;
    width: 100%;
    text-align: center;
  }
  .botao-confirmar {
    background-color: var(--cor4) !important;
  }
  .svg-icon.carteira-2 {
    height: 28px;
    width: 23px;
    background-color: #ffffff;
  }
  .codigo-copiado {
    color: var(--cor4);
  }
}
</style>
