<template>
  <div class="pg-premio-instantaneo">
    <v-container
      class="align-start justify-center background"
      style="padding: 0px; important; max-width: 1130px !important;"
      fluid
    >
      <div class="d-flex justify-center" style=" flex-wrap: wrap !important;">
        <div class="topo text-center py-3">
          Prêmio Instantâneo
        </div>
        <v-tabs
          center-active
          show-arrows
          background-color="#F7F7F7"
          color="@565656"
          :value="tabSelecionada"
          @change="mudaEtapa"
        >
          <v-tab v-for="(etapa, i) in etapas" :key="i">{{
            etapa.descricao
          }}</v-tab>
        </v-tabs>
        <v-progress-linear
          v-if="carregandoEtapas"
          color="#565656"
          indeterminate
          rounded
          height="3"
        ></v-progress-linear>
        <div
          v-if="carregandoRaspadinhas"
          class="d-flex justify-center"
          style=" flex-wrap: wrap !important;"
        >
          <img
            src="/imagens/diversas/fundo-raspadinha.png"
            style="width: 0px; height:0px;"
          />
          <div class="ma-5" v-for="n in 3" :key="n">
            <v-skeleton-loader class="mt-2 mb-1" width="335" type="text" />
            <v-skeleton-loader
              class="mb-2"
              width="335"
              height="113"
              type="image"
            />
            <v-skeleton-loader width="335" type="text" />
          </div>
        </div>
        <raspadinha
          v-for="(raspadinha, i) in raspadinhas"
          :key="i"
          :index="i"
          :raspadinha="raspadinha"
          @raspou="raspou"
        />
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  middleware: ["autenticado"],
  head: {
    title: "Prêmios Instantâneos"
  },
  data() {
    return {
      carregandoEtapas: false,
      carregandoRaspadinhas: true,
      etapas: [],
      raspadinhas: [],
      tabSelecionada: 0
    };
  },
  components: {
    Raspadinha: () => import("@/components/diversos/Raspadinha")
  },
  async mounted() {
    if (this.config.configuracoes.flag_premio_instantaneo != 1) {
      this.$router.push(`/`);
    }
    this.carregandoEtapas = true;
    try {
      const res = await this.$networkApi.raspadinhasTodasEtapas();
      this.etapas = res.data;
      const posicao = this.etapas.findIndex(d => d.id == this.idEtapaAtual);
      if (posicao >= 0) {
        this.tabSelecionada = posicao;
      }
    } catch (error) {}
    this.carregandoEtapas = false;
    this.mudaEtapa(this.tabSelecionada);
  },
  methods: {
    async mudaEtapa(index) {
      if (!this.carregandoEtapas) {
        this.carregandoRaspadinhas = true;
        try {
          this.raspadinhas = [];
          const res = await this.$networkApi.raspadinhasPorEtapas(
            this.etapas[index].id
          );
          this.raspadinhas =
            res.data.result &&
            res.data.result.list &&
            res.data.result.list
              .map(r =>
                r.raspadinhas.map(f => ({ ...f, ...r, raspadinhas: undefined }))
              )
              .flat();
        } catch (error) {}
        this.carregandoRaspadinhas = false;
      }
    },
    async raspou(raspadinha) {
      try {
        await this.$networkApi.raspadinhasRaspou(
          { chance: raspadinha.chance.toString() },
          raspadinha.venda_id
        );
      } catch (error) {}
    }
  },
  computed: {
    config() {
      return this.$store.getters["praca/config"];
    },
    idEtapaAtual() {
      return this.$store.getters["praca/idEtapaAtual"];
    }
  }
};
</script>
<style lang="less">
.pg-premio-instantaneo {
  .topo {
    width: -webkit-fill-available;
    background-color: #f7f7f7;
    color: #565656;
    font-size: 22px;
  }
  .v-tab {
    text-transform: none !important;
  }
}
</style>
