<template>
  <v-layout justify-center align-center>
    <div id="loading" v-if="!loading">
      <lottie
        :options="defaultOptions"
        :width="225"
        v-on:animCreated="handleAnimation"
      />
    </div>
  </v-layout>
</template>

<script>
import Lottie from "./Lottie.vue";
const animationData = () => import("@/resources/animacoes/calendar.json");

export default {
  name: "calendar",
  components: {
    lottie: Lottie
  },
  data() {
    return {
      defaultOptions: { animationData: null, loop: true },
      animationSpeed: 1,
      loading: true
    };
  },
  created() {
    animationData().then(data => {
      this.defaultOptions.animationData = data;
      this.loading = false;
    });
  },
  methods: {
    handleAnimation: function(anim) {
      this.anim = anim;
    }
  }
};
</script>
