<template>
  <div class="pg-indique-e-ganhe">
    <v-container
      class="align-start justify-center background"
      style="padding: 14px; padding-bottom: 0; !important; max-width: 600px !important"
      fluid
    >
      <div class="justify-center">
        <div class="mb-2 text-center">
          <img src="/imagens/indique-e-ganhe/gift_mgm.svg" />
        </div>
        <div class="text-center texto-descricao font-weight-black">
          Ganhe R$1,00 para cada amigo indicado que comprar
        </div>
        <div class="text-center my-5">
          Para cada pessoa que criar uma conta pela sua indicação e comprar,
          você ganha R$1,00 no saldo da carteira e ainda ajuda algumas
          instituições.
        </div>
        <div class="text-center ios-botao-1">
          <v-btn
            class="botao botao-indicar"
            :loading="carregando"
            @click="copiarEndereco()"
            >Indicar Amigos</v-btn
          >
        </div>
        <div
          v-if="copiadoSucesso"
          class="codigo-copiado text-center font-weight-bold"
          style="margin-top: 3px; margin-bottom: -22px; font-size: 13px;"
        >
          Link copiado com sucesso!
        </div>
        <div class="links my-3 text-center">
          <v-btn text rounded color="var(--cor4)" @click="lerRegulamento()"
            >Ler o regulamento</v-btn
          >
        </div>
        <v-divider></v-divider>
        <div class="d-flex mt-3 justify-space-between" style="font-size: 13px">
          <div v-if="dados" class="text-center indicador">
            Você possui <br />
            <span class="texto-descricao font-weight-black">{{
              dados.indicados.length
            }}</span>
            <br />
            {{ dados.indicados.length > 1 ? "indicações" : "indicação" }}
          </div>

          <div class="vertical_dotted_line"></div>
          <div
            v-if="dados"
            class="text-center indicador"
            style="font-size: 13px"
          >
            Amigos que compraram: <br />
            <span class="texto-descricao font-weight-black">{{
              amigosCompraram.length
            }}</span>
            <br />
            {{ amigosCompraram.length > 1 ? "pessoas" : "pessoa" }}
          </div>
        </div>
        <div class="links my-3 text-center">
          <v-btn
            text
            rounded
            color="var(--cor4)"
            @click="$router.push(`/indiqueeganhe/indicacoes`)"
            >Acompanhar indicações</v-btn
          >
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
import copy from "copy-to-clipboard";
export default {
  head: {
    title: "Indique e Ganhe"
  },
  data() {
    return {
      carregando: false,
      dados: null,
      copiadoSucesso: false
    };
  },
  mounted() {
    if (this.config.configuracoes.flag_indique_um_amigo != 1) {
      this.$router.push(`/`);
    }
    this.obterDados();
  },
  methods: {
    copiarEndereco() {
      if (this.dados) {
        if (this.dados.pode_indicar) {
          copy(this.dados.link_indicacao);
          this.copiadoSucesso = true;
          setTimeout(() => {
            this.copiadoSucesso = false;
          }, 3000);
        } else {
          this.$swal({
            html: `
              <div style="margin-bottom: 10px">
                <img src="/imagens/diversas/sad-face.svg" />
              </div>
              A indicação é válida somente para clientes com compras válidas nos últimos 30 dias
              `,
            showCloseButton: true,
            confirmButtonText: "Ler o regulamento",
            allowEnterKey: false
          }).then(async result => {
            if (result.isConfirmed) {
              this.lerRegulamento();
            }
          });
        }
      }
    },
    lerRegulamento() {
      this.abreHTML({
        aberto: true,
        titulo: "Regulamento Indique e Ganhe",
        link: this.aparencia.regulamento_indicacao
      });
    },
    abreHTML(obj) {
      this.$store.commit("layout/alteraDialogArquivoHTML", obj);
    },
    async obterDados() {
      this.carregando = true;
      try {
        const res = await this.$networkApi.dadosIndiqueEGanhe();
        this.dados = res.data;
      } catch (error) {}
      this.carregando = false;
    }
  },
  computed: {
    config() {
      return this.$store.getters["praca/config"];
    },
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    amigosCompraram() {
      if (!this.dados) {
        return [];
      }
      return this.dados.indicados.filter(i => i.qtde_compras > 0);
    }
  }
};
</script>

<style lang="less">
.pg-indique-e-ganhe {
  .botao-indicar {
    background-color: var(--cor4) !important;
  }
  .indicador {
    width: 50%;
  }
  .vertical_dotted_line {
    border-left: 1px dashed rgba(0, 0, 0, 0.12);
  }

  .codigo-copiado {
    color: red;
  }
  .links {
    button {
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
    }
  }
}
</style>
