<template>
  <div class="pg-indique-e-ganhe">
    <v-container
      class="align-start justify-center background"
      style="padding: 14px; padding-bottom: 0; !important; max-width: 600px !important"
      fluid
    >
      <div class="justify-center">
        <div class="mb-2 text-center">
          <img src="/imagens/indique-e-ganhe/handshake.svg" />
        </div>
        <div
          class="text-center my-3 font-weight-black"
          style="font-size: 20px;"
        >
          Compras por amigos indicados
        </div>
        <v-skeleton-loader
          class="mx-auto my-10"
          max-width="600"
          type="list-item-two-line"
          v-if="carregando"
        ></v-skeleton-loader>
        <div
          v-if="!carregando && historicoFiltrado.length == 0"
          class="text-center"
        >
          Seus amigos indicados ainda não realizaram nenhuma compra
        </div>
        <template v-for="(item, index) in historicoFiltrado">
          <v-list-item :key="index" ripple>
            <v-list-item-content>
              <v-list-item-title style="white-space: normal !important;">{{
                item.descricao
              }}</v-list-item-title>
              <v-list-item-subtitle>
                {{ item.data }}
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <div
                class="font-weight-bold"
                :class="[
                  $vuetify.breakpoint.xsOnly ? 'subheading' : 'title',
                  item.valor > 0 ? 'saldoPositivo' : 'saldoNegativo'
                ]"
                style="width: 100%"
              >
                {{ item.valor | formatCurrency }}
              </div>
            </v-list-item-action>
          </v-list-item>
          <v-divider
            v-if="index + 1 < historicoFiltrado.length"
            :key="`divider-${index}`"
          ></v-divider>
        </template>
      </div>
      <div class="links my-3 text-center">
        <v-btn
          text
          rounded
          color="var(--cor4)"
          @click="$router.push(`/indiqueeganhe`)"
          >Voltar</v-btn
        >
      </div>
    </v-container>
  </div>
</template>

<script>
import copy from "copy-to-clipboard";
export default {
  head: {
    title: "Indicações"
  },
  data() {
    return {
      carregando: false,
      historico: null
    };
  },
  mounted() {
    if (this.config.configuracoes.flag_indique_um_amigo != 1) {
      this.$router.push(`/`);
    }
    this.obterDados();
  },
  methods: {
    async obterDados() {
      this.carregando = true;
      try {
        const res = await this.$networkApi.dadosContaCorrente();
        this.historico = res.data.historico;
      } catch (error) {}
      this.carregando = false;
    }
  },
  computed: {
    config() {
      return this.$store.getters["praca/config"];
    },
    historicoFiltrado() {
      return this.historico
        ? this.historico.filter(h => h.tag == "indicacao")
        : [];
    },
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    amigosCompraram() {
      if (!this.dados) {
        return [];
      }
      return this.dados.indicados.filter(i => i.qtde_compras > 0);
    }
  }
};
</script>

<style lang="less">
.pg-indique-e-ganhe {
  .botao-indicar {
    background-color: var(--cor4) !important;
  }
  .indicador {
    width: 50%;
  }
  .vertical_dotted_line {
    border-left: 1px dashed rgba(0, 0, 0, 0.12);
  }

  .codigo-copiado {
    color: red;
  }
  .links {
    button {
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
    }
  }
  .saldoPositivo {
    color: #0fb800 !important;
  }
  .saldoNegativo {
    color: #c40808 !important;
  }
}
</style>
