<template>
  <div class="pg-entrar">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 14px !important"
      fluid
    >
      <div class="texto-descricao cor-titulo">
        Entre ou cadastre-se para participar!
      </div>
      <v-card elevation="0" class="mx-auto mt-5" max-width="600">
        <v-form ref="form" @keyup.enter.native="enviar" v-model="formValido">
          <div>
            <v-text-field
              name="cpf"
              v-model="form.cpf"
              prepend-icon="mdi-account"
              label="CPF"
              type="text"
              inputmode="numeric"
              v-mask="'###.###.###-##'"
              :loading="carregando"
              :rules="[
                v => !!v || 'Campo obrigatório!',
                v => validaCPF(v) || 'CPF Inválido!'
              ]"
              required
            ></v-text-field>
            <v-text-field
              name="senha"
              v-model="form.senha"
              prepend-icon="mdi-lock"
              label="Senha"
              :append-icon="exibeSenha ? 'mdi-eye' : 'mdi-eye-off'"
              :type="exibeSenha ? 'text' : 'password'"
              :loading="carregando"
              :rules="[v => !!v || 'É obrigatório informar a Senha']"
              @click:append="exibeSenha = !exibeSenha"
              required
            ></v-text-field>
            <v-checkbox
              name="lembrarLogin"
              v-model="lembrarLogin"
              label="Lembrar nesse dispositivo"
              style="margin-top: 0px; padding-top: 0px"
            ></v-checkbox>
          </div>

          <div class="links">
            <v-btn
              color
              text
              rounded
              class="my-2"
              @click="$router.push(`/entrar/recuperarsenha`)"
              >Esqueci a senha</v-btn
            >
            <v-btn
              color
              text
              rounded
              class="my-2"
              @click="$router.push(`/entrar/cadastro`)"
              >Não possui conta? Cadastre-se</v-btn
            >
          </div>
          <div class="ios-botao-1">
            <v-btn
              class="botao botao-login"
              @click.prevent="enviar"
              :disabled="!formValido || form.cpf.length < 14"
              :loading="carregando"
              >Login</v-btn
            >
          </div>
          <div class="ios-botao-1">
            <v-btn
              class="botao botao-google"
              @click.prevent="loginWithGoogle"
              :loading="carregando"
            >
              <img
                src="/imagens/diversas/google.svg"
                class="logo-google mr-2"
              />
              Entrar com Google
            </v-btn>
          </div>
          <div class="botao-voltar">
            <v-btn
              color=""
              text
              rounded
              class="mt-2"
              :loading="carregando"
              @click.prevent="$router.back()"
            >
              <div class="svg-icon seta-esquerda mr-2"></div>
              Voltar</v-btn
            >
          </div>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>
<script>
import { auth } from "@/plugins/firebase";
import moment from "moment";
export default {
  middleware: ["naoAutenticado"],
  head: {
    title: "Entrar"
  },
  data() {
    return {
      form: {
        cpf: "",
        senha: ""
      },
      formValido: false,
      exibeSenha: false,
      carregando: false,
      lembrarLogin: false
    };
  },
  mounted() {
    const usuario = this.$store.state.usuario;
    this.lembrarLogin = usuario.lembrarLogin;

    if (this.dadosCapturaLead) {
      this.form.cpf = this.dadosCapturaLead.cpf.replace(
        /(\d{3})(\d{3})(\d{3})(\d{2})/,
        "$1.$2.$3-$4"
      );
      this.lembrarLogin = false;
    } else if (usuario.lembrarLogin) {
      this.form.cpf = usuario.loginSalvo.cpf;
      this.form.senha = usuario.loginSalvo.senha;
    }
  },
  watch: {
    lembrarLogin(value) {
      if (!value) {
        const usuario = this.$store.state.usuario;
        if (usuario.lembrarLogin) {
          this.$store.commit("usuario/removerLembrarLogin");
          this.form.cpf = "";
          this.form.senha = "";
          this.$refs.form.resetValidation();
        }
      }
    }
  },
  computed: {
    destinoLogin() {
      return this.$store.getters["usuario/destinoLogin"];
    },
    dadosCapturaLead() {
      return this.$store.getters["usuario/dadosCapturaLead"];
    },
    dadosUsuario() {
      return this.$store.getters["usuario/dados"];
    },
    capturaLeadPersistente() {
      return this.$store.getters["usuario/capturaLeadPersistente"];
    },
    pracaConfig() {
      return this.$store.getters["praca/config"];
    }
  },
  methods: {
    getIdToken() {
      return new Promise((resolve, reject) => {
        auth()
          .currentUser.getIdToken(true)
          .then(idToken => {
            resolve(idToken);
          })
          .catch(error => {
            reject(error);
          });
      });
    },
    signInWithPopup() {
      return new Promise((resolve, reject) => {
        var provider = new auth.GoogleAuthProvider();
        auth().languageCode = "pt";

        auth()
          .signInWithPopup(provider)
          .then(result => {
            resolve(result.user);
          })
          .catch(error => {
            reject();
          });
      });
    },
    async loginWithGoogle() {
      try {
        this.carregando = true;
        const user = await this.signInWithPopup();

        const idToken = await this.getIdToken();

        const res = await this.$networkApi.login({
          email: user.email,
          token: idToken
        });

        if (res.data.result.novo) {
          this.$router.push({
            path: `/entrar/cadastro`,
            query: {
              t: "fb"
            }
          });
        } else {
          this.$gtagEvent("GOOGLE_LOGIN");
          this.$store.commit("usuario/login", res.data.result);
          await this.capturaLead();
          this.$router.push(this.destinoLogin);
        }
      } catch (error) {
        // TODO - Remoção fluxo sem login
        // "Ops! Não foi possível realizar o login com o google. Tente fazer o login de outra forma ou utilize a opção de comprar sem login",
        this.$swal(
          "",
          "Ops! Não foi possível realizar o login com o google. Tente fazer o login de outra forma",
          "warning"
        );
      }
      this.carregando = false;
    },
    async enviar() {
      try {
        this.carregando = true;
        let res = await this.$networkApi.login({
          cpf: this.form.cpf.replace(/[^0-9]/g, ""),
          password: this.form.senha
        });
        this.$gtagEvent("INTERNAL_LOGIN");
        this.$store.commit("usuario/login", res.data.result);
        if (this.lembrarLogin) {
          this.$store.commit("usuario/lembrarLogin", {
            cpf: this.form.cpf.replace(/[^0-9]/g, ""),
            senha: this.form.senha
          });
        } else {
          this.$store.commit("usuario/removerLembrarLogin");
        }

        await this.capturaLead();
        this.$router.push(this.destinoLogin);
      } catch (error) {
        this.$swal("", "Usuário ou Senha incorretos", "error");
      } finally {
        this.carregando = false;
      }
    },
    async capturaLead() {
      if (this.capturaLeadPersistente) {
        try {
          const dataLimite = moment(this.capturaLeadPersistente.dataLimite);
          if (moment() <= dataLimite) {
            const cpf = this.dadosUsuario.cpf.replace(/[^0-9]/g, "");
            const email = this.dadosUsuario.email;
            const pdv_code = this.capturaLeadPersistente.pdv_code;
            const pdv_source = this.capturaLeadPersistente.pdv_source;
            const praca_id = this.pracaConfig.idPraca;
            const res = await this.$networkApi.pdvConsultaCadastro({
              praca_id,
              pdv_code,
              pdv_source,
              cpf,
              email
            });
            const { codigo, nome } = res.data.vendedor;
            this.$store.commit("usuario/salvaDadosVendedorLead", {
              cpf,
              codigo,
              nome
            });
          }
        } catch (error) {
        } finally {
          this.$store.commit("usuario/salvaCapturaLeadPersistente", null);
        }
      }
    },
    validaCPF: value => {
      value = value.replace(/[^0-9]/g, "");
      if (value && value.length < 11) return true;
      if (!value) return true;
      value = value.toString();
      var Soma;
      var Resto;
      var i = 0;
      Soma = 0;
      if (value == "00000000000") return false;

      for (i = 1; i <= 9; i++)
        Soma = Soma + parseInt(value.substring(i - 1, i)) * (11 - i);
      Resto = (Soma * 10) % 11;

      if (Resto == 10 || Resto == 11) Resto = 0;
      if (Resto != parseInt(value.substring(9, 10))) return false;

      Soma = 0;
      for (i = 1; i <= 10; i++)
        Soma = Soma + parseInt(value.substring(i - 1, i)) * (12 - i);
      Resto = (Soma * 10) % 11;

      if (Resto == 10 || Resto == 11) Resto = 0;
      if (Resto != parseInt(value.substring(10, 11))) return false;
      return true;
    }
  }
};
</script>
<style lang="less">
.pg-entrar {
  .links {
    button {
      height: 30px !important;
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
      color: var(--cor5) !important;
    }
  }
  .botao-login {
    transform: scale(0.8);
    background-color: var(--cor5) !important;
    width: -webkit-fill-available;
  }
  .botao-google {
    transform: scale(0.8);
    background-color: #fff !important;
    color: #000 !important;
    width: -webkit-fill-available;
  }
  .botao-voltar {
    margin-bottom: -15px;
    button {
      text-transform: none !important;
    }
  }
  .logo-google {
    height: 20px;
  }
}
</style>
