<template>
  <recuperar-senha
    titulo="Cadastrar Senha"
    inicioParagrafo="Para cadastrar sua senha"
  />
</template>
<script>
export default {
  head: {
    title: "Cadastrar Senha"
  },
  components: {
    RecuperarSenha: () => import("@/components/diversos/recuperarSenha")
  },
  mounted() {
    this.$swal(
      "",
      "Agora basta você cadastrar uma senha nesta tela e poderá usá-la para acessar a sua conta!",
      "success"
    );
  }
};
</script>
<style lang="less"></style>
