<template>
  <v-app class="d-flex align-center justify-center">
    <div id="app">
      <NotFound v-if="not_found" />
      <CongratulationsAside
        v-if="!not_found"
        :form="form"
        :square="square"
        :isRegistered="isRegistered"
      />
      <ClientRegister
        v-if="!not_found"
        :form="form"
        :square="square"
        :friend="friend"
        :isRegistered="isRegistered"
      />
    </div>
  </v-app>
</template>

<script>
import IndiqueCongratulationsAside from "@/components/webpages/IndiqueCongratulationsAside";
import ClientRegister from "@/components/webpages/ClientRegister";
import NotFound from "@/components/webpages/NotFound";
import Vue from "vue";
import VueMask from "v-mask";
import Vuelidate from "vuelidate";
import axios from "axios";

Vue.use(Vuelidate);
Vue.use(VueMask);

export default {
  layout: "webpages",
  components: {
    ClientRegister,
    IndiqueCongratulationsAside,
    NotFound
  },
  head() {
    return {
      title: "Indique e Ganhe"
    };
  },
  data() {
    return {
      isRegistered: false,
      not_found: false,
      form: {
        email: "",
        clientId: ""
      },
      friend: {
        name: "",
        code: ""
      },
      square: {
        id: "",
        logo: "",
        name: "",
        code: "",
        capitalizadora: "",
        instituicao: "",
        app_url: "",
        store_url: ""
      }
    };
  },
  methods: {
    notFound() {
      this.not_found = !this.not_found;
    }
  },
  mounted: function() {
    (async () => {
      try {
        if (this.$route.query.p && this.$route.query.id) {
          const response = await axios.get(
            `${process.env.api_url}/v2/pracas/?praca_id=${this.$route.query.p}&cliente_id=${this.$route.query.id}`
          );
          const { cliente, praca } = response.data;

          // nome do cliente
          this.friend.name =
            cliente.nome.charAt(0).toUpperCase() + cliente.nome.slice(1);
          this.friend.name =
            cliente.nome.indexOf(" ") >= 0
              ? cliente.nome.substring(0, cliente.nome.indexOf(" "))
              : cliente.nome;
          //codigo do cliente
          this.friend.code = this.$route.query.id;
          //nome da praca
          this.square.name =
            praca.nome.charAt(0).toUpperCase() + praca.nome.slice(1);
          //codigo da praca
          this.square.code = praca.codigo_praca;
          //id da praca
          this.square.id = praca.id;
          //app_url
          this.square.app_url = praca.app_url;
          //logos
          this.square.instituicao = praca.instituicao;
          this.square.capitalizadora = praca.capitalizadora;
          this.square.logo = praca.logo;
          //url da loja
          this.square.store_url = response.data.praca.loja_url;

          this.form.message = `Você foi indicado pelo cliente: ${this.friend.name}`;
        } else {
          this.notFound();
        }
      } catch (err) {
        this.notFound();
      }
    })();
  }
};
</script>

<style lang="scss">
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
body {
  background-color: #f5f5f5;
}
.v-application--wrap {
  justify-content: center;
}
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100% !important;
  max-width: 1300px !important;
  margin: 0 auto;
  background: #f5f5f5;
}
input {
  color: red;
}
</style>
