<template>
  <div style="width: 100%;height:100%;position:relative;">
    <v-layout v-if="!isLoaded" style="height: 90vh">
      <v-flex class="d-flex justify-center align-center">
        <v-progress-circular indeterminate :value="40"></v-progress-circular>
      </v-flex>
    </v-layout>
    <v-container
      v-if="!notFound && isLoaded"
      style="max-width: 800px;height:inherit"
      class="py-5"
    >
      <v-layout column align-center>
        <v-flex
          max-height="90"
          height="90"
          flat
          dense
          class="d-flex justify-center"
        >
          <v-img
            v-if="square.capitalizadora"
            :src="square.capitalizadora"
            max-width="60"
            contain
          ></v-img>
          <v-img :src="square.logo" max-width="60" contain class="mx-6"></v-img>
          <v-img
            v-if="square.entidade"
            :src="square.entidade"
            max-width="60"
            contain
          ></v-img>
        </v-flex>
        <v-flex class="d-flex flex-column text-center my-5">
          <span
            v-if="!$route.query.a"
            style="color: #626564"
            class="text-subtitle-1"
          >
            Você está adquirindo:
          </span>
          <div>
            <b style="color: #3d3d3d">{{ product.name }}</b>
            no valor de
            <b style="color: #3d3d3d">
              {{
                getSaleValue.toLocaleString("pt-BR", {
                  style: "currency",
                  currency: "BRL"
                })
              }}
            </b>
          </div>
          <div class="d-flex flex-column">
            <span>
              <b>Cliente:</b>
              {{ client.nome }}
            </span>
            <span>
              <b>CPF:</b>
              {{ client.cpf }}
            </span>
          </div>
        </v-flex>
        <hr color="#EEEEEE" width="95%" />
        <v-flex xs6>
          <div class="d-flex align-center py-2">
            <v-switch v-model="optout" inset></v-switch>
            <span>
              {{ getOptoutText }}
              <button
                class="ml-2 text-subtitle-1"
                style="color:#1976D2"
                @click="dialog = !dialog"
              >
                Ver mais
              </button>
            </span>
          </div>
        </v-flex>
        <v-flex
          class="d-flex flex-column align-center pt-4"
          style="width: 100%; position: relative; border: 1px solid #e8e8e8;border-radius:8px"
        >
          <h2>Termos</h2>
          <iframe id="regulation_iframe" :src="regulation"></iframe>
          <div class="linear__gradient"></div>
        </v-flex>
        <v-flex class="mt-8">
          <span class="text-justify">
            {{ bottomText }}
          </span>
        </v-flex>
      </v-layout>
      <v-dialog v-model="dialog" max-width="600px">
        <v-card
          class="pa-3 pa-md-6 d-flex flex-column align-center"
          style="position: relative"
        >
          <v-row
            style="width: 100%; position: sticky; top: 0; background: white"
          >
            <v-col cols="4"></v-col>
            <v-col cols="4" class="d-flex justify-center align-center">
              <h3>Termos</h3>
            </v-col>
            <v-col cols="4" class="d-flex justify-end align-center">
              <v-btn @click="dialog = !dialog" icon>
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <span class="text-justify mt-3">
            {{ optoutText }}
          </span>
        </v-card>
      </v-dialog>
    </v-container>
    <v-footer
      v-if="!notFound && isLoaded"
      style="position:sticky;bottom:0;width:100vw"
      class="text-center d-flex justify-center align-center py-3 flex-column"
    >
      <span class="mb-3">
        Ao clicar em continuar você concorda com os termos de uso e regulamento
      </span>
      <button v-if="!loading" @click="submit" class="accept__btn">
        Continuar
        <v-icon class="white--text">mdi-arrow-right</v-icon>
      </button>
      <button v-else class="accept__btn" style="padding:8px 64px">
        <v-progress-circular indeterminate color="white"></v-progress-circular>
      </button>
    </v-footer>
    <NotFound v-if="notFound && isLoaded" />
    <v-dialog max-width="500" v-model="errDialog" persistent>
      <v-card class="py-4 px-2 d-flex flex-column align-center">
        <h1>Oops!</h1>
        <v-img
          class="ma-4"
          contain
          src="/webpages/sad-face.svg"
          width="200"
        ></v-img>
        <span class="text-center text-h6 mt-4 font-weight-regular">
          {{ errMessage }}
        </span>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";

export default {
  layout: "webpages",
  head() {
    return {
      title: "Aceite os termos para continuar"
    };
  },
  data() {
    return {
      isLoaded: false,
      errMessage: "",
      errDialog: false,
      notFound: false,
      dialog: false,
      errors: [],
      optout: true,
      optin: false,
      loading: false,
      nsu: "",
      square: {
        id: "",
        logo: "",
        capitalizadora: "",
        instituicao: ""
      },
      client: {},
      product: {
        name: "",
        items: [],
        price: ""
      },
      redirect_url: "",
      regulation: "",
      optoutText: "",
      bottomText: ""
    };
  },
  components: {
    NotFound: () => import("@/components/webpages/NotFound.vue")
  },
  async created() {
    try {
      if (this.$route.query.c && this.$route.query.p && this.$route.query.url) {
        const url = `${process.env.api_pdv_url}/pdv/optout?nsu=${this.$route.query.c}`;
        const response = await axios.get(url, { timeout: 60000 });

        if (
          response &&
          response.data &&
          response.data.venda[0].produto_item &&
          response.data.venda[0].produto_item.titulo
        ) {
          this.square.id = this.$route.query.p;
          this.nsu = this.$route.query.c;
          this.redirect_url = this.$route.query.url;

          this.square.logo = response.data.imagens.logo;
          this.square.capitalizadora = response.data.imagens.capitalizadora;
          this.square.entidade = response.data.imagens.entidade;

          this.product.name = response.data.venda[0].produto_item.titulo;
          this.product.price = response.data.venda;

          this.client = response.data.venda[0].cliente;

          this.regulation = response.data.firebase.regulamento;
          this.optoutText = response.data.venda[0].praca.texto_aviso_legal;
          this.bottomText = response.data.venda[0].praca.texto_rodape;

          this.isLoaded = !this.isLoaded;
        } else {
          this.isLoaded = !this.isLoaded;
          this.notFound = !this.notFound;
        }
      } else {
        this.isLoaded = !this.isLoaded;
        this.notFound = !this.notFound;
      }
    } catch (err) {
      this.errMessage = err.response.data.error.message;
      this.errDialog = !this.errDialog;
      this.isLoaded = !this.isLoaded;
      this.notFound = !this.notFound;
    }
  },
  methods: {
    async submit() {
      try {
        this.loading = !this.loading;

        const url = `${process.env.api_pdv_url}/pdv/optout`;
        const response = await axios.patch(
          url,
          {
            nsu: this.nsu,
            aceite_instituicao: this.optout
          },
          { timeout: 60000 }
        );

        if (response.data) {
          const redirect_url = `${this.redirect_url}&p=${this.square.id}`;
          window.location.href = redirect_url;
        }
      } catch (err) {
        this.loading = !this.loading;
        this.errMessage = err.response.data.error.message;
        this.errDialog = !this.errDialog;
      }
    },
    handleCheckbox() {
      this.optin
        ? (this.errors = [])
        : (this.errors = ["Você deve aceitar os termos para continuar"]);
    }
  },
  computed: {
    getOptoutText() {
      return (
        "Ao prosseguir, você concorda com os termos e " +
        this.optoutText.substring(0, 16) +
        "..."
      );
    },
    getSaleValue() {
      return this.product.price.reduce(
        (acc, current) => acc + current.valor,
        0
      );
    }
  }
};
</script>

<style lang="scss" scoped>
body {
  width: 100vw;
  height: 100vh;
}

#regulation_iframe {
  height: 40vh;
  border: none;
}

.accept__btn {
  background: #567d3a;
  color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
  font-size: 28px !important;
  padding: 8px 32px;
  transition: all 0.4s;
  border-radius: 8px !important;

  &:hover {
    opacity: 0.8;
  }
}

iframe {
  width: 100%;
  border: 1px solid #e8e8e8;
  padding: 5px;
  border-radius: 8px 8px 0 0;
}
</style>
