<template>
  <v-app id="inspire">
    <v-overlay
      :absolute="false"
      :opacity="1"
      :value="overlay"
      color="#fff"
      :dark="false"
      :z-index="999"
    >
      <div class="text-center">
        <span style="font-family: Roboto, sans-serif !important;">
          Carregando...
        </span>
        <v-progress-linear
          color="grey darken-2"
          indeterminate
          rounded
          height="6"
          width="100"
        ></v-progress-linear>
      </div>
    </v-overlay>
    <div v-if="carregou">
      <menu-principal />
      <v-main>
        <topo />
        <div class="my-5 main">
          <nuxt />
        </div>
        <rodape />
      </v-main>
      <estilos-globais />
      <em-manutencao
        v-if="aparencia && aparencia.em_manutencao"
        :textoManutencao="aparencia.texto_manutencao"
      />
      <dialog-como-funciona />
      <dialog-arquivo-html />
      <dialog-iframe />
      <dialog-escolher-condicao-geral />
      <dialog-multi-etapas />
      <avisos-rodape />
      <capturar-lead />
    </div>
  </v-app>
</template>

<script>
import moment from "moment";
export default {
  middleware: [
    "selecionaPraca",
    "vueScrollto",
    "parametrosQuery",
    "google",
    "facebook",
    "redireciona",
    "mapeiaParams"
  ],
  props: {
    source: String
  },
  data: () => ({
    overlay: false,
    exibeMenu: false
  }),
  head() {
    return {
      titleTemplate: this.carregou
        ? `${this.config.nome} Digital | %s ${process.env.title_suffix}`
        : "Carregando...",
      meta: [
        {
          hid: "theme-color",
          name: "theme-color",
          content: this.carregou
            ? this.config.estilos.coresEspecificas.barraEndereco
            : "#fff"
        }
      ],
      link: this.tipoUnica
        ? [
            {
              rel: "manifest",
              href: this.config ? this.webmanifest : ""
            }
          ]
        : null
    };
  },
  components: {
    EmManutencao: () => import("@/components/diversos/EmManutencao"),
    EstilosGlobais: () => import("@/components/layout/EstilosGlobais"),
    MenuPrincipal: () => import("@/components/layout/MenuPrincipal"),
    Topo: () => import("@/components/layout/Topo"),
    Rodape: () => import("@/components/layout/Rodape"),
    DialogComoFunciona: () =>
      import("@/components/diversos/DialogComoFunciona"),
    DialogMultiEtapas: () => import("@/components/diversos/DialogMultiEtapas"),
    DialogArquivoHTML: () => import("@/components/diversos/DialogArquivoHTML"),
    DialogIframe: () => import("@/components/diversos/DialogIframe"),
    DialogEscolherCondicaoGeral: () =>
      import("@/components/diversos/DialogEscolherCondicaoGeral"),
    AvisosRodape: () => import("@/components/diversos/AvisosRodape"),
    CapturarLead: () => import("@/components/diversos/CapturarLead")
  },
  created() {
    this.overlay = this.carregou ? false : true;
  },
  watch: {
    carregou(value) {
      if (value) {
        setTimeout(() => {
          this.overlay = false;
        }, 1000);
        this.sw();
        this.$googleAnalyticsStart();
        this.$googleAdsStart();
        this.$facebookPixelStart();
        this.capturarLead();
        this.carregaScriptReCAPTCHA();
      }
    }
  },
  methods: {
    carregaScriptReCAPTCHA() {
      let headScript = document.createElement("script");
      headScript.setAttribute(
        "src",
        "https://www.google.com/recaptcha/api.js?render=" +
          process.env.recaptha_key
      );
      headScript.id = "recaptchaScript";
      document.head.appendChild(headScript);
      document.getElementById("recaptchaScript").remove();
    },
    sw() {
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/sw.js").then(function() {});
      }
    },
    async capturarLead() {
      if (this.capturaLeadPersistente) {
        const dataLimite = moment(this.capturaLeadPersistente.dataLimite);
        if (moment() > dataLimite) {
          this.$store.commit("usuario/salvaCapturaLeadPersistente", null);
        } else {
          this.$store.commit("layout/alteraDialogCapturarLeadAberto", true);
        }
      }
      if (
        ((this.$route.query.pdv_code && this.$route.query.pdv_source) ||
          this.$route.query.c) &&
        this.logado &&
        this.dadosCapturaLead
      ) {
        this.$store.commit("usuario/salvaCapturaLeadPersistente", null);
        let pdv_code;
        let pdv_source;
        const dataLimite = moment()
          .add(2, "days")
          .endOf("day")
          .toISOString();
        if (this.$route.query.pdv_code && this.$route.query.pdv_source) {
          pdv_code = this.$route.query.pdv_code;
          pdv_source = this.$route.query.pdv_source;
        } else if (this.$route.query.c) {
          pdv_code = this.$route.query.c;
          pdv_source = "app-pdv";
        }
        const praca_id = this.config.idPraca;
        const cpf = this.dadosCapturaLead.cpf.replace(/[^0-9]/g, "");
        const email = this.dadosCapturaLead.email;
        try {
          const res = await this.$networkApi.pdvConsultaCadastro({
            praca_id,
            pdv_code,
            pdv_source,
            cpf,
            email
          });
          const { codigo, nome } = res.data.vendedor;
          this.$store.commit("usuario/salvaDadosVendedorLead", {
            cpf,
            codigo,
            nome
          });
          this.$store.commit("usuario/salvaDadosCapturaLead", null);
          this.$router.push(`/?area=quero-concorrer`);
        } catch (error) {
          this.$sentry.captureException(
            new Error("Erro Captura de lead LOGADO"),
            {
              tags: { praca_id, pdv_code, pdv_source }
            }
          );
        }
      }
    }
  },
  computed: {
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    config() {
      return this.$store.getters["praca/config"];
    },
    dadosCapturaLead() {
      return this.$store.getters["usuario/dadosCapturaLead"];
    },
    logado() {
      return this.$store.getters["usuario/logado"];
    },
    tipoUnica() {
      return this.$store.getters["praca/tipoUnica"];
    },
    webmanifest() {
      const jsn = JSON.stringify({
        display: "standalone",
        scope: window.location.origin + "/",
        icons: [
          {
            src: this.config.imagens.pwa192x192,
            sizes: "192x192",
            type: "image/png"
          },
          {
            src: this.config.imagens.pwa512x512,
            sizes: "512x512",
            type: "image/png"
          }
        ],
        name: `${this.config.nome} Digital`,
        start_url: `${window.location.origin}/ `,
        theme_color: "#ffffff",
        background_color: "#ffffff"
      });
      const base64 = `data:application/json;base64,${Buffer.from(jsn).toString(
        "base64"
      )}`;
      return base64;
    },
    carregou() {
      return this.$store.getters["praca/carregou"];
    },
    capturaLeadPersistente() {
      return this.$store.getters["usuario/capturaLeadPersistente"];
    }
  }
};
</script>

<style lang="less">
@import url("~assets/estilos/animated.css");
@import url("~assets/estilos/globals.scss");
@import url("~assets/estilos/icons.scss");

.main {
  min-height: 300px;
}
</style>
