<template>
  <div class="pg-index">
    <div>
      <quadro-principal />
    </div>
    <div
      v-intersect="(entries, observer) => onIntersect(entries, observer, 2)"
      id="quero-concorrer"
      style="margin-top: -150px"
    >
      <quadro-quero-concorrer v-if="ativo(2)" />
      <div v-else class="intersect">&nbsp;</div>
    </div>
    <div
      v-intersect="(entries, observer) => onIntersect(entries, observer, 3)"
      id="escolher-titulos"
    >
      <quadro-escolha-titulos v-if="ativo(3)" />
      <div v-else class="intersect">&nbsp;</div>
    </div>
    <div v-intersect="(entries, observer) => onIntersect(entries, observer, 4)">
      <quadro-contagem-regressiva v-if="ativo(4)" style="margin-top: -65px" />
      <div v-else class="intersect">&nbsp;</div>
    </div>
    <div
      v-intersect="(entries, observer) => onIntersect(entries, observer, 5)"
      id="sobre"
    >
      <quadro-sobre-a-entidade v-if="ativo(5)" />
      <div v-else class="intersect">&nbsp;</div>
    </div>
    <div v-intersect="(entries, observer) => onIntersect(entries, observer, 6)">
      <quadro-numeros-entidade v-if="ativo(6)" style="margin-top: -20px" />
      <div v-else class="intersect">&nbsp;</div>
    </div>
    <div v-intersect="(entries, observer) => onIntersect(entries, observer, 7)">
      <quadro-ajudamos v-if="ativo(7)" />
      <div v-else class="intersect">&nbsp;</div>
    </div>
    <div v-intersect="(entries, observer) => onIntersect(entries, observer, 8)">
      <quadro-ganhadores v-if="ativo(8)" />
      <div v-else class="intersect">&nbsp;</div>
    </div>
    <div
      v-intersect="(entries, observer) => onIntersect(entries, observer, 9)"
      id="duvidas"
    >
      <quadro-duvidas v-if="ativo(8)" />
      <div v-else class="intersect">&nbsp;</div>
    </div>
  </div>
</template>
<script>
export default {
  head: {
    title: "Início"
  },
  data() {
    return {
      intersected: []
    };
  },
  components: {
    QuadroPrincipal: () => import("@/components/quadros/Principal"),
    QuadroQueroConcorrer: () => import("@/components/quadros/QueroConcorrer"),
    QuadroEscolhaTitulos: () => import("@/components/quadros/EscolhaTitulos"),
    QuadroAjudamos: () => import("@/components/quadros/Ajudamos"),
    QuadroNumerosEntidade: () => import("@/components/quadros/NumerosEntidade"),
    QuadroSobreAEntidade: () => import("@/components/quadros/SobreAEntidade"),
    QuadroGanhadores: () => import("@/components/quadros/Ganhadores"),
    QuadroDuvidas: () => import("@/components/quadros/Duvidas"),
    QuadroContagemRegressiva: () =>
      import("@/components/quadros/ContagemRegressiva")
  },
  methods: {
    ativo(id) {
      return !!this.intersected.find(t => t == id);
    },
    onIntersect(entries, observer, id) {
      if (!this.ativo(id) && entries[0].isIntersecting) {
        this.intersected.push(id);
      }
    }
  }
};
</script>
<style lang="less">
.pg-index {
  .intersect {
    height: 500px;
  }
}
</style>
