<template>
  <div>
    <v-container class="pagamento" text-center mt-8>
      <v-card flat>
        <v-card-title>
          <v-toolbar class="transparent" flat>
            <v-spacer></v-spacer>
            <img :src="config.imagens.logoProjeto" class="logo-projeto" />
            <img :src="config.imagens.logoEntidadeTopo" class="logo-entidade" />
            <v-spacer></v-spacer>
          </v-toolbar>
        </v-card-title>
        <v-card-text>
          <cp-cart></cp-cart>
          <div class="text-xs-center title">
            Volte para o app para concluir a compra!
          </div>
          <div class="text-xs-center mt-2 subheading">
            Clique no X no canto superior esquerdo da janela para fechá-la.
          </div>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
export default {
  layout: "empty",
  head: {
    title: "Retorno Pagamento"
  },
  components: {
    CpCart: () => import("@/components/lottie/CpCart")
  },
  computed: {
    config() {
      return this.$store.getters["praca/config"];
    }
  }
};
</script>

<style lang="less">
.pagamento {
  .logo-projeto {
    max-width: 160px;
    max-height: 90px;
  }
  .logo-entidade {
    max-width: 130px;
    max-height: 90px;
  }
}
</style>
