<template>
  <v-container class="pa-0">
    <v-layout id="form-is-registered" column align-center>
      <v-flex>
        <p class="text-h5 text-center my-8">
          Muito bem, agora escolha uma opção:<br />
          comprar online ou baixar o app
        </p>
      </v-flex>
      <v-flex class="mb-8">
        <v-img max-height="150" contain src="/webpages/app-illustration.png" />
      </v-flex>
      <v-layout class="d-flex flex-column align-center">
        <v-flex>
          <v-btn
            color="#000000"
            class="white--text ma-0 py-6 text-capitalize"
            style="font-size: 18px; border-radius:7px"
            :href="
              square.store_url ? square.store_url : 'loja.playservicos.com.br'
            "
          >
            <v-img
              class="mr-2"
              src="/webpages/favicon.png"
              max-width="25"
              contain
            ></v-img>
            Comprar na loja
          </v-btn>
        </v-flex>
        <v-flex class="mt-3 mb-md-0">
          <span>ou</span>
        </v-flex>
        <v-flex>
          <a
            :href="
              square.app_url ? square.app_url : 'https://play.google.com/store'
            "
          >
            <v-img
              src="/webpages/logo-google-play-black.png"
              max-width="200"
              alt="Logo Play"
            />
          </a>
        </v-flex>
      </v-layout>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    square: Object
  }
};
</script>

<style lang="scss">
.isRegistered-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .good-sales {
    margin-top: 25px;
    text-align: center;
    color: #6e6d7a;

    a {
      color: #6e6d7a;
    }
    h2 {
      margin: 20px 0;
    }
  }
  .check-lottery {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    text-align: center;

    #google-play {
      width: 200px;
    }
  }
}
</style>
