<template>
  <v-layout>
    <div class="right-side px-md-6 py-md-6">
      <header>
        <img v-if="square.capitalizadora" :src="square.capitalizadora" />
        <img id="square-logo" :src="square.logo" />
        <img v-if="square.instituicao" :src="square.instituicao" />
      </header>
      <v-flex v-if="!showCongrats" class="hidden-md-and-up">
        <p id="distributor">
          <strong>Meus parabéns!,</strong><br />{{ form.message }}
        </p>
      </v-flex>
      <v-flex v-if="!showCongrats" class="hidden-md-and-up mb-4">
        <img
          id="illustration"
          src="/webpages/illustration.png"
          alt="illustration"
        />
      </v-flex>
      <v-layout id="form" class="align-center justify-center">
        <v-form
          ref="form"
          v-model="isValid"
          @submit.prevent="submit"
          lazy-validation
          xs8
          md12
          sm10
          lg12
        >
          <h2 v-if="step == 1" class="font-weight-medium my-6">
            Para começar, informe seus dados abaixo
          </h2>

          <StepOne
            v-if="step == 1"
            :step="step"
            :form="form"
            :square="square"
            :friend="friend"
            :isRegistered="isRegistered"
            @step="setStep($event)"
          />
          <ClientIsRegistered :square="square" v-if="step == 2" />
        </v-form>
      </v-layout>
      <div id="footer">
        <p>Copyright © 2020 PlayServicos. <br />All rights reserved.</p>
        <a href="#">contato@playservicos.com.br</a>
      </div>
    </div>
  </v-layout>
</template>

<script>
import StepOne from "./StepOne.vue";
import ClientIsRegistered from "./ClientIsRegistered.vue";

export default {
  components: {
    StepOne,
    ClientIsRegistered
  },
  data() {
    return {
      step: 1,
      isValid: false,
      btnState: false,
      showCongrats: false
    };
  },
  props: {
    form: Object,
    square: Object,
    friend: Object,
    isRegistered: Boolean
  },
  methods: {
    setStep($event) {
      this.step = $event.val;
      this.showCongrats = !$event.show;
    }
  }
};
</script>

<style lang="scss">
.right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: space-evenly;
  background-color: #f5f5f5;

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #square-logo {
      display: none;
    }
    img {
      max-width: 60px;
    }
    img + img {
      margin-left: 20px;
    }
  }

  #distributor {
    display: none;
  }

  #illustration {
    display: none;
    max-width: 150px;
  }
  #form {
    .v-input__slot {
      border-radius: 10px;
    }
  }
  #no-backg-btn:hover:before,
  #no-backg-btn:focus:before,
  #no-backg-btn:not(:focus):before {
    background: none;
  }
}

form .v-text-field,
form .v-text-field input {
  outline: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6) !important;
}
.v-text-field > .v-input__control > .v-input__slot:after {
  border-color: #3f3d56 !important;
}
form .v-text-field input:focus {
  color: #3f3d56 !important;
}
form .v-text-field:focus-within label {
  color: #3f3d56 !important;
}
.v-form .v-row .v-input {
  width: 48% !important;
}
.v-form .v-row .v-input + .v-input {
  margin-left: 10px !important;
}
#submit-btn {
  align-self: center;
  cursor: pointer !important;
  color: white !important;
  background-color: #3f3d56 !important;
  border: none;
  height: 50px;
  max-width: 350px !important;
  text-transform: capitalize;
  font-size: 18px !important;
  margin-top: 35px;
  border-radius: 10px;
}
form a {
  color: #3f3d56;
  text-decoration: none;
  align-self: center;
  margin-top: 60px;
}
#footer {
  display: flex;
  color: #3f3d56;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 20px;
  font-size: 1rem;
}
#footer a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #3f3d56;
}

@media (max-width: 1220px) {
  .right-side form {
    width: 550px;
    padding: 0 30px;
  }
  form div .v-text-field {
    width: 100%;
  }
  form div .v-text-field + .v-text-field {
    margin-left: 0;
  }
}
@media (max-width: 961px) {
  .right-side {
    width: 100%;
    justify-content: start;
  }
  .right-side header {
    margin-top: 20px;
  }
  .right-side header #square-logo {
    display: flex;
  }
  .right-side #distributor {
    display: block;
    padding: 0 30px;
    text-align: center;
    font-size: 1.2rem;
    margin: 30px 0;
  }
  .right-side #distributor strong {
    font-size: 1.5rem;
  }
  .right-side #illustration {
    display: block;
  }
  #footer {
    margin: 30px 0;
  }
}
@media (max-width: 530px) {
  .right-side .v-form {
    width: 90% !important;
  }
  .v-text-field {
    margin: 0;
  }
  #btn-store {
    font-size: 12px;

    img {
      width: 30px;
    }
  }
  #footer a {
    font-size: 14px;
  }
}
</style>
