<template>
  <div>
    <v-flex md12>
      <v-text-field
        v-model="form.clientId"
        label="CPF"
        filled
        dense
        inputmode="numeric"
        rounded
        :autofocus="true"
        :error-messages="idErrors"
        v-mask="'###.###.###-##'"
      ></v-text-field>
    </v-flex>
    <v-flex>
      <v-text-field
        v-model="form.email"
        label="Email"
        :disabled="form.googleLogin"
        filled
        dense
        rounded
        @blur="form.email = form.email.toLowerCase()"
        :error-messages="emailErrors"
      ></v-text-field>
    </v-flex>
    <v-flex class="d-flex justify-center">
      <v-btn
        class="white--text my-4 px-14 px-sm-16"
        height="42"
        @click="submit"
        color="darkBlue"
        width="100%"
        id="submit-btn"
      >
        Cadastrar
      </v-btn>
    </v-flex>
    <v-flex>
      <v-dialog v-model="dialog" max-width="500">
        <v-card class="pa-5 d-flex flex-column align-center">
          <span
            class="text-h3 text-center"
            style="font-family: Poppins, Roboto, sans-serif !important"
            >Oops!</span
          >
          <v-img
            class="my-6"
            src="/webpages/sad-face.svg"
            max-width="230"
            width="100%"
          ></v-img>
          <span class="text-center">{{ message }} </span>
          <v-card-actions class="d-flex justify-center mt-4">
            <v-btn color="primary" class="px-4" large @click="dialog = false">
              Ok
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-flex>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import axios from "axios";

export default {
  validations: {
    form: {
      clientId: {
        required,
        mask: v => v.length === 14,
        testCPF: value => {
          if (value.toString().replace(/[^\d]+/g, "").length > 11) {
            if (!value) return false;
            let cnpj = String(value);
            cnpj = cnpj.replace(/[^\d]+/g, "");
            if (cnpj == "") return false;
            if (cnpj.length != 14) return false;
            if (
              cnpj == "00000000000000" ||
              cnpj == "11111111111111" ||
              cnpj == "22222222222222" ||
              cnpj == "33333333333333" ||
              cnpj == "44444444444444" ||
              cnpj == "55555555555555" ||
              cnpj == "66666666666666" ||
              cnpj == "77777777777777" ||
              cnpj == "88888888888888" ||
              cnpj == "99999999999999"
            )
              return false;
            let tamanho = cnpj.length - 2;
            let numeros = cnpj.substring(0, tamanho);
            let digitos = cnpj.substring(tamanho);
            let soma = 0;
            let pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
              soma += numeros.charAt(tamanho - i) * pos--;
              if (pos < 2) pos = 9;
            }
            let resultado = soma % 11 < 2 ? 0 : 11 - (soma % 11);
            if (resultado != digitos.charAt(0)) return false;
            tamanho = tamanho + 1;
            numeros = cnpj.substring(0, tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
              soma += numeros.charAt(tamanho - i) * pos--;
              if (pos < 2) pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - (soma % 11);
            if (resultado != digitos.charAt(1)) return false;
            return true;
          } else {
            if (!value) return true;
            value = value.toString();
            value = value.replace(/[^0-9]/g, "");
            var Soma;
            var Resto;
            var i = 0;
            Soma = 0;
            if (value == "00000000000") return false;
            if (value == "11111111111") return false;
            if (value == "22222222222") return false;
            if (value == "33333333333") return false;
            if (value == "44444444444") return false;
            if (value == "55555555555") return false;
            if (value == "66666666666") return false;
            if (value == "77777777777") return false;
            if (value == "88888888888") return false;
            if (value == "99999999999") return false;
            for (i = 1; i <= 9; i++)
              Soma = Soma + parseInt(value.substring(i - 1, i)) * (11 - i);
            Resto = (Soma * 10) % 11;
            if (Resto == 10 || Resto == 11) Resto = 0;
            if (Resto != parseInt(value.substring(9, 10))) return false;
            Soma = 0;
            for (i = 1; i <= 10; i++)
              Soma = Soma + parseInt(value.substring(i - 1, i)) * (12 - i);
            Resto = (Soma * 10) % 11;
            if (Resto == 10 || Resto == 11) Resto = 0;
            if (Resto != parseInt(value.substring(10, 11))) return false;
            return true;
          }
        }
      },
      email: {
        required,
        mask: v => /.+@.+\..+/.test(v),
        containsSpace: v => !/\s/.test(v)
      }
    }
  },
  props: {
    form: Object,
    square: Object,
    friend: Object,
    step: Number
  },
  data() {
    return {
      dialog: false,
      btnState: false,
      message: ""
    };
  },
  methods: {
    async submit() {
      try {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          const response = await axios.post(
            `${process.env.api_url}/v2/mgm`,
            {
              cpf: this.form.clientId,
              praca_id: this.square.id,
              email: this.form.email,
              cliente_indicador_id: this.friend.code
            },
            { timeout: 60000 }
          );
          if (response.data.cliente_indicador_id && response.data.email) {
            this.$emit("step", { val: this.step + 1, show: false });
            this.isRegistered = !this.isRegistered;
          } else {
            (this.message =
              "Ocorreu um erro inesperado. Por favor, tente novamente mais tarde!"),
              (this.dialog = !this.dialog);
          }
        }
      } catch (err) {
        if (err.response) {
          if (!err.response.data.success) {
            this.message = err.response.data.message;
            this.dialog = !this.dialog;
          } else {
            (this.message =
              "Ocorreu um erro inesperado. Por favor, tente novamente mais tarde!"),
              (this.dialog = !this.dialog);
          }
        } else {
          this.message =
            "Ocorreu um erro inesperado. Por favor, tente novamente mais tarde!";
          this.dialog = !this.dialog;
        }
      }
    }
  },
  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.form.email.$dirty) return errors;
      !this.$v.form.email.required && errors.push("Email inválido");
      !this.$v.form.email.mask && errors.push("Email inválido");
      !this.$v.form.email.containsSpace && errors.push("Email inválido");
      return errors;
    },
    idErrors() {
      const errors = [];
      if (!this.$v.form.clientId.$dirty) return errors;
      !this.$v.form.clientId.required && errors.push("CPF inválido");
      !this.$v.form.clientId.mask && errors.push("CPF inválido");
      !this.$v.form.clientId.testCPF && errors.push("CPF inválido");
      return errors;
    }
  }
};
</script>
