<template>
  <div class="cp-cadastro">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 14px !important"
      fluid
    >
      <div class="cor-titulo">
        Olá! para participar acesse sua conta
      </div>
      <div class="my-5 text-center ios-botao-1">
        <v-btn
          class="botao botao-acao"
          :loading="carregando"
          @click="$router.push(`/entrar`)"
          >Já tenho cadastro</v-btn
        >
      </div>
      <div class="d-flex align-center justify-center text-center mb-5">
        <div
          class="d-flex align-center justify-center text-center"
          style="width: 55%"
        >
          <hr class="separador" />
          <span class="px-3">
            ou
          </span>
          <hr class="separador" />
        </div>
      </div>
      <div class="cor-titulo">
        Preencha esse
        <span class="font-weight-black">cadastro único</span> e nós cuidaremos
        do resto.
      </div>
      <v-card elevation="0" class="mx-auto mt-5" max-width="600">
        <v-form ref="form" @keyup.enter.native="enviar" v-model="formValido">
          <!-- Isto serve para 'desviar' o autocomplete do Chrome -->
          <div style="height:0px; overflow:hidden; ">
            <input type="text" />
            <input type="password" />
          </div>
          <!-------------------------------------------------------->
          <div>
            <v-row no-gutters>
              <v-col
                cols="12"
                class="cor-titulo text-left font-weight-black mt-2"
                >Informações Pessoais</v-col
              >
              <v-col cols="7">
                <v-text-field
                  name="cpf"
                  id="cpf"
                  v-model="form.cpf"
                  label="CPF"
                  type="text"
                  inputmode="numeric"
                  v-mask="'###.###.###-##'"
                  :loading="carregando || carregandoCPF"
                  :rules="[
                    v => !!v || 'Campo obrigatório!',
                    v => validaCPF(v) || 'CPF Inválido!'
                  ]"
                  @keyup="mudaCPF()"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="5" class="pl-2">
                <v-select
                  name="sexo"
                  id="sexo"
                  v-model="form.sexo"
                  :disabled="compraSemLogin"
                  :items="sexo"
                  label="Sexo"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  name="nome"
                  id="nome"
                  v-model="form.nome"
                  :disabled="compraSemLogin"
                  label="Nome completo"
                  type="text"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.email"
                  name="email"
                  id="email"
                  autocomplete="off"
                  label="E-mail"
                  type="text"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  :disabled="compraSemLogin || !!form.token"
                  :required="!form.token"
                ></v-text-field>
              </v-col>
              <v-col cols="5">
                <v-text-field
                  name="celular"
                  id="celular"
                  v-model="form.celular"
                  :disabled="compraSemLogin"
                  label="Celular"
                  type="text"
                  inputmode="numeric"
                  v-mask="
                    compraSemLogin
                      ? '*****'
                      : form.celular.length > 0
                      ? '(##) #####-####'
                      : '#'
                  "
                  :loading="carregando"
                  :rules="[
                    compraSemLogin
                      ? true
                      : v => v.length == 15 || 'Telefone Inválido!',
                    v => !!v || 'Campo obrigatório!'
                  ]"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="7" class="pl-2">
                <v-text-field
                  name="dtNascimento"
                  id="dtNascimento"
                  v-model="form.dtNascimento"
                  :disabled="compraSemLogin"
                  label="Data de Nascimento"
                  type="text"
                  inputmode="numeric"
                  v-mask="compraSemLogin ? '*****' : '##/##/####'"
                  :loading="carregando"
                  :rules="[
                    v => !!v || 'Campo obrigatório!',
                    compraSemLogin
                      ? true
                      : v => validaData(v) || 'Data inválida!'
                  ]"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                class="cor-titulo text-left font-weight-black mt-5"
                >Endereço</v-col
              >
              <v-col cols="12">
                <v-text-field
                  name="cep"
                  id="cep"
                  v-model="form.cep"
                  :disabled="compraSemLogin"
                  label="CEP"
                  type="text"
                  inputmode="text"
                  v-mask="compraSemLogin ? '*****' : '#####-###'"
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  @keyup="mudaCEP()"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="9">
                <v-text-field
                  name="logradouro"
                  id="logradouro"
                  v-model="form.logradouro"
                  label="Logradouro"
                  type="text"
                  :disabled="
                    compraSemLogin || form.cep.length < 9 || !cepPermitido
                  "
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="pl-2">
                <v-text-field
                  name="numero"
                  id="numero"
                  v-model="form.numero"
                  label="Número"
                  type="text"
                  inputmode="numeric"
                  :disabled="
                    compraSemLogin || form.cep.length < 9 || !cepPermitido
                  "
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="5">
                <v-text-field
                  name="bairro"
                  id="bairro"
                  v-model="form.bairro"
                  label="Bairro"
                  type="text"
                  :disabled="
                    compraSemLogin || form.cep.length < 9 || !cepPermitido
                  "
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="7" class="pl-2">
                <v-text-field
                  name="complemento"
                  id="complemento"
                  v-model="form.complemento"
                  label="Complemento"
                  type="text"
                  :disabled="
                    compraSemLogin || form.cep.length < 9 || !cepPermitido
                  "
                  :loading="carregando || carregandoEndereco"
                ></v-text-field>
              </v-col>
              <v-col cols="9">
                <v-text-field
                  name="cidade"
                  id="cidade"
                  v-model="form.cidade"
                  label="Cidade"
                  type="text"
                  :disabled="
                    compraSemLogin || form.cep.length < 9 || !cepPermitido
                  "
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="pl-2">
                <v-text-field
                  name="uf"
                  id="uf"
                  v-model="form.uf"
                  label="UF"
                  type="text"
                  v-mask="compraSemLogin ? '*****' : 'AA'"
                  :disabled="
                    compraSemLogin || form.cep.length < 9 || !cepPermitido
                  "
                  :loading="carregando || carregandoEndereco"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                class="cor-titulo text-left font-weight-black mt-5"
                >Informações da Conta</v-col
              >
              <v-col cols="12" v-if="!form.token">
                <v-text-field
                  name="senha"
                  id="senha"
                  v-model="form.senha"
                  :disabled="compraSemLogin"
                  label="Senha"
                  :append-icon="exibeSenha ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="exibeSenha ? 'text' : 'password'"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  @click:append="exibeSenha = !exibeSenha"
                  :required="!form.token"
                ></v-text-field>
              </v-col>
              <v-col cols="12" v-if="!form.token">
                <v-text-field
                  name="confSenha"
                  id="confSenha"
                  v-model="form.confSenha"
                  :disabled="compraSemLogin"
                  label="Confirme a senha"
                  :append-icon="exibeSenha ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="exibeSenha ? 'text' : 'password'"
                  :loading="carregando"
                  :rules="[
                    v =>
                      v == form.senha || 'Senha e confirmação devem ser iguais',
                    v => !!v || 'Campo obrigatório!'
                  ]"
                  @click:append="exibeSenha = !exibeSenha"
                  :required="!form.token"
                ></v-text-field>
              </v-col>
            </v-row>
            <div class="d-flex termos mt-6">
              <div>
                <v-checkbox
                  name="termosAceito"
                  id="termosAceito"
                  v-model="termosAceito"
                  label
                  class="check-termo"
                  :loading="carregando"
                  :rules="[
                    v => {
                      return !!v;
                    }
                  ]"
                  required
                ></v-checkbox>
              </div>
              <div class="text-left">
                Eu li e concordo com os
                <a
                  @click="verTermos"
                  style="color: var(--cor5); white-space: nowrap;"
                  >termos de uso/regulamento</a
                >
                <div class="check-obrigatorio" v-if="!checkValido">
                  Campo obrigatório!
                </div>
              </div>
            </div>
            <div class="mt-2 pb-2 text-center ios-botao-1">
              <v-btn
                class="botao botao-acao"
                :loading="carregando"
                @click="enviar"
                >{{
                  this.compraSemLogin
                    ? "Continuar"
                    : "Cadastrar-me gratuitamente"
                }}
              </v-btn>
            </div>
          </div>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>

<script>
var VueScrollTo = require("vue-scrollto");
export default {
  head: {
    title: "Cadastro"
  },
  name: "cadastro",
  data() {
    return {
      checkValido: true,
      form: {
        nome: "",
        cpf: "",
        sexo: "",
        email: "",
        confEmail: "",
        celular: "",
        dtNascimento: "",
        cep: "",
        logradouro: "",
        numero: "",
        bairro: "",
        complemento: "",
        cidade: "",
        uf: "",
        senha: "",
        confSenha: "",
        codigoIBGE: ""
      },
      sexo: [
        {
          text: "Masculino",
          value: "M"
        },
        {
          text: "Feminino",
          value: "F"
        },
        {
          text: "Outros",
          value: "O"
        }
      ],
      carregando: false,
      carregandoEndereco: false,
      carregandoCPF: false,
      exibeSenha: false,
      formValido: false,
      termosAceito: false,
      cepBuscado: null,
      cpfBuscado: null,
      compraSemLogin: false,
      cepPermitido: false
    };
  },
  props: {
    etapasCompra: {
      type: Object,
      required: true
    }
  },
  async mounted() {
    this.verificaCapturarLead();
    this.verificaComprarSemLogar();
  },
  methods: {
    async enviar() {
      const valido = this.$refs.form.validate();
      this.checkValido = !!this.termosAceito;
      if (valido && this.cepPermitido) {
        grecaptcha.ready(
          function() {
            grecaptcha
              .execute(process.env.recaptha_key, {
                action: `${this.pracaConfig.codigoPraca.toLowerCase()}_cadastro`
              })
              .then(
                async function(captcha) {
                  const data = {
                    captcha
                  };

                  try {
                    this.carregando = true;
                    const cliente = this.compraSemLogin
                      ? {
                          cpf: this.form.cpf.replace(/[^0-9]/g, ""),
                          captcha
                        }
                      : {
                          cpf: this.form.cpf.replace(/[^0-9]/g, ""),
                          nome: this.form.nome,
                          sexo: this.form.sexo,
                          email: this.form.email,
                          telefone: this.form.celular.replace(/[^0-9]/g, ""),
                          numero: this.form.numero,
                          logradouro: this.form.logradouro,
                          complemento: this.form.complemento,
                          data_nascimento: this.form.dtNascimento,
                          cep: this.form.cep.replace(/[^0-9]/g, ""),
                          codigo_ibge: this.form.codigoIBGE,
                          bairro: this.form.bairro,
                          cidade: this.form.cidade,
                          uf: this.form.uf,
                          senha: this.form.senha,
                          captcha
                        };
                    const res = await this.$networkApi.cadastraCliente(cliente);
                    this.$gtagEvent("SIGN_UP");
                    this.$fpEvent("SIGN_UP");
                    this.$store.commit("usuario/login", res.data.result);
                    this.$store.commit("compra/salvaTipoFluxoCompra", 0);
                    this.etapasCompra.atual++;
                  } catch (error) {
                    const mensagem =
                      error.response &&
                      error.response.data &&
                      error.response.data.message
                        ? error.response.data.message
                        : "Ocorreu um erro inesperado. Por favor, tente novamente.";
                    this.$swal("", mensagem, "error");
                  } finally {
                    this.carregando = false;
                  }
                }.bind(this)
              );
          }.bind(this)
        );
      } else {
        const campoInvalido = this.$refs.form.$children.find(
          input => !input.valid
        );
        campoInvalido.focus();
        if (campoInvalido.id) {
          VueScrollTo.scrollTo(document.getElementById(campoInvalido.id), {
            offset: -40
          });
        }
      }
    },
    verTermos() {
      if (this.aparencia.termos_de_uso) {
        this.$store.commit("layout/alteraDialogArquivoHTML", {
          aberto: true,
          titulo: "Termos de Uso",
          link: this.aparencia.termos_de_uso
        });
      }
    },
    validaData(value) {
      return value.length == 10;
    },
    validaCPF: value => {
      value = value.replace(/[^0-9]/g, "");
      if (value && value.length < 11) return true;
      if (!value) return true;
      value = value.toString();
      var Soma;
      var Resto;
      var i = 0;
      Soma = 0;
      if (value == "00000000000") return false;

      for (i = 1; i <= 9; i++)
        Soma = Soma + parseInt(value.substring(i - 1, i)) * (11 - i);
      Resto = (Soma * 10) % 11;

      if (Resto == 10 || Resto == 11) Resto = 0;
      if (Resto != parseInt(value.substring(9, 10))) return false;

      Soma = 0;
      for (i = 1; i <= 10; i++)
        Soma = Soma + parseInt(value.substring(i - 1, i)) * (12 - i);
      Resto = (Soma * 10) % 11;

      if (Resto == 10 || Resto == 11) Resto = 0;
      if (Resto != parseInt(value.substring(10, 11))) return false;
      return true;
    },
    async mudaCEP() {
      if (this.form.cep.length == 9 && this.cepBuscado != this.form.cep) {
        this.cepBuscado = this.form.cep;
        try {
          this.carregandoEndereco = true;

          let resValidacao = await this.$networkApi.validacoes({
            cep: this.form.cep.replace(/[^0-9]/g, "")
          });

          if (resValidacao.data.cep.valido) {
            this.cepPermitido = true;
            let res = await this.$networkApi.enderecoPorCEP(
              this.form.cep.replace(/[^0-9]/g, "")
            );
            if (res.data) {
              this.form.logradouro = res.data.logradouro;
              this.form.bairro = res.data.bairro;
              this.form.uf = res.data.uf;
              this.form.cidade = res.data.localidade;
              this.form.complemento = res.data.complemento;
              this.form.codigoIBGE = res.data.ibge;
            }
          } else {
            this.cepPermitido = false;
            this.$swal("", resValidacao.data.cep.mensagem, "warning");
          }
        } catch (error) {
        } finally {
          this.carregandoEndereco = false;
        }
      }
    },
    async mudaCPF() {
      if (
        this.validaCPF(this.form.cpf) &&
        this.form.cpf.length == 14 &&
        this.cpfBuscado != this.form.cpf
      ) {
        this.cpfBuscado = this.form.cpf;
        try {
          this.carregandoCPF = true;
          let res = await this.$networkApi.consultaCadastro({
            cpf: this.form.cpf.replace(/[^0-9]/g, "")
          });

          if (res.data) {
            if (!!res.data.cpf) {
              this.$swal({
                icon: "question",
                html: `O CPF <b>${this.form.cpf}</b> já possui cadastro em nosso sistema. <br> O que deseja fazer?`,
                showCancelButton: true,
                // TODO - Remoção fluxo sem login
                showConfirmButton: false,
                // confirmButtonText: "Comprar sem fazer login",
                cancelButtonText: "Informar meu usuário e senha",
                confirmButtonColor: "var(--cor5)",
                cancelButtonColor: "var(--cor3)",
                allowEnterKey: false,
                allowOutsideClick: false
              }).then(async result => {
                if (result.isConfirmed) {
                  // TODO - Remoção fluxo sem login
                  // this.ativaCompraSemLogin(res.data);
                } else {
                  this.$router.push(`/entrar`);
                }
              });
            } else if (this.compraSemLogin) {
              this.desativaCompraSemLogin();
            }
          }
        } catch (error) {
        } finally {
          this.carregandoCPF = false;
        }
      }
    },
    ativaCompraSemLogin(dados) {
      this.$store.commit("usuario/salvaDadosComprarSemLogar", {
        cpf: this.form.cpf,
        nome: dados.nome
      });
      this.compraSemLogin = true;
      this.cepPermitido = true;
      for (var prop in this.form) {
        switch (prop) {
          case "cpf":
            break;
          case "nome":
            this.form[prop] = dados.nome + " *****";
            break;

          default:
            this.form[prop] = "*****";
            break;
        }
      }
      this.etapasCompra.atual++;
    },
    desativaCompraSemLogin() {
      for (var prop in this.form) {
        if (prop != "cpf") {
          this.form[prop] = "";
        }
      }
      this.compraSemLogin = false;
      this.cepPermitido = false;
      this.$store.commit("usuario/salvaDadosComprarSemLogar", null);
      setTimeout(() => {
        this.$refs.form.resetValidation();
      });
    },
    verificaCapturarLead() {
      if (this.dadosCapturaLead) {
        this.form.cpf = this.dadosCapturaLead.cpf.replace(
          /(\d{3})(\d{3})(\d{3})(\d{2})/,
          "$1.$2.$3-$4"
        );
        this.form.email = this.dadosCapturaLead.email;
        this.mudaCPF();
        this.$store.commit("usuario/salvaDadosCapturaLead", null);
      }
    },
    verificaComprarSemLogar() {
      if (this.dadosComprarSemLogar) {
        this.form.cpf = this.dadosComprarSemLogar.cpf;
        this.cpfBuscado = this.form.cpf;
        if (this.dadosComprarSemLogar.nome) {
          //se vier do recuperar senha pode vir sem nome caso não seja cadastrado
          this.ativaCompraSemLogin(this.dadosComprarSemLogar);
          this.$router.push(`?area=pagamento`);
        }
      }
    }
  },
  watch: {
    "form.email"() {
      this.form.email = this.form.email.toLowerCase();
    },
    termosAceito() {
      this.checkValido = !!this.termosAceito;
    }
  },
  computed: {
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    dadosCapturaLead() {
      return this.$store.getters["usuario/dadosCapturaLead"];
    },
    etapas() {
      return this.$store.getters["praca/etapas"];
    },
    dadosComprarSemLogar() {
      return this.$store.getters["usuario/dadosComprarSemLogar"];
    },
    pracaConfig() {
      return this.$store.getters["praca/config"];
    }
  }
};
</script>

<style lang="less">
.cp-cadastro {
  .check-termo {
    margin-top: 0px;
    padding-top: 0px;
  }
  .check-obrigatorio {
    color: #ff5252;
    font-size: 12px;
  }
  .botao-acao {
    background-color: var(--cor4) !important;
  }
  .termos {
    button {
      margin-top: -5px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
      font-size: 15px !important;
      padding: 0 0 !important;
      height: 16px !important;
      min-width: 64px !important;
    }
  }
  .separador {
    width: 100px;
    height: 1px;
    border-width: 0;
    color: #777777;
    background-color: #777777;
  }
}
</style>
