<template>
  <div class="cp-etapas d-flex align-center justify-center">
    <div class="d-flex align-center justify-center" v-for="i in total" :key="i">
      <div
        class="numero d-flex align-center justify-center"
        :class="i > atual ? 'concluida' : 'pendente'"
      >
        {{ i }}
      </div>
      <div class="d-flex align-center" v-if="i < total">
        <hr
          class="separador"
          :class="i > atual - 1 ? 'concluida' : 'pendente'"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "etapas",
  props: {
    total: {
      type: Number,
      required: true
    },
    atual: {
      type: Number,
      required: true
    }
  }
};
</script>

<style lang="less">
.cp-etapas {
  .numero {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 30px;
    height: 30px;
    color: #fff;
  }
  .numero.pendente {
    mask-image: url("/imagens/diversas/etapa-pendente.svg");
    background-color: #27b79b;
  }
  .numero.concluida {
    mask-image: url("/imagens/diversas/etapa-concluida.svg");
    background-color: #777777;
  }
  .separador {
    width: 50px;
    height: 1px;
    border-width: 0;
  }
  .separador.pendente {
    color: #27b79b;
    background-color: #27b79b;
  }
  .separador.concluida {
    color: #777777;
    background-color: #777777;
  }
}
</style>
