<template>
  <div class="cp-pagamento" id="pagamento">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 14px !important; max-width: 600px !important"
      fluid
    >
      <div class="texto-titulo cor-titulo" style="font-size: 20px">
        <div>
          <span class="font-weight-black">{{
            dadosComprarSemLogar
              ? dadosComprarSemLogar.nome.toUpperCase()
              : primeiroNome
          }}</span>
          você está a um passo de começar a torcer!
        </div>
      </div>
      <div class="py-5" style="font-size: 16px">
        Confirme seus  {{nomeProdutoPlural}} e o meio de pagamento. Se quiser adicionar mais
        chances de ganhar, este é o momento!
      </div>
      <div class="d-flex justify-center align-center text-center">
        <div style="width: 70%">
          <v-divider></v-divider>
        </div>
      </div>
      <div class="pa-4">
        <div class="d-flex  justify-center align-center text-center">
          <div class="d-flex align-center">
            <v-btn
              x-small
              class="mr-2 botao-acao"
              style="padding-bottom: 3px"
              elevation="0"
              fab
              @click="removeTitulo"
              :loading="carregandoTitulos"
              :disabled="totalizador.qtd <= 1"
              >-</v-btn
            >
          </div>
          <div class="d-flex qtd mr-2 ml-2">{{ totalizador.qtd }}</div>
          <div class="d-flex align-center">
            <v-btn
              x-small
              class="mx-2 botao-acao"
              elevation="0"
              fab
              @click="adicionaTitulo"
              :loading="carregandoTitulos"
              :disabled="naoPodeAdicionarMais"
              >+</v-btn
            >
          </div>
          <div class="ml-2">
  <div class="">{{totalizador.qtd > 1 ? nomeProdutoPlural : nomeProdutoSingular}}</div>
          </div>
        </div>
        <div class="d-flex  justify-center align-center text-center pt-8">
          <div class="pr-3">Total</div>
          <div>{{ totalizador.soma | formatCurrency }}</div>
        </div>
      </div>
      <div class="d-flex justify-center align-center text-center">
        <div style="width: 70%">
          <v-divider></v-divider>
        </div>
      </div>
      <div class="mt-5" style="margin-bottom: -10px" v-if="etapaAtual.comissao">
        <v-autocomplete
          color="var(--corF1)"
          :readonly="!!dadosVendedorLead"
          v-model="dadosCompra.codigoVendedor"
          outlined
          :items="listaCodigoVendedor"
          :label="`Código do vendedor ${dadosVendedorLead ? '' : '(opcional)'}`"
          append-icon="far fa-question-circle"
          no-data-text="Código inválido"
          hide-no-data
          :loading="carregandoVendedores"
          @click:append="ajudaVendedor"
          @update:search-input="alteraCodigoVendedor"
        ></v-autocomplete>
      </div>
      <div
        v-if="textoAvisoLegal"
        class="d-flex align-center justify-center aviso-legal"
      >
        <div>
          <v-switch
            color="#27b79b"
            v-model="avisoLegalAceito"
            @click.stop="mudaAvisoLegalAceito"
          ></v-switch>
        </div>
        <div class="text-truncate text-left">
          {{ textoAvisoLegal }}
        </div>
        <div class="text-no-wrap cursor-pointer">
          <v-btn color="var(--cor5)" @click="dialogAvisoLegal = true" text
            >Ler mais</v-btn
          >
        </div>
      </div>

      <div
        class="mt-10 como-pagar d-flex flex-column align-center justify-center"
      >
        <div id="pagamento" class="circulo d-flex align-center justify-center">
          <div class="svg-icon cartao"></div>
        </div>
        <div class="white--text texto-descricao mt-2 mb-6">
          Como você prefere pagar?
        </div>
      </div>
      <div style="margin: 0 -15px;">
        <v-progress-linear
          v-if="carregandoCompra"
          color="grey darken-2"
          indeterminate
          rounded
          height="3"
        ></v-progress-linear>
      </div>

      <div class="pt-4 pb-2 text-left" v-if="!this.dadosComprarSemLogar">
        <div class="pb-1 font-weight-black">Seus cartões</div>
        <div
          style="margin-right: 32px;"
          v-if="
            meiosDePagamentos &&
              meiosDePagamentos.carteira &&
              meiosDePagamentos.carteira.length > 0
          "
        >
          <v-expansion-panels focusable accordion readonly>
            <v-expansion-panel
              v-for="(cartao, i) in meiosDePagamentos.carteira"
              :key="i"
              @click="pagamentoCartaoExistente(cartao)"
              class="d-flex"
            >
              <v-expansion-panel-header color="#F0F2F2" class="px-2 py-4">
                <div class="d-flex align-center justify-left">
                  <div class="fundo-icone d-flex align-center justify-left">
                    <div
                      :class="[
                        'svg-icon-color',
                        iconeBandeira(cartao.bandeira)
                      ]"
                    ></div>
                  </div>

                  <div>
                    <div>
                      {{
                        cartao.numero_cartao.replace("********", " **** **** ")
                      }}
                    </div>
                    <div class="mt-2 capitalize">
                      {{ cartao.bandeira }}
                      {{ cartao.suportado ? "" : " | Indisponível" }}
                    </div>
                    <div
                      class="font-weight-bold mt-2"
                      style="font-size: 12px"
                      v-if="cartao.invalido"
                    >
                      Confirmação necessária
                    </div>
                  </div>
                </div>
                <template v-slot:actions>
                  <v-icon>
                    mdi-chevron-right
                  </v-icon>
                </template>
              </v-expansion-panel-header>
              <div
                class="d-flex align-center justify-center"
                style="margin-right: -46px;"
              >
                <v-btn
                  icon
                  color="var(--corF2)"
                  @click="deletarCartaoDeCredito(cartao)"
                >
                  <div class="svg-icon lixeira "></div>
                </v-btn>
              </div>
            </v-expansion-panel>
          </v-expansion-panels>
          <div>
            <v-progress-linear
              v-if="carregandoCompra"
              color="grey darken-2"
              indeterminate
              rounded
              height="3"
            ></v-progress-linear>
          </div>
        </div>
      </div>

      <div class="pt-4 text-left">
        <div>
          <v-expansion-panels
            focusable
            accordion
            :value="
              meiosDePagamentos &&
              meiosDePagamentos.carteira &&
              meiosDePagamentos.carteira.length > 0
                ? null
                : 0
            "
          >
            <v-expansion-panel>
              <v-expansion-panel-header color="#F0F2F2" class="px-2 py-4">
                <div class="d-flex align-center justify-left">
                  <div class="fundo-icone d-flex align-center justify-left">
                    <div class="svg-icon cartao-credito-2"></div>
                  </div>
                  <div>
                    Novo Cartão de Crédito
                  </div>
                </div>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-form ref="formAdicionaCartaoCredito">
                  <div>
                    <v-row no-gutters>
                      <v-col cols="12">
                        <v-text-field
                          :loading="carregandoCompra"
                          name="nomeImpresso"
                          id="nomeImpresso"
                          label="Nome Impresso"
                          v-model="formAdicionaCartaoCredito.nomeImpresso"
                          :rules="[v => !!v || 'Campo obrigatório!']"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field
                          :loading="carregandoCompra"
                          name="numeroCartao"
                          id="numeroCartao"
                          label="Número do Cartão"
                          v-model="formAdicionaCartaoCredito.numeroCartao"
                          v-mask="'#### #### #### ####'"
                          inputmode="numeric"
                          :rules="[
                            v => !!v || 'Campo obrigatório!',
                            v =>
                              (v && validaNumeroCartao(v)) || 'Número Inválido!'
                          ]"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="6" class="pr-2">
                        <v-select
                          :loading="carregandoCompra"
                          name="mesValidade"
                          id="mesValidade"
                          label="Mês Validade"
                          :items="meses"
                          v-model="formAdicionaCartaoCredito.mesValidade"
                          :rules="[v => !!v || 'Campo obrigatório!']"
                        ></v-select>
                      </v-col>
                      <v-col cols="6" class="pl-2">
                        <v-select
                          :loading="carregandoCompra"
                          name="anoValidade"
                          id="anoValidade"
                          :items="anos"
                          label="Ano Validade"
                          :rules="[v => !!v || 'Campo obrigatório!']"
                          v-model="formAdicionaCartaoCredito.anoValidade"
                        ></v-select>
                      </v-col>
                      <v-col cols="3">
                        <v-text-field
                          :loading="carregandoCompra"
                          name="cvv"
                          id="cvv"
                          label="CVV"
                          v-model="formAdicionaCartaoCredito.cvv"
                          v-mask="'####'"
                          inputmode="numeric"
                          :rules="[
                            v => !!v || '',
                            v => (v && v.length >= 3) || ''
                          ]"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="9" class="d-flex align-center justify-left">
                        <div class="mx-3">
                          <div class="svg-icon-color cartao-cvv"></div>
                        </div>
                        <div style="font-size: 10px;">
                          O CVV é o código de
                          <span class="font-weight-black">3 ou 4 dígitos</span>
                          atrás do seu cartão
                        </div>
                      </v-col>
                      <v-col cols="3" v-if="this.dadosComprarSemLogar"></v-col>
                      <v-col cols="6" v-if="!this.dadosComprarSemLogar">
                        <v-checkbox
                          :loading="carregandoCompra"
                          name="salvarCartao"
                          class="ma-0"
                          v-model="formAdicionaCartaoCredito.salvarCartao"
                          color="primary"
                          label="Salvar Cartão"
                        ></v-checkbox>
                      </v-col>
                      <v-col cols="6" class="ios-botao-1">
                        <v-btn
                          class="botao botao-continuar"
                          :loading="carregandoCompra"
                          @click="pagamentoNovoCartao()"
                          >Continuar</v-btn
                        >
                      </v-col>
                      <v-col cols="3" v-if="this.dadosComprarSemLogar"></v-col>
                    </v-row>
                  </div>
                </v-form>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          <div>
            <v-progress-linear
              v-if="carregandoCompra"
              color="grey darken-2"
              indeterminate
              rounded
              height="3"
            ></v-progress-linear>
          </div>
        </div>
      </div>

      <div class="pt-4 text-left">
        <div class="pb-1 font-weight-black">Outras opções</div>
        <v-skeleton-loader
          class="mx-auto my-10"
          max-width="600"
          type="list-item-two-line"
          v-if="carregandoFormasPagamento"
        ></v-skeleton-loader>
        <div v-else>
          <v-expansion-panels focusable accordion readonly>
            <v-expansion-panel
              v-for="(forma, i) in formasPagamento"
              :key="i"
              @click="processaPagamento(forma.tipo)"
            >
              <v-expansion-panel-header color="#F0F2F2" class="px-2 py-4">
                <div class="d-flex align-center justify-left">
                  <div class="fundo-icone d-flex align-center justify-left">
                    <div :class="['svg-icon-color', forma.icone]"></div>
                  </div>

                  <div v-html="forma.titulo"></div>
                </div>
                <template v-slot:actions>
                  <v-icon>
                    mdi-chevron-right
                  </v-icon>
                </template>
              </v-expansion-panel-header>
            </v-expansion-panel>
          </v-expansion-panels>
          <div>
            <v-progress-linear
              v-if="carregandoCompra"
              color="grey darken-2"
              indeterminate
              rounded
              height="3"
            ></v-progress-linear>
          </div>
        </div>
      </div>
    </v-container>

    <v-dialog
      v-model="dialogCVV"
      @input="dialogCVV = false"
      :scrollable="$vuetify.breakpoint.mobile"
      :width="$vuetify.breakpoint.mobile ? '308' : '582'"
      persistent
    >
      <div class="cp-pagamento-dialog-cvv">
        <v-card>
          <v-card-title
            class="pb-0 font-weight-bold titulo justify-center"
            style="color: var(--cor4)"
            >Confirme sua compra</v-card-title
          >
          <v-card-text>
            <div>
              <div class="mt-3">
                <span class="font-weight-bold">Forma de Pagamento:</span>
                {{ dadosCompra.formaPagamento }}
              </div>
              <div class="mt-1">
                <span class="font-weight-bold">Total:</span>
                <span style="color: var(--cor3);">{{
                  totalizador.soma | formatCurrency
                }}</span>
              </div>
              <div
                v-if="
                  dadosCompra.tipoPagamento == 10 ||
                    dadosCompra.tipoPagamento == 11
                "
              >
                <div class="my-3">
                  <v-divider></v-divider>
                </div>
                <v-form
                  ref="formCVV"
                  v-on:submit.prevent
                  @keyup.enter.native="
                    processaPagamento(dadosCompra.tipoPagamento, true)
                  "
                >
                  <div>
                    <v-row no-gutters class="justify-center align-center">
                      <v-col cols="3">
                        <v-text-field
                          class="pa-0 ma-0"
                          v-model="cvv"
                          name="cvv"
                          label="CVV"
                          type="text"
                          inputmode="numeric"
                          v-mask="'####'"
                          :rules="[v => !!v || '', v => v.length >= 3 || '']"
                          :loading="carregandoCompra"
                          required
                          outlined
                        ></v-text-field>
                      </v-col>
                      <v-col cols="9 pl-3" style="font-size: 10px">
                        O CVV é o código de
                        <span class="font-weight-black">3 ou 4 dígitos</span>
                        atrás do seu cartão
                      </v-col>
                    </v-row>
                  </div>
                </v-form>
              </div>
              <div class="mt-3">
                <v-row no-gutters>
                  <v-col cols="6" class="ios-botao-1">
                    <v-btn
                      class="botao botao-voltar"
                      @click="fecharDialogCVV()"
                      :loading="carregandoCompra"
                      >Voltar</v-btn
                    >
                  </v-col>
                  <v-col cols="6" class="ios-botao-1">
                    <v-btn
                      class="botao botao-comprar"
                      @click="
                        processaPagamento(dadosCompra.tipoPagamento, true)
                      "
                      :loading="carregandoCompra"
                      >Comprar</v-btn
                    >
                  </v-col>
                </v-row>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </div>
    </v-dialog>

    <v-dialog
      v-model="dialogConfirmaCartaoCredito"
      @input="dialogConfirmaCartaoCredito = false"
      :scrollable="$vuetify.breakpoint.mobile"
      :width="$vuetify.breakpoint.mobile ? '308' : '582'"
      persistent
    >
      <div class="cp-pagamento-dialog-confirma-cartao">
        <v-card>
          <v-card-title
            class="pb-0 font-weight-bold titulo justify-center"
            style="color: var(--cor4)"
            >Confirmação necessária</v-card-title
          >
          <v-card-text>
            <div
              class=" mt-3 mb-2 d-flex align-center text-center justify-center"
            >
              Por questões de segurança, precisamos confirmar os dados do seu
              cartão.
            </div>
            <v-form ref="formConfirmaCartaoCredito">
              <div>
                <v-row no-gutters>
                  <v-col cols="12">
                    <v-text-field
                      :loading="carregandoCompra"
                      name="nomeImpresso"
                      label="Nome Impresso"
                      v-model="formConfirmaCartaoCredito.nomeImpresso"
                      :rules="[v => !!v || 'Campo obrigatório!']"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      :loading="carregandoCompra"
                      name="numeroCartao"
                      label="Número do Cartão"
                      v-model="formConfirmaCartaoCredito.numeroCartao"
                      v-mask="'#### #### #### ####'"
                      inputmode="numeric"
                      :rules="[
                        v => !!v || 'Campo obrigatório!',
                        v => (v && validaNumeroCartao(v)) || 'Número Inválido!'
                      ]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6" class="pr-2">
                    <v-select
                      :loading="carregandoCompra"
                      name="mesValidade"
                      label="Mês Validade"
                      :items="meses"
                      v-model="formConfirmaCartaoCredito.mesValidade"
                      :rules="[v => !!v || 'Campo obrigatório!']"
                    ></v-select>
                  </v-col>
                  <v-col cols="6" class="pl-2">
                    <v-select
                      :loading="carregandoCompra"
                      name="anoValidade"
                      :items="anos"
                      label="Ano Validade"
                      :rules="[v => !!v || 'Campo obrigatório!']"
                      v-model="formConfirmaCartaoCredito.anoValidade"
                    ></v-select>
                  </v-col>
                  <v-col cols="3">
                    <v-text-field
                      :loading="carregandoCompra"
                      name="cvv"
                      label="CVV"
                      v-model="formConfirmaCartaoCredito.cvv"
                      v-mask="'####'"
                      inputmode="numeric"
                      :rules="[v => !!v || '', v => (v && v.length >= 3) || '']"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="9" class="d-flex align-center justify-left pt-5">
                    <div class="mx-3 ">
                      <div class="svg-icon-color cartao-cvv"></div>
                    </div>
                    <div style="font-size: 10px; line-height: 15px;">
                      O CVV é o código de
                      <span class="font-weight-black">3 ou 4 dígitos</span>
                      atrás do seu cartão
                    </div>
                  </v-col>
                </v-row>
              </div>
            </v-form>
            <div class="mt-4">
              <v-row no-gutters>
                <v-col cols="6" class="ios-botao-1">
                  <v-btn
                    class="botao botao-voltar"
                    @click="fecharDialogConfirmaCartaoCredito()"
                    :loading="carregandoCompra"
                    >Voltar</v-btn
                  >
                </v-col>
                <v-col cols="6" class="ios-botao-1">
                  <v-btn
                    class="botao botao-comprar"
                    @click="processaPagamento(10, true)"
                    :loading="carregandoCompra"
                    >Comprar</v-btn
                  >
                </v-col>
              </v-row>
            </div>
          </v-card-text>
        </v-card>
      </div>
    </v-dialog>

    <v-dialog
      v-model="dialogSemSaldo"
      @input="dialogSemSaldo = false"
      :scrollable="$vuetify.breakpoint.mobile"
      :width="$vuetify.breakpoint.mobile ? '308' : '582'"
      persistent
    >
      <div class="cp-pagamento-dialog-sem-saldo">
        <v-card>
          <v-card-title class="pb-0 font-weight-bold justify-center">
            <div class="mb-5">
              <div class="justify-center text-center">
                <img src="/imagens/diversas/atencao.svg" style="width: 50px" />
              </div>
              <div
                class="justify-center text-center"
                style="font-size: 16px; color: var(--cor4);"
              >
                Você não tem saldo suficiente
              </div>
            </div>
          </v-card-title>
          <v-card-text>
            <div class="justify-center text-center mb-5">
              Por favor, adicione saldo ou escolha outro meio de pagamento
            </div>
            <div class="mt-5">
              <v-row no-gutters>
                <v-col cols="5" class="ios-botao-1">
                  <v-btn
                    class="botao botao-outro-meio"
                    @click="dialogSemSaldo = false"
                    :loading="carregandoCompra"
                    >Outro meio</v-btn
                  >
                </v-col>
                <v-col cols="7" class="ios-botao-1">
                  <v-btn
                    class="botao botao-adicionar-saldo"
                    @click="$router.push(`/saldocarteira?acao=adicionar`)"
                    :loading="carregandoCompra"
                    >Adicionar saldo</v-btn
                  >
                </v-col>
              </v-row>
            </div>
          </v-card-text>
        </v-card>
      </div>
    </v-dialog>
    <v-dialog
      v-model="dialogAvisoLegal"
      height="auto"
      width="500"
      class="elevation-0 fill-height"
    >
      <v-card width="fit-content">
        <div class="d-flex justify-space-between" style="margin-bottom: -30px">
          <div></div>
          <div>
            <v-btn icon @click="dialogAvisoLegal = false">
              <v-icon color="var(--corF1)">mdi-close-circle-outline</v-icon>
            </v-btn>
          </div>
        </div>
        <v-card-title
          class="pb-0"
          :class="
            $vuetify.breakpoint.mobile ? 'subheading font-weight-bold' : 'title'
          "
        >
          Aviso Legal
        </v-card-title>
        <v-card-text>
          <div class="text-left mt-5">
            {{ textoAvisoLegal }}
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
var VueScrollTo = require("vue-scrollto");
import moment from "moment";
export default {
  name: "pagamento",
  head: {
    title: "Pagamento"
  },
  data() {
    return {
      formasPagamento: [],
      carregandoTitulos: false,
      carregandoCompra: false,
      naoPodeAdicionarMais: false,
      dialogCVV: false,
      dialogConfirmaCartaoCredito: false,
      dialogAvisoLegal: false,
      dialogSemSaldo: false,
      dadosCompra: {
        formaPagamento: null,
        tipoPagamento: null,
        gateway: null,
        codigoVendedor: null
      },
      formAdicionaCartaoCredito: {
        nomeImpresso: "",
        numeroCartao: "",
        mesValidade: "",
        anoValidade: "",
        cvv: "",
        salvarCartao: false
      },
      formConfirmaCartaoCredito: {
        nomeImpresso: "",
        numeroCartao: "",
        mesValidade: "",
        anoValidade: "",
        cvv: "",
        salvarCartao: true
      },
      validandoCartaoDados: null,
      cartaoDeCreditoSelecionado: null,
      cvv: "",
      meses: [],
      anos: [],
      carregandoFormasPagamento: false,
      avisoLegalAceito: true,
      listaCodigoVendedor: [],
      tempoEspera: null,
      carregandoVendedores: false
    };
  },
  props: {
    etapasCompra: {
      type: Object,
      required: true
    }
  },
  watch: {
    dialogCVV(value) {
      if (value && this.$refs.formCVV) {
        this.$refs.formCVV.resetValidation();
      }
    },
    dialogConfirmaCartaoCredito(value) {
      if (value && this.$refs.formConfirmaCartao) {
        this.$refs.formConfirmaCartao.resetValidation();
      }
    },
    nomeImpresso() {
      this.formAdicionaCartaoCredito.nomeImpresso = this.formAdicionaCartaoCredito.nomeImpresso.toUpperCase();
    },
    "dadosCompra.codigoVendedor"() {
      if (!this.dadosVendedorLead) {
        this.listaCodigoVendedor = this.listaCodigoVendedor.filter(
          l => l.value === this.dadosCompra.codigoVendedor
        );
      }
    }
  },
  async mounted() {
    this.carregaCodigoVendedor();
    this.carregandoFormasPagamento = true;
    if (this.dadosComprarSemLogar) {
      await this.carregaMeiosDePagamentosCompraSemLogin();
    } else {
      await this.carregaMeiosDePagamentos();
    }
    this.montaFormasPagamento();
    this.carregandoFormasPagamento = false;
    await this.adicionaUmTituloInicial();

    this.$store.commit("compra/salvaTemPremioInstantaneo", false);

    if (!!this.dadosVendedorLead) {
      const nome = `${
        this.dadosVendedorLead.nome
      } (${this.dadosVendedorLead.codigo.toUpperCase()})`;
      this.listaCodigoVendedor = [nome];
      this.dadosCompra.codigoVendedor = nome;
    }
  },
  created() {
    setTimeout(() => {
      VueScrollTo.scrollTo(document.getElementById("pagamento"), {
        offset: -40
      });
    });
    for (let i = 1; i <= 12; i++) {
      this.meses.push(i < 10 ? "0" + i : i + "");
    }
    const anoAtual = parseInt(moment().format("YYYY"));
    for (var i = 0; i < 21; i++) {
      this.anos.push(anoAtual + i + "");
    }
    this.$store.commit("compra/salvaTransacaoPendente", null);
  },
  computed: {
    afiliacao() {
      return this.$store.getters["compra/afiliacao"];
    },
    nomeImpresso() {
      return this.formAdicionaCartaoCredito.nomeImpresso;
    },
    codigoVendedorSalvo() {
      return this.$store.getters["compra/codigoVendedor"];
    },
    primeiroNome() {
      return this.$store.getters["usuario/primeiroNome"].toUpperCase();
    },
    totalizador() {
      return this.$store.getters["compra/totalizador"];
    },
    titulosSelecionados() {
      return this.$store.getters["compra/titulosSelecionados"];
    },
    meiosDePagamentos() {
      return this.$store.getters["compra/meiosDePagamentos"];
    },
    tipoAtualTitulos() {
      return this.$store.getters["compra/tipoAtualTitulos"];
    },
    titulos() {
      return this.$store.getters["praca/titulos"];
    },
    etapaAtual() {
      return this.$store.getters["praca/etapaAtual"];
    },
    etapas() {
      return this.$store.getters["praca/etapas"];
    },
    textoAvisoLegal() {
      return this.etapas &&
        this.etapas.texto_aviso_legal &&
        this.etapas.texto_aviso_legal != ""
        ? this.etapas.texto_aviso_legal
        : null;
    },
    numerosTitulosSelecionados() {
      let titulos = [];
      this.titulosSelecionados.forEach(t => {
        if (t.numero1) {
          titulos.push(t.numero1);
        }
        if (t.numero2) {
          titulos.push(t.numero2);
        }
        if (t.numero3) {
          titulos.push(t.numero3);
        }
      });
      return titulos;
    },
    dataHoraSorteio() {
      return this.etapaAtual.sorteio.replace(" ", " às ");
    },
    pracaConfig() {
      return this.$store.getters["praca/config"];
    },
    dadosComprarSemLogar() {
      return this.$store.getters["usuario/dadosComprarSemLogar"];
    },
    logado() {
      return this.$store.getters["usuario/logado"];
    },
    dadosUsuario() {
      return this.$store.getters["usuario/dados"];
    },
    capturaLeadPersistente() {
      return this.$store.getters["usuario/capturaLeadPersistente"];
    },
    dadosVendedorLead() {
      return this.$store.getters["usuario/dadosVendedorLead"];
    },
    nomeProdutoSingular() {
      return this.$store.getters["praca/nomeProdutoSingular"].toLowerCase();
    },
    nomeProdutoPlural() {
      return this.$store.getters["praca/nomeProdutoPlural"].toLowerCase();
    },
  },
  methods: {
    async carregaCodigoVendedor() {
      this.dadosCompra.codigoVendedor = this.codigoVendedorSalvo;
      if (this.codigoVendedorSalvo) {
        await this.alteraCodigoVendedor(this.codigoVendedorSalvo, true);
      }
    },
    async alteraCodigoVendedor(codigo, carregamentoInicial = false) {
      if (!!this.dadosVendedorLead) {
        return;
      }
      const selecionado = this.listaCodigoVendedor.find(
        l => l.value === this.dadosCompra.codigoVendedor
      );
      if (selecionado?.text != codigo) {
        this.dadosCompra.codigoVendedor = null;
      }
      if (
        codigo &&
        codigo != "" &&
        !codigo?.includes(this.dadosCompra.codigoVendedor?.toUpperCase())
      ) {
        if (this.tempoEspera) {
          clearTimeout(this.tempoEspera);
        }
        this.carregandoVendedores = true;
        this.tempoEspera = setTimeout(async () => {
          try {
            const res = await this.$networkApi.listaVendedores(codigo);
            const data = res.data;

            const array_first = data.map(d => ({
              text: `${d.nome} (${d.codigo.toUpperCase()})`,
              value: d.codigo
            }));
            let concat_array = array_first.concat(this.listaCodigoVendedor);
            let set_ob = new Set(concat_array);
            let array_union = [];

            set_ob.forEach(element => {
              array_union.push(element);
            });

            this.listaCodigoVendedor = array_union;

            if (
              carregamentoInicial &&
              data?.length === 1 &&
              data[0].codigo === codigo
            ) {
              this.dadosCompra.codigoVendedor = codigo.toLowerCase();
            }
          } catch (e) {
          } finally {
            this.carregandoVendedores = false;
          }
        }, 1500);
      }
    },
    async capturaLead() {
      try {
        this.carregandoCompra = true;
        if (this.capturaLeadPersistente && this.logado) {
          const dataLimite = moment(this.capturaLeadPersistente.dataLimite);
          if (moment() <= dataLimite) {
            const cpf = this.dadosUsuario.cpf.replace(/[^0-9]/g, "");
            const email = this.dadosUsuario.email;
            const pdv_code = this.capturaLeadPersistente.pdv_code;
            const pdv_source = this.capturaLeadPersistente.pdv_source;
            const praca_id = this.pracaConfig.idPraca;
            await this.$networkApi.pdvConsultaCadastro({
              praca_id,
              pdv_code,
              pdv_source,
              cpf,
              email
            });
          }
        }
      } catch (error) {
      } finally {
        this.$store.commit("usuario/salvaCapturaLeadPersistente", null);
        this.carregandoCompra = false;
      }
    },
    iconeBandeira(bandeira) {
      switch (bandeira.toLowerCase()) {
        case "visa":
          return "bandeira-visa";
        case "mastercard":
          return "bandeira-mastercard";
        case "american-express":
          return "bandeira-american-express";
        case "elo":
          return "bandeira-elo";
        case "diners-club":
          return "bandeira-diners-club";
        case "discover":
          return "bandeira-discover";
        case "jcb":
          return "bandeira-jcb";
        case "hipercard":
          return "bandeira-hipercard";
        case "hiper":
          return "bandeira-hiper";

        default:
          return "cartao-credito-3";
      }
    },
    mudaAvisoLegalAceito() {
      if (!this.avisoLegalAceito) {
        this.$swal({
          icon: "question",
          html: `Você tem certeza que não quer ajudar a instituição?`,
          showCancelButton: true,
          confirmButtonText: "Sim",
          cancelButtonText: "Não",
          allowEnterKey: false
        }).then(async result => {
          this.avisoLegalAceito = !result.isConfirmed;
        });
      }
    },
    ajudaVendedor() {
      this.$swal(
        "Código do vendedor",
        "Caso algum vendedor online te ajudou a chegar na loja e a participar do sorteio dessa semana, você pode indicá-lo! Basta inserir o código do vendedor para continuar!",
        "question"
      );
    },
    removeTitulo() {
      if (this.totalizador.qtd >= 2 && !this.carregandoCompra) {
        this.$store.commit("compra/removerUltimoTitulo");
        this.naoPodeAdicionarMais = false;
      }
    },
    async adicionaTitulo() {
      if (!this.carregandoCompra) {
        const total = this.totalizador;
        const limite = this.etapaAtual.valor_limite_compra;
        const tipo = this.tipoAtualTitulos;
        const selecionados = this.titulosSelecionados;
        const titulos = this.titulos.list;
        let disponiveis = titulos.filter(
          t => selecionados.find(ts => ts.id == t.id) == undefined
        );
        if (disponiveis.length == 1) {
          await this.carregarTitulos();
        }
        if (disponiveis.length > 0) {
          if (total.soma + disponiveis[0].valor <= limite) {
            this.$store.commit("compra/adicionaTitulo", {
              titulo: disponiveis[0],
              tipo,
              origem: null
            });
          } else {
            this.naoPodeAdicionarMais = true;
            this.$swal(
              "",
              `O ${nomeProdutoSingular} não foi adicionado, pois o total máximo por compra é de <b>${this.$options.filters.formatCurrency(
                limite
              )}</b>!`,
              "warning"
            );
          }
        }
      }
    },
    async carregarTitulos() {
      this.carregandoTitulos = true;
      try {
        const idEtapa = this.etapaAtual.id;
        const tipo = this.tipoAtualTitulos;
        const res = await this.$networkApi.obterTitulos(idEtapa, tipo);
        if (res.data.result.list.length > 0) {
          this.$store.commit("praca/salvaTitulos", res.data.result);
          this.carregandoTitulos = false;
          return true;
        } else {
          this.$swal("", `Não foi possível carregar os ${nomeProdutoPlural}.`, "error");

          this.carregandoTitulos = false;
          return false;
        }
      } catch (error) {
        this.carregandoTitulos = false;
        return false;
      }
    },
    async carregaMeiosDePagamentos() {
      try {
        const res = await this.$networkApi.carregaMeiosDePagamentos(
          this.etapaAtual.id
        );
        this.$store.commit("compra/salvaMeiosDePagamentos", res.data.result);
      } catch (error) {}
    },
    async carregaMeiosDePagamentosCompraSemLogin() {
      try {
        const res = await this.$networkApi.carregaMeiosDePagamentosCompraSemLogin(
          this.etapaAtual.id
        );
        this.$store.commit("compra/salvaMeiosDePagamentos", {
          formas_pagamento: res.data
        });
      } catch (error) {}
    },
    montaFormasPagamento() {
      const formasDePagamento = this.meiosDePagamentos.formas_pagamento;
      if (formasDePagamento.saldo_carteira && !this.dadosComprarSemLogar) {
        this.formasPagamento.push({
          tipo: 5,
          titulo: `Saldo da Carteira ( <span class='font-weight-bold'> ${this.$options.filters.formatCurrency(
            formasDePagamento.saldo_conta
          )} </span>)`,
          icone: "carteira-3"
        });
      }
      if (formasDePagamento.pix) {
        this.formasPagamento.push({
          tipo: 8,
          titulo: "PIX",
          icone: "pix"
        });
      }
      if (
        formasDePagamento.mercadopago &&
        formasDePagamento.credito != "mercadopago"
      ) {
        this.formasPagamento.push({
          tipo: 2,
          titulo: "Mercado Pago",
          icone: "mercado-pago"
        });
      }
      if (formasDePagamento.picpay) {
        this.formasPagamento.push({
          tipo: 7,
          titulo: "PicPay",
          icone: "picpay"
        });
      }
      if (formasDePagamento.cielo_checkout) {
        this.formasPagamento.push({
          tipo: 1,
          titulo: "Cartão de Débito",
          icone: "cartao-credito-3"
        });
      }
      if (formasDePagamento.caixa_virtual) {
        this.formasPagamento.push({
          tipo: 3,
          titulo: "Cartão de Débito Virtual Caixa",
          icone: "caixa-1"
        });
      }
      if (formasDePagamento.credito == "mercadopago") {
        this.formasPagamento.push({
          tipo: 4,
          titulo: "Cartão de Crédito",
          icone: "mercado-pago"
        });
      }
      if (formasDePagamento.add_saldo_conta) {
        this.formasPagamento.push({
          tipo: 6,
          titulo: `Adicionar Saldo`,
          icone: "codigo-barras-2"
        });
      }
      if (formasDePagamento.com_boleto) {
        this.formasPagamento.push({
          tipo: 9,
          titulo: `Pagar com Boleto`,
          icone: "codigo-barras-2"
        });
      }
    },
    async adicionaUmTituloInicial() {
      const tipo = this.tipoAtualTitulos;
      if (this.totalizador.qtd == 0) {
        this.carregandoTitulos = true;
        if (
          !this.titulos ||
          !this.titulos.list ||
          this.titulos.list.length == 0
        ) {
          await this.carregarTitulos();
        }
        if (this.titulos) {
          this.$store.commit("compra/adicionaTitulo", {
            titulo: this.titulos.list[0],
            tipo,
            origem: 3
          });
        }
        this.carregandoTitulos = false;
      }
    },
    processaPagamento(tipo, confirmado = false) {
      if (!this.carregandoCompra) {
        this.dadosCompra.tipoPagamento = tipo;
        this.$gtagEvent("BEGIN_CHECKOUT", this.titulosSelecionados);
        this.$fpEvent("BEGIN_CHECKOUT", this.titulosSelecionados);
        switch (tipo) {
          case 1:
            if (confirmado) {
              this.dadosCompra.gateway = "cielo-checkout";
              this.pagamentoDebito();
            } else {
              this.dadosCompra.formaPagamento = "Cartão de Débito";
              this.processaPagamento(this.dadosCompra.tipoPagamento, true);
            }
            break;
          case 2:
            if (confirmado) {
              this.dadosCompra.gateway = "mercadopago";
              this.pagamentoDebito();
            } else {
              this.dadosCompra.formaPagamento = "Mercado Pago";
              this.processaPagamento(this.dadosCompra.tipoPagamento, true);
            }
            break;
          case 3:
            if (confirmado) {
              this.dadosCompra.gateway = "caixa-virtual";
              this.pagamentoDebito();
            } else {
              this.dadosCompra.formaPagamento =
                "Cartão de Débito Virtual Caixa";
              this.processaPagamento(this.dadosCompra.tipoPagamento, true);
            }
            break;
          case 4:
            if (confirmado) {
              this.dadosCompra.gateway = "mercadopago";
              this.pagamentoDebito();
            } else {
              this.dadosCompra.formaPagamento = "Cartão de Crédito";
              this.processaPagamento(this.dadosCompra.tipoPagamento, true);
            }
            break;
          case 5:
            if (confirmado) {
              this.dadosCompra.gateway = "saldo-conta";
              this.pagamentoCredito();
            } else {
              this.dadosCompra.formaPagamento = "Saldo da Carteira";
              this.processaPagamento(this.dadosCompra.tipoPagamento, true);
            }
            break;
          case 6:
            this.$router.push(`/saldocarteira?acao=adicionar`);
            break;
          case 7:
            if (confirmado) {
              this.dadosCompra.gateway = "picpay";
              this.pagamentoDebito();
            } else {
              this.dadosCompra.formaPagamento = "PicPay";
              this.processaPagamento(this.dadosCompra.tipoPagamento, true);
            }
            break;
          case 8:
            if (confirmado) {
              this.dadosCompra.gateway = "pix";
              this.pagamentoDebito();
            } else {
              this.dadosCompra.formaPagamento = "Pix";
              this.processaPagamento(this.dadosCompra.tipoPagamento, true);
            }
            break;
          case 9:
            this.dadosCompra.gateway = "boleto";
            this.pagamentoBoleto();
            break;
          case 10: //Cartão de crédito novo
            this.dadosCompra.gateway = "cartao";
            this.pagamentoCredito();
            break;
          case 11: //Cartão de crédito existente
            if (confirmado) {
              const valido = this.$refs.formCVV.validate();
              if (valido) {
                this.dadosCompra.gateway = "cartao";
                this.pagamentoCredito();
              }
            } else {
              this.cvv = "";
              this.dadosCompra.formaPagamento = `Cartão de Crédito`;
              this.dialogCVV = true;
            }
            break;
        }
      }
    },
    pagamentoBoleto() {
      const boleto =
        this.meiosDePagamentos.boleto ||
        this.meiosDePagamentos.formas_pagamento.boleto;
      let texto;
      if (this.totalizador.soma < boleto.valor_minimo) {
        texto = `O valor mínimo para pagamentos
no boleto é de ${this.$options.filters.formatCurrency(boleto.valor_minimo)}`;
      } else if (this.totalizador.soma > boleto.valor_maximo) {
        texto = `O valor máximo para pagamentos
no boleto é de ${this.$options.filters.formatCurrency(boleto.valor_maximo)}`;
      }
      if (texto) {
        this.$swal({
          title:
            "<span style='color: var(--cor4); padding-bottom: 14px;'>Oops</span>",
          text: texto,
          confirmButtonText: "OK, entendi",
          confirmButtonColor: "var(--cor4)"
        });

        setTimeout(() => {
          VueScrollTo.scrollTo(document.getElementById("pagamento"), {
            offset: -40
          });
        });
      } else {
        this.pagamentoDebito();
      }
    },
    async pagamentoDebito() {
      if (this.dadosComprarSemLogar) {
        this.pagamentoDebitoSemLogin();
      } else {
        this.$gtagEvent("CHECKOUT_PROGRESS", this.titulosSelecionados);
        this.$fpEvent("CHECKOUT_PROGRESS", this.titulosSelecionados);

        grecaptcha.ready(
          function() {
            grecaptcha
              .execute(process.env.recaptha_key, {
                action: `${this.pracaConfig.codigoPraca.toLowerCase()}_compra_com_login`
              })
              .then(
                async function(captcha) {
                  await this.capturaLead();
                  const data = {
                    captcha,
                    url_retorno: `${window.location.origin}/comprar/processapagamento`,
                    certificados: this.titulosSelecionados.map(t => t.id),
                    praca_id: this.pracaConfig.idPraca,
                    etapa_id: this.etapaAtual.id,
                    versao_app: "web-1.0.0",
                    optin_instituicao: this.textoAvisoLegal
                      ? this.avisoLegalAceito
                      : null,
                    codigo_vendedor: !this.dadosVendedorLead
                      ? this.etapaAtual.comissao
                        ? this.dadosCompra.codigoVendedor
                        : null
                      : undefined,
                    forma_pagamento: this.dadosCompra.gateway
                  };
                  try {
                    this.carregandoCompra = true;
                    const res = await this.$networkApi.comprarTitulosDebito(
                      data
                    );

                    this.$store.commit("compra/limpaTitulosSelecionados");
                    this.$store.commit("praca/limpaTitulos");
                    if (this.dadosCompra.gateway === "boleto") {
                      this.$store.commit(
                        "compra/salvaCompraComBoleto",
                        res.data.result.boleto
                      );
                      this.etapasCompra.atual++;
                    } else {
                      this.$store.commit("compra/salvaTransacaoPendente", {
                        orderId: res.data.result.order_id,
                        cards: this.titulosSelecionados,
                        checkoutOption: this.dadosCompra.gateway,
                        affiliation: this.afiliacao
                      });

                      const referrer = window.document.referrer;
                      this.$store.commit(
                        "usuario/salvaOrigemTrafego",
                        referrer
                      );
                      this.$store.commit("compra/salvaCheckoutPendente", {
                        orderId: res.data.result.order_id,
                        etapas: this.etapasCompra.total,
                        nome: this.dadosComprarSemLogar
                          ? this.dadosComprarSemLogar.nome
                          : this.primeiroNome,
                        sucesso: null
                      });
                      this.$store.commit(
                        "compra/salvaEtapasTransacaoPendente",
                        this.etapasCompra.total
                      );

                      this.carregandoCompra = false;
                      window.open(res.data.result.url, "_self");
                    }
                  } catch (error) {
                    let mensagem = "Ocorreu um erro, entre em contato conosco.";
                    if (
                      error.response &&
                      error.response.data &&
                      error.response.data.message
                    ) {
                      mensagem = error.response.data.message;
                      if (
                        error.response.data.code &&
                        error.response.data.code ==
                          "E_CERTIFICATE_NOT_AVAILABLE"
                      ) {
                        this.$store.commit("compra/limpaTitulosSelecionados");
                        this.$store.commit("praca/limpaTitulos");
                        await this.adicionaUmTituloInicial();
                      }
                    }

                    this.dialogCVV = false;
                    this.$swal("", mensagem, "error");
                    this.carregandoCompra = false;
                  }
                }.bind(this)
              );
          }.bind(this)
        );
      }
    },
    async pagamentoCredito() {
      if (this.dadosComprarSemLogar) {
        this.pagamentoCreditoSemLogin();
      } else {
        this.$gtagEvent("CHECKOUT_PROGRESS", this.titulosSelecionados);
        this.$fpEvent("CHECKOUT_PROGRESS", this.titulosSelecionados);
        const cartaoForm = this.validandoCartaoDados
          ? this.formConfirmaCartaoCredito
          : this.formAdicionaCartaoCredito;
        let cartao = {};
        if (this.dadosCompra.tipoPagamento == 10) {
          cartao = {
            nome_impresso: cartaoForm.nomeImpresso,
            numero_cartao: cartaoForm.numeroCartao.replace(/[^0-9]/g, ""),
            exp_month: cartaoForm.mesValidade,
            exp_year: cartaoForm.anoValidade,
            salvar_cartao: cartaoForm.salvarCartao,
            cvv: cartaoForm.cvv
          };
        } else if (this.dadosCompra.tipoPagamento == 11) {
          cartao = {
            ...this.cartaoDeCreditoSelecionado,
            cvv: this.cvv
          };
        }

        grecaptcha.ready(
          function() {
            grecaptcha
              .execute(process.env.recaptha_key, {
                action: `${this.pracaConfig.codigoPraca.toLowerCase()}_compra_com_login`
              })
              .then(
                async function(captcha) {
                  await this.capturaLead();
                  const data = {
                    ...cartao,
                    captcha,
                    certificados: this.titulosSelecionados.map(t => t.id),
                    praca_id: this.pracaConfig.idPraca,
                    etapa_id: this.etapaAtual.id,
                    forma_pagamento: this.dadosCompra.gateway,
                    versao_app: "web-1.0.0",
                    optin_instituicao: this.textoAvisoLegal
                      ? this.avisoLegalAceito
                      : null,
                    codigo_vendedor: !this.dadosVendedorLead
                      ? this.etapaAtual.comissao
                        ? this.dadosCompra.codigoVendedor
                        : null
                      : undefined
                  };
                  try {
                    this.carregandoCompra = true;
                    const res = await this.$networkApi.comprarTitulosCredito(
                      data
                    );
                    this.$gtagEvent("PURCHASE", {
                      cards: this.titulosSelecionados,
                      orderId: res.data.result.order_id,
                      checkoutOption: this.dadosCompra.gateway,
                      affiliation: this.afiliacao
                    });
                    this.$fpEvent("PURCHASE", {
                      cards: this.titulosSelecionados,
                      orderId: res.data.result.order_id,
                      checkoutOption: this.dadosCompra.gateway,
                      affiliation: this.afiliacao
                    });
                    this.dialogCVV = false;
                    if (!!this.validandoCartaoDados) {
                      await this.deletarCartaoDeCredito(
                        this.validandoCartaoDados,
                        false
                      );
                    }
                    this.$store.commit("compra/limpaTitulosSelecionados");
                    this.$store.commit("praca/limpaTitulos");
                    this.$store.commit(
                      "compra/salvaTemPremioInstantaneo",
                      res.data.result && res.data.result.raspadinhas
                    );
                    this.etapasCompra.atual++;
                  } catch (error) {
                    let mensagem = "Ocorreu um erro, entre em contato conosco.";
                    if (
                      error.response &&
                      error.response.data &&
                      error.response.data.message
                    ) {
                      mensagem = error.response.data.message;
                      if (
                        error.response.data.code &&
                        error.response.data.code ==
                          "E_CERTIFICATE_NOT_AVAILABLE"
                      ) {
                        this.$store.commit("compra/limpaTitulosSelecionados");
                        this.$store.commit("praca/limpaTitulos");
                        await this.adicionaUmTituloInicial();
                      }
                    }

                    this.dialogCVV = false;
                    if (
                      error.response &&
                      error.response.data &&
                      error.response.data.code &&
                      error.response.data.code == "E_LACK_ACCOUNT_BALANCE"
                    ) {
                      this.dialogSemSaldo = true;
                    } else {
                      this.$swal("", mensagem, "warning");
                    }

                    this.carregandoCompra = false;
                  }
                }.bind(this)
              );
          }.bind(this)
        );
      }
    },
    async pagamentoDebitoSemLogin() {
      this.$gtagEvent("CHECKOUT_PROGRESS", this.titulosSelecionados);
      this.$fpEvent("CHECKOUT_PROGRESS", this.titulosSelecionados);

      grecaptcha.ready(
        function() {
          grecaptcha
            .execute(process.env.recaptha_key, {
              action: `${this.pracaConfig.codigoPraca.toLowerCase()}_compra_sem_login`
            })
            .then(
              async function(captcha) {
                const data = {
                  captcha,
                  cliente: {
                    cpf: this.dadosComprarSemLogar.cpf.replace(/[^0-9]/g, "")
                  },
                  url_retorno: `${window.location.origin}/comprar/processapagamento`,
                  certificados: this.titulosSelecionados.map(t => t.id),
                  praca_id: this.pracaConfig.idPraca,
                  etapa_id: this.etapaAtual.id,
                  versao_app: "web-1.0.0",
                  optin_instituicao: this.textoAvisoLegal
                    ? this.avisoLegalAceito
                    : null,
                  codigo_vendedor: !this.dadosVendedorLead
                      ? this.etapaAtual.comissao
                        ? this.dadosCompra.codigoVendedor
                        : null
                      : undefined,
                  forma_pagamento: this.dadosCompra.gateway
                };
                try {
                  this.carregandoCompra = true;
                  const res = await this.$networkApi.comprarTitulosDebitoSemLogin(
                    data
                  );

                  this.$store.commit("compra/limpaTitulosSelecionados");
                  this.$store.commit("praca/limpaTitulos");

                  if (this.dadosCompra.gateway === "boleto") {
                    this.$store.commit(
                      "compra/salvaCompraComBoleto",
                      res.data.boleto
                    );
                    this.etapasCompra.atual++;
                  } else {
                    this.$store.commit("compra/salvaTransacaoPendente", {
                      orderId: res.data.nsu,
                      cards: this.titulosSelecionados,
                      checkoutOption: this.dadosCompra.gateway,
                      affiliation: this.afiliacao
                    });

                    const referrer = window.document.referrer;
                    this.$store.commit("usuario/salvaOrigemTrafego", referrer);
                    this.carregandoCompra = false;

                    this.$store.commit("compra/salvaCheckoutPendente", {
                      orderId: res.data.nsu,
                      etapas: this.etapasCompra.total,
                      nome: this.dadosComprarSemLogar
                        ? this.dadosComprarSemLogar.nome
                        : this.primeiroNome,
                      sucesso: null
                    });
                    this.$store.commit(
                      "compra/salvaEtapasTransacaoPendente",
                      this.etapasCompra.total
                    );
                    window.open(res.data.url, "_self");
                  }
                } catch (error) {
                  let mensagem = "Ocorreu um erro, entre em contato conosco.";
                  if (
                    error.response &&
                    error.response.data &&
                    error.response.data.message
                  ) {
                    mensagem = error.response.data.message;
                  }
                  this.$swal("", mensagem, "error");
                  this.carregandoCompra = false;
                }
              }.bind(this)
            );
        }.bind(this)
      );
    },
    async pagamentoCreditoSemLogin() {
      this.$gtagEvent("CHECKOUT_PROGRESS", this.titulosSelecionados);
      this.$fpEvent("CHECKOUT_PROGRESS", this.titulosSelecionados);

      const cartaoForm = this.formAdicionaCartaoCredito;
      let cartao = {};
      if (this.dadosCompra.tipoPagamento == 10) {
        cartao = {
          nome_impresso: cartaoForm.nomeImpresso,
          numero_cartao: cartaoForm.numeroCartao.replace(/[^0-9]/g, ""),
          exp_mes: cartaoForm.mesValidade,
          exp_ano: cartaoForm.anoValidade,
          salvar_cartao: cartaoForm.salvarCartao,
          cvv: cartaoForm.cvv,
          token: null
        };
      } else if (this.dadosCompra.tipoPagamento == 11) {
        cartao = {
          ...this.cartaoDeCreditoSelecionado,
          cvv: this.cvv
        };
      }
      grecaptcha.ready(
        function() {
          grecaptcha
            .execute(process.env.recaptha_key, {
              action: `${this.pracaConfig.codigoPraca.toLowerCase()}_compra_sem_login`
            })
            .then(
              async function(captcha) {
                const data = {
                  captcha,
                  cartao,
                  cliente: {
                    cpf: this.dadosComprarSemLogar.cpf.replace(/[^0-9]/g, "")
                  },
                  certificados: this.titulosSelecionados.map(t => t.id),
                  praca_id: this.pracaConfig.idPraca,
                  etapa_id: this.etapaAtual.id,
                  forma_pagamento: this.dadosCompra.gateway,
                  versao_app: "web-1.0.0",
                  optin_instituicao: this.textoAvisoLegal
                    ? this.avisoLegalAceito
                    : null,
                  codigo_vendedor: !this.dadosVendedorLead
                      ? this.etapaAtual.comissao
                        ? this.dadosCompra.codigoVendedor
                        : null
                      : undefined
                };

                try {
                  this.carregandoCompra = true;
                  const res = await this.$networkApi.comprarTitulosCreditoSemLogin(
                    data
                  );

                  this.carregandoCompra = false;

                  this.$gtagEvent("PURCHASE", {
                    cards: this.titulosSelecionados,
                    orderId: res.data.nsu,
                    checkoutOption: "cartao",
                    affiliation: this.afiliacao
                  });
                  this.$fpEvent("PURCHASE", {
                    cards: this.titulosSelecionados,
                    orderId: res.data.nsu,
                    checkoutOption: "cartao",
                    affiliation: this.afiliacao
                  });

                  this.$store.commit("compra/limpaTitulosSelecionados");
                  this.$store.commit("praca/limpaTitulos");
                  this.$store.commit(
                    "compra/salvaTemPremioInstantaneo",
                    res.data && res.data.raspadinhas
                  );
                  this.etapasCompra.atual++;
                } catch (error) {
                  let mensagem = "Ocorreu um erro, tente novamente.";
                  if (
                    error.response &&
                    error.response.data &&
                    error.response.data.message
                  ) {
                    mensagem = error.response.data.message;
                  }

                  this.$swal("", mensagem, "error");
                  this.carregandoCompra = false;
                }
              }.bind(this)
            );
        }.bind(this)
      );
    },
    pagamentoNovoCartao() {
      const valido = this.$refs.formAdicionaCartaoCredito.validate();
      if (valido) {
        this.processaPagamento(10);
      } else {
        const campoInvalido = this.$refs.formAdicionaCartaoCredito.$children.find(
          input => !input.valid
        );
        campoInvalido.focus();
        if (campoInvalido.id) {
          VueScrollTo.scrollTo(document.getElementById(campoInvalido.id), {
            offset: -40
          });
        }
      }
    },
    async pagamentoCartaoExistente(cartao) {
      this.validandoCartaoDados = null;
      if (!cartao.suportado) {
        this.$swal({
          html: `<div>Lamentamos, mas a compra não pode ser concluída com esse cartão devido à uma instabilidade
             com um parceiro de pagamentos.<br><br>
             <b>Por favor, tente com outro cartão de outra bandeira.</b> Atenção as bandeiras suportadas no momento:</div>
             <br>
             <div>${this.etapas.credito.join(", ")}</div>
             `
        });
      } else if (cartao.invalido) {
        this.formConfirmaCartaoCredito = {
          nomeImpresso: cartao.nome_impresso,
          numeroCartao: "",
          mesValidade: "",
          anoValidade: "",
          cvv: "",
          salvarCartao: true
        };
        this.validandoCartaoDados = cartao;
        this.dialogConfirmaCartaoCredito = true;
        setTimeout(() => {
          this.$refs.formConfirmaCartaoCredito.resetValidation();
        });
      } else {
        this.cartaoDeCreditoSelecionado = cartao;
        this.processaPagamento(11);
      }
    },
    validaNumeroCartao: value => {
      value = value.replace(/[^0-9]/g, "");
      if (!value) return true;

      var nCheck = 0,
        nDigit = 0,
        bEven = false;

      for (var n = value.length - 1; n >= 0; n--) {
        var cDigit = value.charAt(n),
          nDigit = parseInt(cDigit, 10);
        if (bEven) {
          if ((nDigit *= 2) > 9) nDigit -= 9;
        }
        nCheck += nDigit;
        bEven = !bEven;
      }
      return nCheck % 10 == 0;
    },
    fecharDialogCVV() {
      this.$gtagEvent("CANCEL_CHECKOUT", this.titulosSelecionados);
      this.dialogCVV = false;
      if (this.dadosCompra.tipoPagamento == 10) {
        this.cvv = "";
      }
    },
    fecharDialogConfirmaCartaoCredito() {
      this.$gtagEvent("CANCEL_CHECKOUT", this.titulosSelecionados);
      this.dialogConfirmaCartaoCredito = false;
    },
    async deletarCartaoDeCredito(cartao, confirmar = true) {
      if (confirmar) {
        this.$swal({
          icon: "warning",
          html: `Deseja mesmo remover o cartão <br> <b>${cartao.numero_cartao.replace(
            "********",
            " **** **** "
          )}</b> ?`,
          allowOutsideClick: false,
          showCancelButton: true,
          confirmButtonText: "Sim",
          cancelButtonText: "Não",
          allowEnterKey: false
        }).then(async result => {
          if (result.isConfirmed) {
            try {
              await this.$networkApi.deletarCartaoDeCredito(cartao.token);
              await this.carregaMeiosDePagamentos();
            } catch (error) {
              this.$swal(
                "",
                "Ocorreu um erro ao deletar o cartão, tente novamente mais tarde.",
                "error"
              );
            }
          }
        });
      } else {
        try {
          await this.$networkApi.deletarCartaoDeCredito(cartao.token);
          await this.carregaMeiosDePagamentos();
        } catch (error) {}
      }
    }
  }
};
</script>

<style lang="less">
.cp-pagamento {
  .v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
    transform: none;
  }
  .v-text-field .v-input__control,
  .theme--light.v-input {
    color: var(--corF1) !important;
    font-size: 14px;
  }
  .botao-acao {
    background-color: var(--corF3) !important;
    color: #fff !important;
    font-weight: 900;
    font-size: 18px !important;
    height: 20px !important;
    width: 20px !important;
  }
  .svg-icon-color {
    height: 22px;
    width: 22px;
  }
  .svg-icon-color.cartao-cvv {
    width: 35px;
    height: 35px;
  }
  .svg-icon.cartao-credito-2 {
    width: 35px;
    height: 35px;
    background-color: var(--corF1);
  }
  .svg-icon.lixeira {
    width: 22px;
    height: 22px;
    background-color: var(--corF1);
  }
  .botao-continuar {
    background-color: var(--cor4) !important;
    width: -webkit-fill-available;
  }
  .aviso-legal {
    button {
      margin-top: -5px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
      font-size: 15px !important;
      padding: 0 0 !important;
      height: 16px !important;
      min-width: 64px !important;
    }
  }
  .como-pagar {
    margin-top: 50px;
    .circulo {
      margin-top: -30px;
      height: 60px;
      width: 60px;
      background-color: var(--cor4);
      border-radius: 50%;
      .svg-icon.cartao {
        height: 40px;
        width: 100%;
        background-color: #fff;
      }
    }
    margin: 0 -15px;
    background-color: var(--cor3);
  }

  .fundo-icone {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
  }
}
.cp-pagamento-dialog-cvv {
  .titulo {
    font-size: 18px;
  }
  .v-expansion-panel-header {
    padding: 0;
    min-height: 30px;
  }
  .v-expansion-panel-content__wrap {
    padding: 0;
  }
  .botao-comprar {
    transform: scale(0.8);
    background-color: var(--cor4) !important;
    width: -webkit-fill-available;
  }

  .botao-voltar {
    transform: scale(0.8);
    background-color: var(--corF2) !important;
    color: #fff !important;
    width: -webkit-fill-available;
  }
  .v-text-field__details {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: -22px !important;
  }
}
.cp-pagamento-dialog-confirma-cartao {
  .svg-icon-color.cartao-cvv {
    width: 35px;
    height: 35px;
  }

  .titulo {
    font-size: 18px;
  }
  .v-expansion-panel-header {
    padding: 0;
    min-height: 30px;
  }
  .v-expansion-panel-content__wrap {
    padding: 0;
  }
  .botao-comprar {
    transform: scale(0.8);
    background-color: var(--cor4) !important;
    width: -webkit-fill-available;
  }

  .botao-voltar {
    transform: scale(0.8);
    background-color: var(--corF2) !important;
    color: #fff !important;
    width: -webkit-fill-available;
  }
  .v-text-field__details {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: -22px !important;
  }
}
.cp-pagamento-dialog-adiciona-cartao {
  .botao-continuar {
    background-color: var(--cor5) !important;
    width: -webkit-fill-available;
  }

  .botao-voltar {
    background-color: #fff !important;
    color: var(--cor5) !important;
    width: -webkit-fill-available;
  }
}
.cp-pagamento-dialog-sem-saldo {
  .botao-outro-meio {
    transform: scale(0.8);
    background-color: var(--corF2) !important;
    color: #fff !important;
    width: -webkit-fill-available;
  }

  .botao-adicionar-saldo {
    transform: scale(0.8);
    background-color: var(--cor4) !important;
    width: -webkit-fill-available;
  }
}
</style>
