<template>
  <div class="cp-sucesso" id="sucesso">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 14px !important"
      fluid
    >
      <div v-if="!dadosBoleto">
        <div class="mt-3 texto-titulo cor-titulo" style="font-size: 20px">
          <div>
            Parabéns,
            <span class="font-weight-black">
              {{
                nome
                  ? nome.toUpperCase()
                  : dadosComprarSemLogar
                  ? dadosComprarSemLogar.nome.toUpperCase()
                  : primeiroNome.toUpperCase()
              }} </span
            >!
          </div>
        </div>
        <div class="mt-5">
          Agora você já está concorrendo aos prêmios incríveis desta etapa!
          Agora só falta torcer no dia do sorteio:
        </div>
      </div>
      <div v-else>
        <div>
          <div class="font-weight-black mt-5">
            VALOR: {{ dadosBoleto.valor | formatCurrency }} | VENCIMENTO
            {{ dadosBoleto.data_vencimento }}
          </div>
          <div class="mt-5">
            Parabéns
            <span class="font-weight-black">
              {{
                nome
                  ? nome.toUpperCase()
                  : dadosComprarSemLogar
                  ? dadosComprarSemLogar.nome.toUpperCase()
                  : primeiroNome.toUpperCase()
              }}!
            </span>
            Copie o código de barras abaixo ou faça o download do boleto para
            realizar o pagamento.
          </div>
          <div class="mt-5 d-flex justify-center">
            <div
              class="font-weight-black text-center"
              style="word-wrap: break-word; max-width: 80%"
            >
              {{ dadosBoleto.linha_digitavel }}
            </div>
          </div>
          <div class="d-flex align-center justify-center text-center">
            <div style="max-width: 250px;">
              <div class="mt-5 text-center ios-botao-1">
                <v-btn
                  class="botao botao-copiar-codigo"
                  @click="copiarCodigo(dadosBoleto.linha_digitavel)"
                  >{{ copiadoSucesso ? "Copiado!" : "Copiar código" }}</v-btn
                >
              </div>
              <div class=" mt-3 text-center ios-botao-1">
                <v-btn
                  rounded
                  text
                  class="botao botao-fazer-download"
                  :loading="fazendoDownload"
                  @click="download(dadosBoleto)"
                  >Fazer download</v-btn
                >
              </div>
            </div>
          </div>
        </div>
        <div class="mb-5 mt-4">
          <v-divider></v-divider>
        </div>
        <div class="font-weight-black">
          Não perca o sorteio ao vivo
        </div>
      </div>

      <div class="mt-8">
        <calendar />
      </div>
      <div
        class="mt-7 font-weight-black"
        style="font-size: 20px; color: #27b79b;"
      >
        {{ dataHoraSorteio }}
      </div>
      <div
        class="mt-5"
        v-if="opcoes.length > 0"
        v-html="this.textoOpcoes"
      ></div>
      <div class="mt-5">
        Anote na agenda e fique ligado! <br />
        BOA SORTE!
      </div>
      <div v-if="!dadosBoleto">
        <div class="mt-5">
          <v-divider></v-divider>
        </div>
        <div class="mt-5 font-weight-black">
          O que você quer fazer agora?
        </div>
        <div class="d-flex align-center justify-center text-center">
          <div style="max-width: 250px;">
            <div class="mt-5 text-center ios-botao-1">
              <v-btn
                class="botao botao-ver-titulos"
                @click="$router.push(`/meustitulos`)"
              >
                Ver meus {{ nomeProdutoPlural }}
              </v-btn>
            </div>
            <div
              class=" mt-3 text-center ios-botao-1"
              v-if="this.pracaConfig.configuracoes.flag_indique_um_amigo"
            >
              <v-btn
                outlined
                class="botao botao-indicar-amigo"
                @click="$router.push(`/indiqueeganhe`)"
                >Indicar um amigo</v-btn
              >
            </div>
          </div>
        </div>
      </div>
    </v-container>
    <v-dialog
      v-model="dialogMeusTitulos"
      @input="dialogMeusTitulos = false"
      :scrollable="$vuetify.breakpoint.mobile"
      :width="$vuetify.breakpoint.mobile ? '308' : '582'"
      persistent
    >
      <div class="cp-sucesso-dialog-meus-titulos">
        <v-card>
          <div>
            <div
              class="d-flex justify-space-between"
              style="margin-bottom: -30px"
            >
              <div></div>
              <div>
                <v-btn icon @click="dialogMeusTitulos = false">
                  <v-icon color="var(--corF1)">mdi-close</v-icon>
                </v-btn>
              </div>
            </div>
          </div>
          <v-card-title class="pb-0 font-weight-bold justify-center">
            <div class="mb-5">
              <div class="justify-center text-center">
                <img src="/imagens/diversas/atencao.svg" style="width: 50px" />
              </div>
              <div
                class="justify-center text-center"
                style="font-size: 16px; color: var(--cor4);"
              >
                Ver meus
                <span class="fontCapitalize">{{ nomeProdutoPlural }}</span>
              </div>
            </div>
          </v-card-title>
          <v-card-text>
            <div class="justify-center text-center mb-5">
              Para ver seus
              <span class="fontCapitalize">{{ nomeProdutoPlural }}</span> você
              deve realizar seu login
            </div>
            <div class="mt-5">
              <div class=" mt-3 text-center ios-botao-1">
                <v-btn class="botao botao-entendi" @click="verTitulos(true)"
                  >OK, entendi
                </v-btn>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </div>
    </v-dialog>
    <v-dialog
      v-model="dialogPremiacaoInstantanea"
      @input="dialogPremiacaoInstantanea = false"
      :scrollable="$vuetify.breakpoint.mobile"
      :width="$vuetify.breakpoint.mobile ? '308' : '582'"
      persistent
    >
      <div class="cp-sucesso-dialog-premiacao-instantanea">
        <v-card>
          <div>
            <div
              class="d-flex justify-space-between"
              style="margin-bottom: -30px"
            >
              <div></div>
              <div>
                <v-btn icon @click="dialogPremiacaoInstantanea = false">
                  <v-icon color="var(--corF1)">mdi-close</v-icon>
                </v-btn>
              </div>
            </div>
          </div>
          <v-card-title class="pb-0 font-weight-bold justify-center">
            <div>
              <div class="justify-center text-center" style="font-size: 16px;">
                Premiação Instantânea
              </div>
              <div class="justify-center text-center my-3">
                <img src="/imagens/diversas/betting.png" style="width: 50px" />
              </div>
            </div>
          </v-card-title>
          <v-card-text>
            <div class="justify-center text-center mb-5">
              Você ganhou chances na premiação instantânea. Clique no botão
              abaixo e confira
            </div>
            <div class="mt-5">
              <div class="d-flex align-center justify-center text-center">
                <div
                  style="
    width: -webkit-fill-available; max-width: 250px;"
                >
                  <div class="mt-3 text-center ios-botao-1">
                    <v-btn
                      class="botao botao-eu-quero"
                      @click="$router.push(`/premioinstantaneo`)"
                      >EU QUERO
                    </v-btn>
                  </div>
                </div>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import copy from "copy-to-clipboard";
import axios from "axios";
var VueScrollTo = require("vue-scrollto");
export default {
  name: "sucesso",
  head: {
    title: "Sucesso"
  },
  data() {
    return {
      nome: null,
      dialogMeusTitulos: false,
      dialogPremiacaoInstantanea: false,
      opcoes: [],
      textoOpcoes: "",
      dadosBoleto: null,
      copiadoSucesso: false,
      fazendoDownload: false
    };
  },
  created() {
    if (this.checkoutPendente && this.checkoutPendente.sucesso) {
      this.nome = this.checkoutPendente.nome;
      this.$store.commit("compra/salvaCheckoutPendente", null);
    }
    if (this.compraComBoleto) {
      this.dadosBoleto = this.compraComBoleto;
      setTimeout(() => {
        this.$store.commit("compra/salvaCompraComBoleto", null);
      });
    }
    setTimeout(() => {
      VueScrollTo.scrollTo(document.getElementById("sucesso"), {
        offset: -40
      });
      this.dialogPremiacaoInstantanea = this.temPremioInstantaneo;
    });
    this.montaOpcoes();
  },
  methods: {
    copiarCodigo(codigo) {
      copy(codigo);
      this.copiadoSucesso = true;
      setTimeout(() => {
        this.copiadoSucesso = false;
      }, 3000);
    },
    verTitulos(confirma = false) {
      if (!this.logado) {
        if (confirma) {
          this.$router.push(`/meustitulos`);
        } else {
          this.dialogMeusTitulos = true;
        }
      } else {
        this.$router.push(`/meustitulos`);
      }
    },
    montaOpcoes() {
      var inicio = "";
      if (
        this.aparencia.id_play_store &&
        this.aparencia.id_play_store.length > 0
      ) {
        this.opcoes.push({
          nome: "App",
          link: `https://play.google.com/store/apps/details?id=${this.aparencia.id_play_store}`
        });
      }
      if (this.aparencia.facebook && this.aparencia.facebook.length > 0) {
        this.opcoes.push({
          nome: "Facebook",
          link: this.aparencia.facebook
        });
      }
      if (this.aparencia.youtube && this.aparencia.youtube.length > 0) {
        this.opcoes.push({
          nome: "Youtube",
          link: this.aparencia.youtube
        });
      }
      this.textoOpcoes = "Você pode assistir ao sorteio";
      this.opcoes.forEach((opcao, index) => {
        if (index == 0) {
          inicio = "pelo nosso";
        } else if (this.opcoes.length - 1 == index) {
          inicio = "ou pelo";
        } else {
          inicio = "pelo";
        }
        this.textoOpcoes += ` ${inicio} <a href="${opcao.link}" target="_blank" class="cor-titulo"><u>${opcao.nome}</u></a>`;
      });
      this.textoOpcoes += ".";
    },
    async downloadBlob(url) {
      return new Promise((resolve, reject) => {
        axios
          .get(url, {
            responseType: "blob"
          })
          .then(response => {
            resolve(response.data);
          })
          .catch(error => {
            reject(false);
          });
      });
    },
    async download(boleto) {
      try {
        this.fazendoDownload = true;
        let date = new Date();
        date = date.toLocaleDateString("pt-br");
        const res = await this.downloadBlob(boleto.url_imagem);
        const blob = new Blob([res], { type: "application/pdf" });
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = `boleto-${this.pracaConfig.nome}-${date}.pdf`;
        link.click();
        URL.revokeObjectURL(link.href);
      } catch (error) {
        this.$swal(
          "",
          "Ocorreu um erro inesperado. Por favor, tente novamente.",
          "error"
        );
      } finally {
        this.fazendoDownload = false;
      }
    }
  },
  computed: {
    checkoutPendente() {
      return this.$store.getters["compra/checkoutPendente"];
    },
    temPremioInstantaneo() {
      return this.$store.getters["compra/temPremioInstantaneo"];
    },
    primeiroNome() {
      return this.$store.getters["usuario/primeiroNome"].toUpperCase();
    },
    etapaAtual() {
      return this.$store.getters["praca/etapaAtual"];
    },
    dataHoraSorteio() {
      return this.etapaAtual.sorteio
        .replace(" ", " às ")
        .replaceAll("/", " | ")
        .replace(":", "h");
    },
    logado() {
      return this.$store.getters["usuario/logado"];
    },
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    dadosComprarSemLogar() {
      return this.$store.getters["usuario/dadosComprarSemLogar"];
    },
    compraComBoleto() {
      return this.$store.getters["compra/compraComBoleto"];
    },
    pracaConfig() {
      return this.$store.getters["praca/config"];
    },
    nomeProdutoSingular() {
      return this.$store.getters["praca/nomeProdutoSingular"].toLowerCase();
    },
    nomeProdutoPlural() {
      return this.$store.getters["praca/nomeProdutoPlural"].toLowerCase();
    }
  },
  components: {
    Calendar: () => import("@/components/lottie/Calendar")
  }
};
</script>

<style lang="less">
.cp-sucesso {
  .botao-ver-titulos {
    background-color: var(--cor4) !important;
    width: -webkit-fill-available;
  }
  .botao-indicar-amigo {
    color: var(--cor4) !important;
    width: -webkit-fill-available;
  }

  .botao-copiar-codigo {
    background-color: var(--cor4) !important;
    width: -webkit-fill-available;
  }
  .botao-fazer-download {
    color: var(--cor4) !important;
    text-decoration: underline;
    width: -webkit-fill-available;
  }
  .links {
    button {
      width: -webkit-fill-available;
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
    }
  }
}
.cp-sucesso-dialog-meus-titulos {
  .botao-entendi {
    transform: scale(0.8);
    background-color: var(--cor4) !important;
  }
}
.cp-sucesso-dialog-premiacao-instantanea {
  .botao-eu-quero {
    width: -webkit-fill-available;
    transform: scale(0.8);
    background-color: #007ae2 !important;
  }
}
</style>
