<template>
  <div class="pg-alterar-senha">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 14px !important"
      fluid
    >
      <div class="cor-titulo font-weight-black texto-descricao mb-3">
        Alterar senha de acesso
      </div>
      <div class="cor-titulo">
        Preencha os campos e depois <br />
        clique em <span class="font-weight-black">Salvar</span>.
      </div>
      <v-card elevation="0" class="mx-auto mt-5" max-width="600">
        <v-form ref="form" @keyup.enter.native="enviar" v-model="formValido">
          <div>
            <v-row no-gutters>
              <v-col cols="12" v-if="!form.token">
                <v-text-field
                  name="senhaAtual"
                  v-model="form.senhaAtual"
                  label="Senha atual"
                  :append-icon="exibeSenha ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="exibeSenha ? 'text' : 'password'"
                  :loading="carregando"
                  :rules="[v => !!v || 'Campo obrigatório!']"
                  @click:append="exibeSenha = !exibeSenha"
                ></v-text-field>
              </v-col>
              <v-col cols="12" v-if="!form.token">
                <v-text-field
                  name="senha"
                  v-model="form.senha"
                  label="Nova senha"
                  :append-icon="exibeSenha ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="exibeSenha ? 'text' : 'password'"
                  :loading="carregando"
                  :rules="[
                    v =>
                      v != form.senhaAtual ||
                      'A nova senha tem que ser diferente da atual!',
                    v => !!v || 'Campo obrigatório!'
                  ]"
                  @click:append="exibeSenha = !exibeSenha"
                ></v-text-field>
              </v-col>
              <v-col cols="12" v-if="!form.token">
                <v-text-field
                  name="confSenha"
                  v-model="form.confSenha"
                  label="Confirme a nova senha"
                  :append-icon="exibeSenha ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="exibeSenha ? 'text' : 'password'"
                  :loading="carregando"
                  :rules="[
                    v =>
                      v == form.senha || 'Senha e confirmação devem ser iguais',
                    v => !!v || 'Campo obrigatório!'
                  ]"
                  @click:append="exibeSenha = !exibeSenha"
                ></v-text-field>
              </v-col>
            </v-row>
            <div class="mt-8 pb-6 text-center ios-botao-1">
              <v-btn
                class="botao botao-salvar"
                :loading="carregando"
                @click="enviar"
                >Salvar</v-btn
              >
            </div>
          </div>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>
<script>
export default {
  middleware: ["autenticado"],
  head: {
    title: "Alterar Senha"
  },
  data() {
    return {
      form: {
        senhaAtual: "",
        senha: "",
        confSenha: ""
      },
      carregando: false,
      exibeSenha: false,
      formValido: false
    };
  },
  created() {
    if (this.dadosUsuario.tipo_cadastro.toLowerCase() == "google") {
      this.$swal(
        "",
        "Essa opção não está disponível, pois seu cadastro foi realizado através do Google!",
        "error"
      );
      this.$router.push("/minhaconta");
    }
  },
  methods: {
    async enviar() {
      if (this.dadosUsuario.tipo_cadastro.toLowerCase() != "google") {
        const valido = this.$refs.form.validate();
        if (valido) {
          this.carregando = true;
          const data = {
            senha: this.form.senhaAtual,
            nova_senha: this.form.senha
          };
          try {
            const res = await this.$networkApi.alteraSenha(data);
            this.$swal("", "Senha atualizada com sucesso!", "success");
            this.carregando = false;
            this.$router.push("/minhaconta");
          } catch (error) {
            this.carregando = false;
            const mensagem = error.response.data.message
              ? error.response.data.message
              : "Ocorreu um erro inesperado. Por favor, tente novamente.";
            this.$swal("", mensagem, "error");
          }
        }
      } else {
        this.$router.push("/minhaconta");
      }
    }
  },
  watch: {
    email() {
      this.form.email = this.form.email.toLowerCase();
    },
    confEmail() {
      this.form.confEmail = this.form.confEmail.toLowerCase();
    }
  },
  computed: {
    dadosUsuario() {
      return this.$store.getters["usuario/dados"];
    },
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    email() {
      return this.form.email;
    },
    confEmail() {
      return this.form.confEmail;
    },
    destinoLogin() {
      return this.$store.getters["usuario/destinoLogin"];
    }
  }
};
</script>
<style lang="less">
.pg-alterar-senha {
  .check-termo {
    margin-top: 10px;
    padding-top: 0px;
  }

  .botao-salvar {
    background-color: var(--cor4) !important;
  }
  .termos {
    button {
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
      font-size: 15px !important;
      padding: 0 0 !important;
      height: 16px !important;
      min-width: 64px !important;
    }
  }
}
</style>
