<template>
  <div class="text-center">Processando o pagamento...</div>
</template>

<script>
export default {
  head: {
    title: "Processa Pagamento"
  },
  async mounted() {
    const idCompra = this.$route.query.order;
    if (idCompra) {
      try {
        const res = await this.$networkApi.informacaoDaCompra(idCompra);
        const result = res.data.result;
        const mensagem = result.mensagem
          ? result.mensagem
          : "Não conseguimos localizar o seu pagamento, entre em contato conosco.";
        const status = result.status ? result.status : "error";
        let destino = "/";
        switch (status) {
          case "error":
            this.$swal("Ops!", mensagem, "error");
            this.$store.commit("compra/salvaCheckoutPendente", null);
            break;
          case "pending":
            this.$swal("Seu pagamento está sendo processado", mensagem, "info");
            this.$store.commit("compra/salvaCheckoutPendente", null);
            break;
          case "denied":
            this.$swal("Seu pagamento não foi aprovado", mensagem, "error");
            this.$store.commit("compra/salvaCheckoutPendente", null);
            destino = this.obterLocalCompra();
            break;
          case "approved":
            if (
              this.transacaoPendente &&
              this.transacaoPendente.orderId == idCompra
            ) {
              this.$gtagEvent("PURCHASE", this.transacaoPendente);
              this.$fpEvent("PURCHASE", this.transacaoPendente);
            }
            destino = "/comprar";
            this.$store.commit("usuario/salvaOrigemTrafego", null);
            this.$store.commit("compra/salvaCheckoutPendente", {
              ...this.checkoutPendente,
              sucesso: true
            });

            this.$store.commit(
              "compra/salvaTemPremioInstantaneo",
              result.raspadinhas
            );
            break;

          default:
            break;
        }
        this.$router.push(destino);
      } catch (error) {
        this.$swal(
          "",
          "Não conseguimos localizar a sua compra, entre em contato conosco.",
          "error"
        );
        this.$router.push(`/`);
      }
    } else {
      this.$router.push(`/comprar`);
    }
  },
  methods: {
    obterLocalCompra() {
      const origem = this.$store.getters["compra/origemTitulos"];
      switch (origem) {
        case 1:
          return "/?area=escolher-titulos";

        case 2:
          return "/?area=quero-concorrer";

        case 3:
          return "/?area=quero-concorrer";

        default:
          return "/?area=quero-concorrer";
      }
    }
  },
  computed: {
    checkoutPendente() {
      return this.$store.getters["compra/checkoutPendente"];
    },
    transacaoPendente() {
      return this.$store.getters["compra/transacaoPendente"];
    },
    origemTrafego() {
      return this.$store.getters["usuario/origemTrafego"];
    }
  }
};
</script>
