<template>
  <v-layout column class="hidden-sm-and-down" style="max-width:40vw">
    <v-flex md3 class="d-flex mx-0 mb-14 align-center justify-start">
      <v-flex md2 class="ml-4">
        <v-img :src="square.logo" alt="Square Logo" contain aspect-ratio="2" />
      </v-flex>
      <v-flex md9>
        <span class="text-h5 ml-3">{{ square.name }}</span>
      </v-flex>
    </v-flex>

    <v-flex xs12 class="text-center">
      <strong class="text-h4">Parabéns,<br /></strong>
      <span>{{ form.message }}</span>
    </v-flex>
    <v-flex xs12 class="my-4">
      <v-img
        class="align-self-center mx-auto"
        width="100%"
        max-width="300px"
        src="/webpages/app.png"
      ></v-img>
    </v-flex>
    <v-flex xs12 class="px-md-5 text-center">
      <span class="text-body-1">
        Cadastre-se e baixe o app, com ele você pode gerenciar suas vendas onde
        e quando quiser
      </span>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    square: Object,
    form: Object,
    distributor: Object
  }
};
</script>
