<template>
  <v-app class="d-flex align-center justify-center fill-height">
    <div id="app" class="fill-height my-auto">
      <CongratulationsAside
        v-if="!not_found"
        :distributor="distributor"
        :form="form"
        :square="square"
      />
      <SalesmanRegister
        v-if="!not_found"
        :distributor="distributor"
        :form="form"
        :square="square"
      />
      <NotFound v-if="not_found" />
    </div>
  </v-app>
</template>

<script>
import CongratulationsAside from "@/components/webpages/CongratulationsAside";
import SalesmanRegister from "@/components/webpages/SalesmanRegister";
import NotFound from "@/components/webpages/NotFound";
import Vue from "vue";
import VueMask from "v-mask";
import Vuelidate from "vuelidate";
import axios from "axios";

Vue.use(Vuelidate);
Vue.use(VueMask);

export default {
  layout: "webpages",
  components: {
    SalesmanRegister,
    CongratulationsAside,
    NotFound
  },
  head() {
    return {
      title: "Meu time"
    };
  },
  data() {
    return {
      not_found: false,
      form: {
        message: "",
        name: "",
        email: "",
        salesmanId: "",
        phone: "",
        address: {
          street: "",
          number: "",
          zipCode: "",
          ibge_code: "",
          neighborhood: "",
          uf: "",
          complement: "",
          city: "",
          ibge: ""
        },
        useTerms: false,
        password: "",
        repeatPassword: ""
      },
      distributor: {
        name: "",
        code: ""
      },
      square: {
        id: "",
        logo: "",
        name: "",
        code: "",
        capitalizadora: "",
        instituicao: "",
        app_url: "",
        app_ios: ""
      }
    };
  },
  methods: {
    notFound() {
      this.not_found = !this.not_found;
    }
  },
  mounted: function() {
    (async () => {
      try {
        if (this.$route.query.p && this.$route.query.c) {
          const response = await axios.get(
            `${process.env.api_pdv_url}/pdv/pracas/${this.$route.query.p}/?codigo_distribuidor=${this.$route.query.c}`
          );
          const { distribuidor } = response.data;

          var praca = await axios.get(`${process.env.api_url}/v2/pracas`);
          praca = praca.data;
          // nome do distribuidor
          this.distributor.name =
            distribuidor.nome.charAt(0).toUpperCase() +
            distribuidor.nome.slice(1);
          this.distributor.name =
            distribuidor.nome.indexOf(" ") >= 0
              ? distribuidor.nome.substring(0, distribuidor.nome.indexOf(" "))
              : distribuidor.nome;
          //codigo do distribuidor
          this.distributor.code = distribuidor.codigo;
          //nome da praca
          this.square.name =
            praca.nome.charAt(0).toUpperCase() + praca.nome.slice(1);
          //codigo da praca
          this.square.code = praca.codigo_praca;
          //id da praca
          this.square.id = praca.id;
          //logos
          this.square.instituicao = praca.instituicao;
          this.square.capitalizadora = praca.capitalizadora;
          this.square.logo = praca.logo;

          this.square.app_url = praca.configuracoes.url_app_android_app_pdv;
          this.square.app_ios = praca.configuracoes.url_app_ios_app_pdv;

          this.form.message = `Você foi indicado pelo distribuidor: ${this.distributor.name}`;
        } else {
          this.notFound();
        }
      } catch (err) {
        this.notFound();
      }
    })();
  }
};
</script>

<style lang="scss" scoped>
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
// body {
//   background-color: #f5f5f5;
// }
.v-application--wrap {
  justify-content: center;
}
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100% !important;
  max-width: 1300px !important;
  margin: 0 auto;
}
</style>
