<template>
  <div class="pg-comprar-titulos">
    <v-container
      class="align-start justify-center background"
      style="padding: 14px !important"
      fluid
    >
      <div class="efeito-raios d-flex justify-center">
        <div class="efeito-luzes">
          <div class="espaco-topo"></div>
          <div style="max-width: 600px">
            <div class="mt-10 text-center texto-descricao white--text">
              <span class="font-weight-black"
                >Contribua e concorra aos prêmios!</span
              >
            </div>
            <div class="mt-8 text-center white--text">
              Quanto mais contribuir, mais chances tem de ganhar! Escolha abaixo
              com quantos <span class="font-weight-black">{{nomeProdutoPlural}}</span> você
              quer concorrer:
            </div>
            <div class="quadro-quero-concorrer">
              <quadro-quero-concorrer />
            </div>
          </div>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {

  // head: {
  //   title: `Comprar `
  // },
  head(){
    const titleHead = this.$store.getters["praca/nomeProdutoPlural"].toLowerCase()
    return {title: `Comprar ${titleHead}`}
  },
  components: {
    QuadroQueroConcorrer: () => import("@/components/quadros/QueroConcorrer")
  },

  computed: {
     nomeProdutoSingular() {
      return this.$store.getters["praca/nomeProdutoSingular"].toLowerCase();
    },
    nomeProdutoPlural() {
      return this.$store.getters["praca/nomeProdutoPlural"].toLowerCase();
    },
  }
};
</script>

<style lang="less">
.pg-comprar-titulos {
  margin-top: -135px;
  margin-bottom: -19px;
  .img-boa-sorte {
    width: 250px;
  }
  .background {
    background: var(--gradiente1_1);
  }
  .efeito-raios {
    background-image: url("/imagens/efeitos/efeito_raios.png");
    background-position-x: center;
    background-position-y: -70px;
    margin: 0 -15px;
    padding: 0 15px;
  }
  .efeito-luzes {
    background-image: url("/imagens/efeitos/efeito_luzes.png");
    background-position-x: center;
    background-position-y: 200px;
    margin: 0 -15px;
    padding: 0 15px;
  }
  .quadro-quero-concorrer {
    margin-top: 120px;
  }
}
</style>
