<template>
  <div class="cp-quadro-ajudamos">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 14px !important; max-width: 600px !important;"
      fluid
    >
      <div
        class="texto-titulo cor-titulo"
        v-html="config.textos.tituloAjuda"
      ></div>
      <div
        class="texto-descricao mt-5 cor-texto"
        v-html="config.textos.textoAjuda"
      ></div>
      <div class="mt-8 pb-6 text-center">
        <v-btn
          class="botao botao-ajudar-e-concorrer ios-botao-1"
          @click="$router.push(`/comprar`)"
          >Quero ajudar e concorrer</v-btn
        >
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "quadro-ajudamos",
  computed: {
    config() {
      return this.$store.getters["praca/config"];
    }
  }
};
</script>

<style lang="less">
.cp-quadro-ajudamos {
  .botao-ajudar-e-concorrer {
    background-color: var(--cor4) !important;
  }
}
</style>
