<template>
  <div class="cp-quadro-contagem-regressiva">
    <v-container
      v-intersect="onIntersect"
      :class="
        intersected ? 'align-start justify-center text-center background' : ''
      "
      style="padding: 14px !important"
      fluid
    >
      <div class="efeito-confetes" v-if="intersected">
        <div class="efeito-transparencia">
          <div class="curva-topo"></div>
          <div class="mt-15 mb-10 texto-descricao white--text">
            <div>
              <span class="font-weight-black">{{ tempo.dias }}</span>
              {{ tempo.dias > 1 ? "DIAS" : "DIA" }}
              <span class="font-weight-black ml-2">{{ tempo.horas }}</span>
              {{ tempo.horas > 1 ? "HORAS" : "HORA" }}
              <span class="font-weight-black ml-2">{{ tempo.minutos }}</span>
              MIN
            </div>
            <div>
              PARA O
              <span class="font-weight-black">PRÓXIMO SORTEIO</span>
            </div>
          </div>
          <div class="mb-10">
            <div class="estrelas-botao ios-botao-1">
              <v-btn
                class="botao botao-quero-concorrer"
                @click="$router.push(`/comprar`)"
                >Quero concorrer!</v-btn
              >
            </div>
          </div>
          <div class="curva-rodape"></div>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "cp-quadro-contagem-regressiva",
  data() {
    return {
      tempo: {
        dias: 0,
        horas: 0,
        minutos: 0
      },
      interval: null,
      intersected: false,
      idEtapaCarregada: null
    };
  },
  watch: {
    idEtapaAtual(valor) {
      if (valor !== this.idEtapaCarregada) {
        if (this.intersected) {
          clearInterval(this.interval);
          this.contador();
        }
      }
    }
  },
  destroyed() {
    if (this.intersected) {
      clearInterval(this.interval);
    }
  },
  computed: {
    etapaAtual() {
      return this.$store.getters["praca/etapaAtual"];
    },
    idEtapaAtual() {
      return this.$store.getters["praca/idEtapaAtual"];
    }
  },
  methods: {
    inicial() {
      this.idEtapaCarregada = this.etapaAtual.id;
    },
    onIntersect(entries, observer) {
      if (!this.intersected && entries[0].isIntersecting) {
        this.intersected = true;
        this.contador();
      }
    },
    contador() {
      let dataServidor = this.etapaAtual.data_servidor.split(" ");
      let horaServidor = dataServidor[1];
      dataServidor = dataServidor[0]
        .split("/")
        .reverse()
        .join("/");

      let dataSorteio = this.etapaAtual.sorteio.split(" ");
      let horaSorteio = dataSorteio[1];
      dataSorteio = dataSorteio[0]
        .split("/")
        .reverse()
        .join("/");

      var falta =
        (new Date(`${dataSorteio} ${horaSorteio}`).getTime() -
          new Date(`${dataServidor} ${horaServidor}`).getTime()) /
        1000;
      falta = falta < 0 ? 0 : falta;
      var segundos = Math.floor(falta % 60);
      var minutos = Math.floor((falta / 60) % 60);
      var horas = Math.floor((falta / 60 / 60) % 24);
      var dias = Math.floor(falta / 60 / 60 / 24);

      this.interval = setInterval(() => {
        if (dias <= 0 && horas <= 0 && minutos <= 0) {
          clearInterval(this.interval);
        }
        if (segundos == 0 && minutos > 0) {
          segundos = 60;
          minutos--;
        }
        if (minutos == 0 && horas > 0) {
          minutos = 60;
          horas--;
        }
        if (horas == 0 && dias > 0) {
          horas = 24;
          dias--;
        }
        segundos--;
        this.tempo.dias = dias;
        this.tempo.horas = horas;
        this.tempo.minutos = minutos;
      }, 1000);
      this.idEtapaCarregada = this.etapaAtual.id;
    }
  }
};
</script>

<style lang="less">
.cp-quadro-contagem-regressiva {
  .background {
    background: var(--gradiente1_1);
  }
  .curva-topo {
    background-image: url("/imagens/curvas/curva_topo_quadro_contagem_regressiva.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    height: 90px;
    margin: -15px;
  }
  .curva-rodape {
    background-image: url("/imagens/curvas/curva_rodape_quadro_contagem_regressiva.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    height: 50px;
    padding-left: 25px;
    margin: -15px;
    margin-top: 0;
  }
  .botao-quero-concorrer {
    font-weight: 900 !important;
    color: var(--cor4) !important;
  }
  .efeito-confetes {
    background-image: url("/imagens/efeitos/efeito_confetes.png");
    background-position-x: center;
    background-position-y: -100px;
    margin: 0 -15px;
    padding: 0 15px;
  }
  .efeito-transparencia {
    background: var(--gradiente1_2);
    margin: 0 -15px;
    padding: 0 15px;
  }
  .estrelas-botao {
    background-image: url("/imagens/efeitos/efeito_estrelas_botao.png");
    background-position-x: center;
    padding: 20px 0;
  }
}
</style>
