<template>
  <div class="cp-quadro-duvidas">
    <v-container
      v-intersect="onIntersect"
      class="align-start justify-center text-center"
      style="padding: 14px !important; max-width: 600px !important"
      fluid
    >
      <div class="texto-titulo cor-titulo">
        <span class="font-weight-black">Dúvidas</span>
      </div>
      <div class="texto-descricao mt-5 cor-texto">
        Veja as perguntas mais frequentes e suas respostas abaixo. <br />
        Se não encontrou a resposta para sua dúvida, contate-nos pela Central de
        Atendimento.
      </div>
      <div class="mt-8 pb-6 text-center">
        <v-expansion-panels accordion>
          <v-expansion-panel v-for="(faq, i) in faqs" :key="i">
            <v-expansion-panel-header class="pergunta font-weight-black">
              {{ faq.pergunta }}
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <div
                class="text-left resposta text-wrap"
                v-html="faq.resposta"
              ></div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "cp-quadro-duvidas",
  data() {
    return {
      faqs: [],
      intersected: false
    };
  },
  methods: {
    onIntersect(entries, observer) {
      if (!this.intersected && entries[0].isIntersecting) {
        this.intersected = true;
        try {
          this.$networkApi.carregaFAQ().then(res => {
            if (res.data && res.data.length > 0) {
              this.faqs = res.data;
            }
          });
        } catch (error) {}
      }
    }
  }
};
</script>

<style lang="less">
.cp-quadro-duvidas {
  .pergunta {
    word-wrap: break-word;
  }
  .resposta {
    word-wrap: break-word;
    img {
      width: 100%;
    }
  }
}
</style>
