<template>
  <div class="cp-quadro-escolha-titulos">
    <v-container
      v-intersect="onIntersect"
      class="justify-center text-center mt-3"
      style="max-width: 600px"
    >
      <div v-if="intersected">
        <div class="texto-descricao cor-titulo">
          <span class="font-weight-black"
            >Escolha os {{ nomeProdutoPlural }}</span
          >
          que deseja para concorrer aos prêmios
        </div>
        <div class="carrousel-titulos">
          <v-card
            elevation="0"
            max-width="600"
            class="mx-auto"
            style="background: none !important"
            :style="tipoLive ? 'margin: 0px' : 'margin: -60px 0px;'"
          >
            <v-carousel
              :continuous="false"
              :height="tipoLive ? 140 : 350"
              hide-delimiters
              show-arrows
              v-model="grupoTitulosAtual"
              :class="tipoLive ? 'tipoLive' : ''"
            >
              <v-carousel-item
                v-for="(titulos, i) in titulosFormatados"
                :key="i"
              >
                <div
                  class="d-flex align-center"
                  :class="tipoLive ? '' : 'mt-9'"
                  style="color: var(--corF1); !important; justify-content: space-evenly !important"
                >
                  <div
                    class="d-flex flex-column text-center align-center"
                    :class="tipoLive ? 'mx-6' : ''"
                    :style="
                      tipoLive
                        ? 'width: 60px; height: 0px;'
                        : 'width: 60px; height: 260px;'
                    "
                    v-for="(titulo, j) in titulos"
                    :key="j"
                  >
                    <div
                      v-if="!tipoLive"
                      :class="cardContainer"
                      class="animated"
                      style="height: 215px; transform: scale(0.5)"
                    >
                      <cp-card
                        v-for="(tituloUnico, k) in titulo.sequencias"
                        :key="k"
                        :id="(k + 1).toString()"
                        :current="tituloUnico.emExibicao"
                        :certificate="tituloUnico.sequencia"
                        :price="titulo.valor"
                        :numeroSorte="tituloUnico.numero"
                        :pos="k"
                        :message="tituloUnico.mensagem"
                        :length="titulo.sequencias.length"
                        @click.native="alterarExibicao(titulo.sequencias)"
                      ></cp-card>
                    </div>

                    <div
                      v-else
                      :class="cardContainer"
                      class="animated"
                      style="height: 95px; width: 280px; transform: scale(0.5)"
                    >
                      <cp-card-single
                        v-for="(tituloUnico, k) in titulo.sequencias"
                        :key="k"
                        :id="(k + 1).toString()"
                        :current="tituloUnico.emExibicao"
                        :certificate="tituloUnico.sequencia"
                        :price="titulo.valor"
                        :numeroSorte="tituloUnico.numero"
                        :pos="k"
                        :length="titulo.sequencias.length"
                      ></cp-card-single>
                    </div>
                    <div
                      v-if="
                        jaAdicionado(titulo) &&
                          (!origemTitulos || origemTitulos == 1)
                      "
                      style="transform: scale(0.6)"
                      :class="
                        titulo.mensagem ? 'mt-10 ios-botao-1' : 'ios-botao-1'
                      "
                    >
                      <v-btn
                        class="botao botao-adicionado"
                        :loading="carregando"
                        @click="removeTitulo(titulo)"
                      >
                        <div class="svg-icon trevo mr-3"></div>
                        Adicionado
                        <div class="svg-icon seta-baixo ml-3"></div>
                      </v-btn>
                    </div>

                    <div
                      v-else
                      style="transform: scale(0.6)"
                      :class="titulo.mensagem && !tipoLive ? 'mt-10' : ''"
                    >
                      <v-btn
                        class="botao botao-quero-esse"
                        :loading="carregando"
                        @click="adicionaTitulo(titulo)"
                      >
                        <div class="svg-icon trevo mr-3"></div>
                        Quero esse
                        <div class="svg-icon seta-baixo ml-3"></div>
                      </v-btn>
                    </div>
                  </div>
                </div>
              </v-carousel-item>
            </v-carousel>
          </v-card>
        </div>
        <div
          class="d-flex mt-2 justify-space-around justify-center align-center mt-5"
        >
          <div class="text-left">
            {{ `Total de ${nomeProdutoPlural}: ${totalizador.qtd}` }}
            <br />
            Total: {{ totalizador.soma | formatCurrency }}
          </div>
          <div>
            <v-btn
              icon
              color="var(--corF2)"
              :disabled="this.totalizador.qtd == 0"
              @click="removerTitulosSelecionados"
            >
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </div>
          <div class="align-end justify-end ios-botao-2" style="width: 135px">
            <v-btn
              v-if="!this.tipoLive"
              class="botao botao-escolher-numeros"
              style="transform: scale(0.7); z-index: 2"
              @click="abrirDialogEscolherNumeros()"
              :loading="carregando"
            >
              Prefiro escolher
              <br />meus números
            </v-btn>
          </div>
        </div>
        <div class="mt-5 pb-5 text-center ios-botao-1">
          <v-btn
            class="botao botao-comprar-e-concorrer"
            :loading="carregando"
            @click="comprar()"
            >Comprar e concorrer</v-btn
          >
        </div>
      </div>
      <div v-else>
        Carregando...
      </div>
    </v-container>

    <v-dialog
      v-if="!carregando && !this.tipoLive && intersected"
      v-model="dialogEscolherNumeros"
      @input="fecharDialogEscolherNumeros()"
      scrollable
      :width="$vuetify.breakpoint.mobile ? '308' : '545'"
      persistent
    >
      <v-card>
        <div class="cp-quadro-escolha-titulos-dialog-escolha">
          <div
            class="d-flex justify-space-between"
            style="margin-bottom: -30px"
          >
            <div></div>
            <div>
              <v-btn icon @click="fecharDialogEscolherNumeros">
                <v-icon color="var(--corF1)">mdi-close-circle-outline</v-icon>
              </v-btn>
            </div>
          </div>
          <v-card-title class="pb-4 pt-1 pl-3">
            <v-layout row justify-space-between justify-top align-top>
              <div class="font-weight-black tituloNumerosDaSorte">
                Escolher Números
              </div>
            </v-layout>
          </v-card-title>
          <v-card-text
            style="overflow-y: inherit; padding-bottom: 10px"
            class="font-weight-black"
            >Selecione os seus números da sorte:</v-card-text
          >
          <v-card-text
            class="pt-1 pb-0"
            :style="'overflow-y: auto; height: 240px;'"
          >
            <v-flex text-xs-center xs12 class="pa-0">
              <v-btn
                fab
                small
                text
                v-for="(i, j) in numerosDaSorte"
                :key="j"
                class="ma-1 numerosDaSorte"
                :class="i.selected ? 'selected' : ''"
                @click="i.selected = !i.selected"
                >{{ i.text }}</v-btn
              >
            </v-flex>
          </v-card-text>

          <div v-if="chancesDeVencer.length > 1">
            <v-card-text
              style="overflow-y: inherit"
              class="font-weight-black pb-0"
              >Selecione as chances de vencer:</v-card-text
            >
            <v-card-text class="pa-0 pl-3" style="overflow-y: inherit">
              <v-radio-group class="pa-0" v-model="chanceSelecionada" row>
                <v-radio
                  v-for="(i, j) in chancesDeVencer"
                  :key="j"
                  :label="i.label"
                  :value="i.value"
                  :loading="carregandoFiltros"
                ></v-radio>
              </v-radio-group>
            </v-card-text>
          </div>

          <v-card-actions>
            <v-container grid-list-md class="pa-0">
              <v-layout row wrap justify-center align-center>
                <v-flex
                  :class="
                    $vuetify.breakpoint.mobile
                      ? 'xs12 ios-botao-1'
                      : 'xs6 ios-botao-1'
                  "
                >
                  <v-btn
                    outlined
                    block
                    large
                    class="botao botao-limpar"
                    @click="limparFiltros"
                    :loading="carregandoFiltros"
                  >
                    <span class="font-weight-bold subheading text-none"
                      >Limpar</span
                    >
                  </v-btn>
                </v-flex>
                <v-flex
                  :class="
                    $vuetify.breakpoint.mobile
                      ? 'xs12 ios-botao-1'
                      : 'xs6 ios-botao-1'
                  "
                >
                  <v-btn
                    block
                    class="botao botao-pronto"
                    large
                    dark
                    @click="filtrar"
                    :loading="carregandoFiltros"
                  >
                    <span class="subheading font-weight-bold text-none"
                      >Pronto, já escolhi</span
                    >
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-actions>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "quadro-escolha-titulos",
  components: {
    CpCard: () => import("@/components/diversos/CpCard"),
    CpCardSingle: () => import("@/components/diversos/CpCardSingle")
  },
  data: () => ({
    cardContainer: ["card-container", "animated"],
    titulosFormatados: null,
    chancesDeVencer: [],
    chanceSelecionada: null,
    carregando: false,
    carregandoFiltros: false,
    dialogEscolherNumeros: false,
    numerosDaSorte: [],
    filtrosPendentes: true,
    filtros: {
      antigo: null,
      numerosDaSorte: null,
      chance: null
    },
    grupoTitulosAtual: null,
    intersected: false,
    idEtapaCarregada: null
  }),
  computed: {
    idEtapaAtual() {
      return this.$store.getters["praca/idEtapaAtual"];
    },
    config() {
      return this.$store.getters["praca/config"];
    },
    etapaAtual() {
      return this.$store.getters["praca/etapaAtual"];
    },
    totalizador() {
      if (this.origemTitulos == 1) {
        return this.$store.getters["compra/totalizador"];
      } else {
        return { qtd: 0, soma: 0 };
      }
    },
    totalizadorSemValidacao() {
      return this.$store.getters["compra/totalizador"];
    },
    titulosSelecionados() {
      return this.$store.getters["compra/titulosSelecionados"];
    },
    origemTitulos() {
      return this.$store.getters["compra/origemTitulos"];
    },
    tipoLive() {
      const titulos = this.$store.getters["praca/titulos"];
      const etapaAtual = this.etapaAtual;

      const condTitulos6 =
        titulos &&
        titulos.list &&
        titulos.list[0] &&
        titulos.list[0].sequencia1.length == 6;

      const condEtapa =
        !etapaAtual.simples && !etapaAtual.duplo && !etapaAtual.triplo;

      return condTitulos6 || condEtapa;
    },
    nomeProdutoSingular() {
      return Totalthis.$store.getters[
        "praca/nomeProdutoSingular"
      ].toLowerCase();
    },
    nomeProdutoPlural() {
      return this.$store.getters["praca/nomeProdutoPlural"].toLowerCase();
    }
  },
  watch: {
    idEtapaAtual(valor) {
      if (valor !== this.idEtapaCarregada && this.intersected) {
        this.inicial();
      }
    },
    async grupoTitulosAtual() {
      if (
        this.grupoTitulosAtual + 1 >= this.titulosFormatados.length - 1 &&
        this.titulosFormatados.length < 15
      ) {
        const carregou = await this.carregaFiltros(true);
        if (!carregou) {
          this.$swal(
            "",
            `Não foi possível carregar mais ${this.nomeProdutoPlural}.`,
            "error"
          );
        }
      }
    }
  },
  methods: {
    onIntersect(entries, observer) {
      if (!this.intersected && entries[0].isIntersecting) {
        this.intersected = true;
        this.inicial();
      }
    },
    inicial() {
      this.carregando = true;
      this.chancesDeVencer = [];
      if (this.etapaAtual.simples) {
        this.chancesDeVencer.push({
          label: "Simples",
          value: 1
        });
      }
      if (this.etapaAtual.duplo) {
        this.chancesDeVencer.push({
          label: "Dupla",
          value: 2
        });
      }
      if (this.etapaAtual.triplo) {
        this.chancesDeVencer.push({
          label: "Tripla",
          value: 3
        });
      }

      this.chanceSelecionada = !this.tipoLive
        ? this.chancesDeVencer.slice(-1)[0].value
        : null;

      this.filtros.chance = this.chanceSelecionada;

      if (!this.tipoLive) {
        for (let i = 1; i <= this.config.qtdBolasSorteio; i++) {
          this.numerosDaSorte.push({
            number: i,
            text: i < 10 ? "0" + i : i,
            selected: false
          });
        }
      }

      this.idEtapaCarregada = this.etapaAtual.id;
      setTimeout(() => {
        this.$store.commit("compra/removeTitulosOrigem3");
        this.carregaFiltros();
        this.titulosFormatados = this.formataTitulos();
        this.carregando = false;
      });
    },
    async carregaFiltros(adiciona = false) {
      try {
        const idEtapa = this.etapaAtual.id;
        const tipo = this.filtros.chance;
        const numeros = this.filtros.numerosDaSorte;
        const res = await this.$networkApi.obterTitulos(idEtapa, tipo, numeros);
        if (res.data.result.list.length > 0) {
          this.$store.commit(
            adiciona ? "praca/adicionaTitulos" : "praca/salvaTitulos",
            res.data.result
          );
          this.titulosFormatados = this.formataTitulos();
          return true;
        } else {
          return false;
        }
      } catch (error) {}
    },
    fecharDialogEscolherNumeros() {
      this.dialogEscolherNumeros = false;
    },
    async abrirDialogEscolherNumeros() {
      const pode = await this.podeAlterar();
      if (pode) {
        this.$store.commit("compra/alterarOrigemTitulos", 1);
        this.dialogEscolherNumeros = true;
      }
    },
    limparFiltros() {
      this.numerosDaSorte = this.numerosDaSorte.map(l => ({
        ...l,
        selected: false
      }));
      this.chanceSelecionada = this.chancesDeVencer.slice(-1)[0].value;
      this.filtrar();
    },
    async filtrar() {
      this.carregandoFiltros = true;
      const numerosDaSorteSelecionados = this.numerosDaSorte
        .filter(l => l.selected)
        .map(l => l.number);
      this.filtros = {
        antigo: this.filtros,
        numerosDaSorte:
          numerosDaSorteSelecionados.length > 0
            ? numerosDaSorteSelecionados.join(",")
            : null,
        chance: this.chanceSelecionada
      };
      const gerou = await this.carregaFiltros();
      if (gerou) {
        this.fecharDialogEscolherNumeros();
        this.grupoTitulosAtual = 0;
      } else {
        let menssagem = `
            Não conseguimos gerar ${this.nomeProdutoPlural} com estes <br>
            ${this.numerosDaSorte.filter(l => l.selected).length}
            números selecionados. <br>
            Reduza a quantidade ou troque alguns e tente novamente.`;
        this.$swal("", menssagem, "error");
      }

      this.carregandoFiltros = false;
    },
    formataTitulos() {
      if (this.$store.getters["praca/titulos"]) {
        let titulos = [...this.$store.getters["praca/titulos"].list];
        titulos = titulos.map(t => {
          let sequencias = [];
          if (t.numero1) {
            sequencias.push({
              numero: t.numero1,
              sequencia: t.sequencia1,
              emExibicao: true
            });
          }
          if (t.numero2) {
            sequencias.push({
              numero: t.numero2,
              sequencia: t.sequencia2,
              emExibicao: false
            });
          }
          if (t.numero3) {
            sequencias.push({
              numero: t.numero3,
              sequencia: t.sequencia3,
              emExibicao: false
            });
          }
          return {
            etapa_id: t.etapa_id,
            id: t.id,
            valor: t.valor,
            sequencias,
            tituloAPI: t
          };
        });
        let formatado = [];
        while (titulos.length > 0) {
          formatado.push(titulos.splice(0, 2));
        }
        return formatado;
      }
      return null;
    },
    alterarExibicao(sequencias) {
      const posicaoAtual = sequencias.indexOf(
        sequencias.find(s => s.emExibicao)
      );
      const proximaPosicao =
        posicaoAtual == sequencias.length - 1 ? 0 : posicaoAtual + 1;

      sequencias.forEach(function(s, i) {
        s.emExibicao = proximaPosicao == i;
      });
    },
    async adicionaTitulo(titulo) {
      const pode = await this.podeAlterar();
      if (pode) {
        const tipo = this.filtros.chance;
        const total = this.totalizador;
        const limite = this.etapaAtual.valor_limite_compra;
        if (total.soma + titulo.valor <= limite) {
          this.$store.commit("compra/adicionaTitulo", {
            titulo: titulo.tituloAPI,
            tipo,
            origem: 1
          });
        } else {
          this.$swal(
            "",
            `O ${nomeProdutoSingular} não foi adicionado, pois o total máximo por compra é de <b>${this.$options.filters.formatCurrency(
              limite
            )}</b>!`,
            "warning"
          );
        }
      }
    },
    async removerTitulosSelecionados() {
      const pode = await this.podeAlterar(false);
      if (pode) {
        if (this.totalizador.qtd > 0) {
          this.$swal({
            icon: "warning",
            html: `Deseja mesmo remover <b>todos os ${this.nomeProdutoPlural}</b> selecionados?`,
            showCancelButton: true,
            confirmButtonText: "Sim",
            cancelButtonText: "Não",
            allowEnterKey: false
          }).then(async result => {
            if (result.isConfirmed) {
              this.$store.commit("compra/limpaTitulosSelecionados", true);
            }
          });
        }
      }
    },
    async removeTitulo(titulo) {
      const pode = await this.podeAlterar(false);
      if (pode) {
        this.$store.commit("compra/removeTitulo", titulo.id);
      }
    },
    jaAdicionado(titulo) {
      return this.titulosSelecionados.find(t => t.id == titulo.id) != undefined;
    },
    comprar() {
      if (this.totalizador.qtd > 0) {
        this.$router.push(`/comprar`);
      } else {
        this.$swal(
          "",
          `Você deve escolher os ${this.nomeProdutoPlural} antes de continuar!`,
          "warning"
        );
      }
    },
    async podeAlterar(exibeMensagem = true) {
      if (
        !this.origemTitulos ||
        this.origemTitulos == 1 ||
        this.totalizadorSemValidacao.qtd == 0
      ) {
        return true;
      } else if (exibeMensagem) {
        return await this.$swal({
          icon: "warning",
          html: `Você já selecionou ${this.nomeProdutoPlural} em outra opção, para continuar os ${this.nomeProdutoPlural} selecionados serão removidos. <br> Deseja continuar?`,
          showCancelButton: true,
          confirmButtonText: "Sim",
          cancelButtonText: "Não",
          allowEnterKey: false
        }).then(async result => {
          if (result.isConfirmed) {
            this.$store.commit("compra/limpaTitulosSelecionados", true);
            return true;
          } else {
            return false;
          }
        });
      } else {
        return false;
      }
    }
  }
};
</script>

<style lang="less">
@import url("~/assets/estilos/animated.css");
.cp-quadro-escolha-titulos {
  .theme--light.v-card {
    color: var(--corF1) !important;
  }
  .botao-quero-esse,
  .botao-comprar-e-concorrer {
    background-color: var(--cor4) !important;
  }
  .botao-escolher-numeros {
    background-color: var(--corF3) !important;
    color: var(--corF1) !important;
    margin: 0 -25px;
  }
  .botao-adicionado {
    background-color: var(--corF2) !important;
    .svg-icon.trevo,
    .svg-icon.seta-baixo {
      background-color: var(--corF3);
    }
  }
  .carrousel-titulos {
    margin: 0 -15px !important;
  }
  .theme--dark.v-sheet {
    background: none !important;
  }
  .svg-icon.trevo,
  .svg-icon.seta-baixo {
    height: 17px;
    width: 17px;
    background-color: var(--cor3);
  }
  .tipoLive {
    .v-window__prev,
    .v-window__next {
      top: calc(50% - -12px);
    }
  }
}
.cp-quadro-escolha-titulos-dialog-escolha {
  .numerosDaSorte {
    font-size: 20px;
    border: 2px solid #bbbbbb !important;
    background-color: rgb(250, 250, 250);
    height: 47px;
    width: 47px;
  }
  .selected {
    border: 2px solid #dd2c00 !important;
    background-color: #dd2c00;
    color: #ffffff;
  }
  .tituloNumerosDaSorte {
    font-weight: 500;
    justify-content: center;
    font-size: 19px;
    padding: 20px 0 0 15px;
  }
  .v-label {
    font-size: 14px !important;
  }
  .v-input--radio-group.v-input--radio-group--row .v-radio {
    margin-right: 10px !important;
  }
  .botao-limpar {
    background-color: #fff !important;
    color: var(--corF1) !important;
    width: -webkit-fill-available;
  }
  .botao-pronto {
    background-color: var(--cor4) !important;
  }
}
</style>
