<template>
  <div class="cp-quadro-ganhadores" v-if="ganhadores && ganhadores.length > 0">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 14px !important; max-width: 700px !important"
      fluid
    >
      <div class="texto-titulo cor-titulo">
        <span class="font-weight-black">Resultados</span>
      </div>
      <div class="texto-descricao mt-5 cor-texto">
        Escolha a edição para conferir os prêmios e os resultados:
      </div>
      <div class="mt-4">
        <v-select
          :items="listEtapas"
          v-model="idEtapaSelecionada"
          outlined
        ></v-select>
      </div>
      <div
        v-if="
          etapaSelecionada && etapaSelecionada.premios && premios.length > 0
        "
      >
        <v-carousel
          hide-delimiters
          :show-arrows="premios.length > 1"
          cycle
          height="300"
        >
          <v-carousel-item v-for="(premioArray, i) in premios" :key="i">
            <div class="d-flex justify-space-around mt-5" style="height:300px;">
              <div
                v-for="(premio, i) in premioArray"
                :key="i"
                style="color: var(--corF1); !important; justify-content: space-evenly !important"
              >
                <div>
                  <v-avatar color="white" size="80">
                    <div
                      class="background-sem-foto d-flex align-center text-center justify-center"
                    >
                      <img
                        v-if="premio.foto && premio.foto !== ''"
                        :src="premio.foto"
                      />
                      <div v-else class="svg-icon trofeu"></div>
                    </div>
                  </v-avatar>
                </div>
                <div
                  class="font-weight-black descricao mt-3"
                  v-if="premio.descricao != ''"
                >
                  {{ premio.descricao }}
                </div>
                <div class="dividido mt-0" v-if="premio.dividido">
                  (dividido)
                </div>
                <div
                  class="font-weight-black mt-1"
                  v-if="premio.numero_sorte != ''"
                >
                  {{ premio.numero_sorte }}
                </div>
                <div class="mt-1" v-if="premio.nome != ''">
                  {{ premio.nome }}
                </div>
                <div class="mt-1" v-if="premio.cidade_estado != ''">
                  {{ premio.cidade_estado }}
                </div>
                <div class="valor mt-1" v-if="premio.valor_liquido != ''">
                  Prêmio no valor total de {{ premio.valor_liquido }}. <br />
                  Líquido de Imposto de Renda.
                </div>
              </div>
            </div>
          </v-carousel-item>
        </v-carousel>
      </div>
      <div
        v-if="
          etapaSelecionada &&
            etapaSelecionada.videos &&
            etapaSelecionada.videos.length > 0
        "
        class="justify-center align-content-center text-center videos"
        :class="videos.length === 1 ? 'd-flex' : ''"
      >
        <div
          style="width: 300px;"
          class="titulo-video cor-titulo text-left"
          v-for="(video, i) in videos"
          :key="i"
        >
          <span class="font-weight-black">{{ video.titulo }}</span>
          <v-card :elevation="5" pa-0 style="font-size: 0;">
            <iframe
              width="300"
              height="168,75"
              :src="link(video.codigo)"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </v-card>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
import _ from "lodash";
export default {
  name: "cp-quadro-ganhadores",
  data() {
    return {
      idEtapaSelecionada: 0
    };
  },
  computed: {
    ganhadores() {
      return this.$store.getters["praca/config"].ganhadores.filter(
        g =>
          (g.videos && g.videos.length > 0) ||
          (g.premios &&
            g.premios.length > 0 &&
            g.premios.some(p => p.ganhadores && p.ganhadores.length > 0))
      );
    },
    listEtapas() {
      return this.ganhadores.map(g => ({
        text:
          g.etapa.nome_exibido && g.etapa.nome_exibido != ""
            ? g.etapa.nome_exibido
            : g.etapa.descricao,
        value: g.etapa.id
      }));
    },
    etapaSelecionada() {
      return this.ganhadores.find(e => e.etapa.id === this.idEtapaSelecionada);
    },
    premios() {
      const etapas = this.etapaSelecionada.premios.flatMap(p =>
        p.ganhadores
          ? p.ganhadores.map(g => ({
              foto: g.foto,
              descricao: p.descricao,
              numero_sorte: g.numero_sorte,
              nome: g.nome,
              cidade_estado: g.cidade_estado,
              valor_liquido: p.valor_liquido,
              dividido: p.ganhadores.length > 1
            }))
          : []
      );
      return _.chunk(etapas, this.$vuetify.breakpoint.width < 648 ? 1 : 2);
    },
    videos() {
      return this.etapaSelecionada.videos ? this.etapaSelecionada.videos : [];
    }
  },
  mounted() {
    this.idEtapaSelecionada =
      (this.ganhadores.length > 0 && this.ganhadores[0].etapa.id) || 0;
  },
  methods: {
    link(codigo) {
      return `https://www.youtube-nocookie.com/embed/${codigo}`;
    }
  }
};
</script>

<style lang="less">
.cp-quadro-ganhadores {
  .descricao {
    color: var(--cor1);
  }
  .dividido {
    font-size: 13px;
  }
  .valor {
    font-size: 12px;
  }
  .background-sem-foto {
    background: var(--gradiente1_1);
    width: 100%;
    height: 100%;
  }
  .titulo-video {
    font-size: 21px;
  }
  .svg-icon.trofeu {
    height: 32px;
    width: 33px;
    background-color: white;
  }
  .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 20px;
  }
}
</style>
