<template>
  <div class="cp-quadro-numeros-entidade">
    <div class="text-center mt-10">
      <img
        v-if="intersected"
        :src="config.imagens.logoEntidadeQuadro"
        class="logo-entidade-quadro"
      />
    </div>
    <v-container
      v-intersect="onIntersect"
      :class="
        intersected ? 'align-start justify-center text-center background' : ''
      "
      style="padding: 14px !important"
      fluid
    >
      <div class="efeito-transparencia" v-if="intersected">
        <div class="curva-topo"></div>
        <div class="quadros mr-7 ml-7 pb-9">
          <v-card
            v-for="(numeroEntidade, i) in config.dados.numerosEntidade"
            :key="i"
            class="mx-auto white--text pb-4 pt-4 mt-5"
            max-width="600"
            outlined
          >
            <div class="texto-titulo" style="margin-bottom: -10px">
              <span class="font-weight-black">{{
                numeroEntidade.quantidade
              }}</span>
            </div>
            <div class="texto-descricao">{{ numeroEntidade.descricao }}</div>
          </v-card>
        </div>
        <div class="curva-rodape"></div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "quadro-numeros-entidade",
  data() {
    return {
      intersected: false
    };
  },
  computed: {
    config() {
      return this.$store.getters["praca/config"];
    }
  },
  methods: {
    onIntersect(entries, observer) {
      if (!this.intersected && entries[0].isIntersecting) {
        this.intersected = true;
      }
    }
  }
};
</script>

<style lang="less">
.cp-quadro-numeros-entidade {
  .logo-entidade-quadro {
    max-width: 130px;
    max-height: 90px;
    margin-bottom: -35px;
  }
  .background {
    background-image: var(--url1);
    background-position-x: center;
    background-size: cover;
    padding: 20px 0;
  }
  .efeito-transparencia {
    background: var(--gradiente2);
    margin: 0 -15px;
    padding: 0 15px;
  }
  .curva-topo {
    background-image: url("/imagens/curvas/curva_topo_quadro_numeros_entidade.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    height: 100px;
    margin: -15px;
  }
  .curva-rodape {
    background-image: url("/imagens/curvas/curva_rodape_quadro_numeros_entidade.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    height: 50px;
    padding-left: 50px;
    margin: -15px;
  }
  .quadros {
    .v-sheet.v-card {
      background-color: unset !important;
      border: 2px solid #fff;
    }
  }
}
</style>
