<template>
  <div class="cp-quadro-principal">
    <v-container
      class="align-start justify-center background"
      style="padding: 14px !important"
      fluid
    >
      <div class="efeito-raios">
        <div class="efeito-luzes">
          <div class="espaco-topo"></div>
          <div class="mt-10 text-center texto-descricao white--text">
            Ajude quem mais precisa e
            <span class="font-weight-black">concorra a prêmios</span>
            incríveis!
          </div>
          <div class="mt-5 text-center ios-botao-1">
            <v-btn class="botao botao-como-participar" @click="comoParticipar()"
              >Como participar</v-btn
            >
          </div>
          <div class="mt-9 d-flex text-center justify-center align-center ">
            <img :src="imagemCliente" class="img-cliente" />
          </div>

          <div
            v-if="
              config.textos.tituloPremio &&
                config.textos.tituloPremio.length > 0
            "
            class="mt-5 text-center texto-descricao white--text"
            v-html="config.textos.tituloPremio"
          ></div>
          <div v-else class="mt-5 text-center texto-descricao white--text">
            Cada {{nomeProdutoSingular}} concorre
            <br />a <span class="font-weight-black">todos os prêmios</span>!
          </div>
          <div
            v-if="
              config.textos.textoPremio && config.textos.textoPremio.length > 0
            "
            class="mt-3 white--text text-center"
            v-html="config.textos.textoPremio"
          ></div>
          <div v-else class="mt-3 white--text text-center">
            Quanto mais ajudar, mais chances de ganhar!
          </div>
          <div
            v-if="linkFacebook || linkYoutube || linkInstagram"
            class="mt-4 justify-center align-center text-center"
            style="height: 36px"
          >
            <v-btn
              v-if="linkFacebook"
              @click="abreExterno(linkFacebook)"
              color="white"
              text
              rounded
            >
              <img
                src="/imagens/redes-sociais/facebook.png"
                :class="
                  $vuetify.breakpoint.mobile
                    ? 'icone-social-mobile'
                    : 'icone-social-desktop'
                "
              />
            </v-btn>
            <v-btn
              v-if="linkYoutube"
              @click="abreExterno(linkYoutube)"
              color="white"
              text
              rounded
            >
              <img
                src="/imagens/redes-sociais/youtube.png"
                :class="
                  $vuetify.breakpoint.mobile
                    ? 'icone-social-mobile'
                    : 'icone-social-desktop'
                "
              />
            </v-btn>
            <v-btn
              v-if="linkInstagram"
              @click="abreExterno(linkInstagram)"
              color="white"
              text
              rounded
            >
              <img
                src="/imagens/redes-sociais/instagram.png"
                :class="
                  $vuetify.breakpoint.mobile
                    ? 'icone-social-mobile'
                    : 'icone-social-desktop'
                "
              />
            </v-btn>
          </div>
          <div v-if="etapaAtual">
            <div class="mt-8 white--text text-center">
              <div>
                <span class="font-weight-black">
                  {{ etapaAtual.descricao }}
                </span>
              </div>
              <div class="text-h6 font-weight-regular">
                Sorteio {{ dataHoraSorteio }}
              </div>
            </div>
            <div
              class="mt-5 pb-0 text-center ios-botao-1"
              v-if="etapas && etapas.etapas ? etapas.etapas.length > 1 : false"
            >
              <v-btn
                class="botao botao-proximas-edicoes"
                @click="proximasEdicoes"
              >
                <div class="svg-icon atualiza-trevo mr-2"></div>
                Próximas Edições</v-btn
              >
            </div>
            <div class="mt-5 d-flex justify-center">
              <div>
                <v-divider class="divisor"></v-divider>
              </div>
            </div>
            <div class="carrousel-premios">
              <v-card
                elevation="0"
                max-width="600"
                class="mx-auto"
                style="background: none !important"
              >
                <v-carousel
                  cycle
                  height="300"
                  hide-delimiter-background
                  show-arrows-on-hover
                >
                  <v-carousel-item
                    v-for="(premios, i) in premiosFormatados"
                    :key="i"
                  >
                    <div
                      class="d-flex justify-space-evenly align-center fill-height"
                    >
                      <div
                        class="premio text-center"
                        v-for="(premio, j) in premios"
                        :key="j"
                        @click="exibePremio(premio)"
                      >
                        <div
                          class="div-img-premio d-flex justify-center align-center"
                        >
                          <img
                            :src="
                              premio.url ||
                                '/imagens/premios/premio-default.png'
                            "
                            class="img-premio"
                          />
                        </div>
                        <div class="font-weight-black mb-1">
                          {{
                            premio.tipo == "premio"
                              ? `${premio.numero}º Prêmio`
                              : premio.descricao
                          }}
                        </div>
                        <div class="text-h6" style="line-height: unset">
                          <div class="marquee">
                            <span>
                              {{
                                premio.tipo == "premio"
                                  ? premio.descricao
                                  : premio.valor | formatCurrency
                              }}
                            </span>
                          </div>
                        </div>
                        <div v-if="premio.tipo == 'premio'">
                          <div>Valor líquido de</div>
                          <div>{{ premio.valor | formatCurrency }}</div>
                        </div>
                        <div v-else>
                          <div>{{ premio.quantidade }} Chances</div>
                          <div>de Ganhar</div>
                        </div>
                      </div>
                    </div>
                  </v-carousel-item>
                </v-carousel>
                <div class="white--text text-center" style="font-size: 0.9rem;">
                  *imagens meramente ilustrativas
                </div>
              </v-card>
            </div>
          </div>
          <div v-else class="sem-carrousel-premios white--text text-center">
            Não temos etapa disponível no momento!
            <br />Volte em breve para ver os prêmios e concorrer!
          </div>
        </div>
      </div>
      <div class="curva-rodape"></div>
    </v-container>

    <v-dialog v-if="dialog && premioExibido" v-model="dialog" :width="300">
      <v-card>
        <div class="d-flex justify-space-between" style="margin-bottom: -30px">
          <div></div>
          <div>
            <v-btn icon @click="dialog = false">
              <v-icon color="var(--corF1)">mdi-close-circle-outline</v-icon>
            </v-btn>
          </div>
        </div>
        <v-card-title
          class="pb-0"
          :class="
            $vuetify.breakpoint.mobile ? 'subheading font-weight-bold' : 'title'
          "
        >
        </v-card-title>
        <v-card-text>
          <div class="cp-quadro-principal-exibe-premio">
            <div class="d-flex justify-space-evenly align-center fill-height">
              <div class="premio text-center">
                <div class="d-flex justify-center align-center mb-4">
                  <img :src="premioExibido.url" class="img-premio" />
                </div>
                <div class="text-h6 font-weight-black mb-4">
                  {{
                    premioExibido.tipo == "premio"
                      ? `${premioExibido.numero}º Prêmio`
                      : premioExibido.descricao
                  }}
                </div>
                <div class="text-h6 mb-4" style="line-height: unset">
                  <div class="marquee">
                    <span>
                      {{
                        premioExibido.tipo == "premio"
                          ? premioExibido.descricao
                          : premioExibido.valor | formatCurrency
                      }}
                    </span>
                  </div>
                </div>
                <div class="font-weight-black">
                  <div v-if="premioExibido.tipo == 'premio'">
                    Valor líquido de {{ premioExibido.valor | formatCurrency }}
                  </div>
                  <div v-else>
                    {{ premioExibido.quantidade }} Chances de Ganhar
                  </div>
                </div>
              </div>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "quadro-principal",
  data() {
    return {
      dialog: false,
      premioExibido: null
    };
  },
  computed: {
    etapas() {
      return this.$store.getters["praca/etapas"];
    },
    aparencia() {
      return this.$store.getters["praca/aparencia"];
    },
    linkInstagram() {
      return this.aparencia &&
        this.aparencia.instagram &&
        this.aparencia.instagram != ""
        ? this.aparencia.instagram
        : null;
    },
    linkFacebook() {
      return this.aparencia &&
        this.aparencia.facebook &&
        this.aparencia.facebook != ""
        ? this.aparencia.facebook
        : null;
    },
    linkYoutube() {
      return this.aparencia &&
        this.aparencia.youtube &&
        this.aparencia.youtube != ""
        ? this.aparencia.youtube
        : null;
    },
    config() {
      return this.$store.getters["praca/config"];
    },
    imagemCliente() {
      return this.etapaAtual.url_imagem && this.etapaAtual.url_imagem.length > 0
        ? this.etapaAtual.url_imagem
        : this.config.imagens.premios;
    },
    etapaAtual() {
      return this.$store.getters["praca/etapaAtual"];
    },
    premiosFormatados() {
      let premios = [...this.etapaAtual.premios];
      let formatado = [];
      while (premios.length > 0) {
        formatado.push(premios.splice(0, 2));
      }
      return formatado;
    },
    dataHoraSorteio() {
      return this.etapaAtual.sorteio.replace(" ", " às ");
    },
        nomeProdutoSingular() {
      return this.$store.getters["praca/nomeProdutoSingular"].toLowerCase();
    },
    nomeProdutoPlural() {
      return this.$store.getters["praca/nomeProdutoPlural"].toLowerCase();
    },
  },
  methods: {
    proximasEdicoes() {
      this.$store.commit("layout/alteraDialogMultiEtapasAberto", true);
    },
    abreExterno(link) {
      window.open(link, "_blank");
    },
    exibePremio(premio) {
      this.premioExibido = premio;
      this.dialog = true;
    },
    comoParticipar() {
      this.$store.commit("layout/alteraDialogComoFuncionaAberto", true);
    }
  }
};
</script>

<style lang="less">
.cp-quadro-principal {
  margin-top: -135px;
  .icone-social-mobile {
    max-height: 15px;
  }
  .icone-social-desktop {
    max-height: 20px;
  }
  .img-cliente {
    width: 100%;
    max-width: 400px;
    max-height: 230px;
  }
  .background {
    background: var(--gradiente1_1);
  }
  .efeito-raios {
    background-image: url("/imagens/efeitos/efeito_raios.png");
    background-position-x: center;
    background-position-y: -60px;
    margin: 0 -15px;
    padding: 0 15px;
  }
  .efeito-luzes {
    background-image: url("/imagens/efeitos/efeito_luzes.png");
    background-position-x: center;
    background-position-y: 165px;
    margin: 0 -15px;
    padding: 0 15px;
  }
  .carrousel-premios {
    margin: -30px -15px !important;
  }
  .sem-carrousel-premios {
    margin-top: 60px;
  }
  .premio {
    padding: 0 5px;
    line-height: 22px;
    width: 165px;
    cursor: pointer;
  }
  .img-premio {
    max-width: 110px;
    max-height: 110px;
  }
  .divisor {
    border-color: #ffffff !important;
    width: 80px !important;
  }
  .div-img-premio {
    height: 110px;
  }
  .botao-como-participar {
    background-color: var(--cor1) !important;
  }
  .curva-rodape {
    background-image: url("/imagens/curvas/curva_rodape_quadro_principal.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    height: 180px;
    padding-left: 25px;
    margin: -15px;
    margin-top: 80px;
  }
  .botao-proximas-edicoes {
    background-color: #ffffff !important;
    color: var(--cor3) !important;
  }
  .svg-icon.atualiza-trevo {
    height: 28px;
    width: 27px;
    background-color: var(--cor3);
  }
}
.cp-quadro-principal-exibe-premio {
  .premio {
    padding: 0 5px;
    line-height: 22px;
    width: 270px;
    cursor: pointer;
  }

  .img-premio {
    max-width: 250px;
    max-height: 250px;
  }
}
</style>
