<template>
  <div class="cp-quadro-quero-concorrer">
    <v-container v-intersect="onIntersect">
      <div class="justify-center text-center align-center">
        <v-card
          class="mx-auto"
          max-width="600"
          elevation="5"
          style="background-color: #f9f9f9"
        >
          <div class="d-flex justify-center mb-4">
            <img
              v-if="intersected"
              src="/imagens/diversas/topo_box_titulos.png"
              class="img-topo"
            />
          </div>
          <div class="d-flex justify-center">
            <div class="d-flex justify-center align-center">
              <v-btn
                x-small
                class="mx-2 botao-acao"
                style="padding-bottom: 3px"
                elevation="0"
                @click="removeTitulo"
                :loading="carregandoTitulos"
                fab
                >-</v-btn
              >
            </div>
            <div class="d-flex qtd mx-5">{{ totalizador.qtd }}</div>
            <div class="d-flex justify-center align-center">
              <v-btn
                x-small
                class="mx-2 botao-acao"
                elevation="0"
                @click="adicionaTitulo"
                :loading="carregandoTitulos"
                fab
                >+</v-btn
              >
            </div>
          </div>
          <div>
            {{ totalizador.qtd > 1 ? nomeProdutoPlural : nomeProdutoSingular }}!
          </div>
          <div
            class="d-flex mt-2 justify-space-evenly"
            style="justify-content: space-evenly !important"
          >
            <v-btn
              small
              text
              elevation="0"
              class="botao-qtd ma-1"
              :class="qtd == totalizador.qtd ? 'selected' : ''"
              v-for="(qtd, i) in quantidadesLimitada"
              :key="i"
              :loading="carregandoTitulos"
              @click="quantidadeSelecionada(qtd)"
              >{{ qtd }}</v-btn
            >
          </div>
          <div
            class="d-flex justify-space-evenly links mt-2"
            v-if="chancesDeVencer.length > 1"
          >
            <v-btn
              :style="
                chancesDeVencer.length == 3 ? 'transform: scale(0.8);' : ''
              "
              :color="chanceSelecionada == i.value ? 'var(--cor1)' : ''"
              text
              rounded
              class="my-2 mx-0 pa-0"
              v-for="(i, j) in chancesDeVencer"
              :key="j"
              @click="mudaChance(i.value)"
              >{{ i.label }}</v-btn
            >
          </div>
          <div class="mt-3" style="font-size: 21px">
            Total {{ totalizador.soma | formatCurrency }}
          </div>
          <div class="mt-5 pb-8 text-center ios-botao-1">
            <v-btn class="botao botao-comprar-e-concorrer" @click="comprar"
              >Comprar e concorrer</v-btn
            >
          </div>
        </v-card>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "quadro-quero-concorrer",
  data() {
    return {
      naoPodeAdicionarMais: false,
      carregandoTitulos: false,
      chancesDeVencer: [],
      chanceSelecionada: null,
      quantidades: [1, 2, 4, 6, 10],
      intersected: false,
      idEtapaCarregada: null
    };
  },
  created() {
    this.inicial();
  },
  watch: {
    idEtapaAtual(valor) {
      if (valor !== this.idEtapaCarregada) {
        this.inicial();
      }
    }
  },
  computed: {
    quantidadesLimitada() {
      const limite = this.etapaAtual.valor_limite_compra;
      const valorTitulo =
        this.titulos && this.titulos.list && this.titulos.list[0]
          ? this.titulos.list[0].valor
          : 1;
      return this.quantidades.filter(
        qtd => qtd <= Math.floor(limite / valorTitulo)
      );
    },
    totalizador() {
      if (this.origemTitulos == 2) {
        return this.$store.getters["compra/totalizador"];
      } else {
        return { qtd: 0, soma: 0 };
      }
    },
    totalizadorSemValidacao() {
      return this.$store.getters["compra/totalizador"];
    },
    origemTitulos() {
      return this.$store.getters["compra/origemTitulos"];
    },
    etapaAtual() {
      return this.$store.getters["praca/etapaAtual"];
    },
    idEtapaAtual() {
      return this.$store.getters["praca/idEtapaAtual"];
    },
    tipoAtualTitulos() {
      return this.$store.getters["compra/tipoAtualTitulos"];
    },
    titulosSelecionados() {
      return this.$store.getters["compra/titulosSelecionados"];
    },
    titulos() {
      return this.$store.getters["praca/titulos"];
    },
    textos() {
      return this.$store.getters["praca/config"];
    },
    nomeProdutoSingular() {
      return this.$store.getters["praca/nomeProdutoSingular"].toLowerCase();
    },
    nomeProdutoPlural() {
      return this.$store.getters["praca/nomeProdutoPlural"].toLowerCase();
    },

    tipoLive() {
      const titulos = this.$store.getters["praca/titulos"];
      const etapaAtual = this.etapaAtual;

      const condTitulos6 =
        titulos &&
        titulos.list &&
        titulos.list[0] &&
        titulos.list[0].sequencia1.length == 6;

      const condEtapa =
        !etapaAtual.simples && !etapaAtual.duplo && !etapaAtual.triplo;

      return condTitulos6 || condEtapa;
    }
  },
  methods: {
    inicial() {
      this.chancesDeVencer = [];
      if (this.etapaAtual.simples) {
        this.chancesDeVencer.push({
          label: "Chance simples",
          value: 1
        });
      }
      if (this.etapaAtual.duplo) {
        this.chancesDeVencer.push({
          label: "Chance dupla",
          value: 2
        });
      }
      if (this.etapaAtual.triplo) {
        this.chancesDeVencer.push({
          label: "Chance tripla",
          value: 3
        });
      }
      this.chanceSelecionada = !this.tipoLive
        ? this.chancesDeVencer.slice(-1)[0].value
        : null;
      this.idEtapaCarregada = this.etapaAtual.id;
    },
    onIntersect(entries, observer) {
      if (!this.intersected && entries[0].isIntersecting) {
        this.intersected = true;
      }
    },
    async mudaChance(chance) {
      const pode = await this.podeAlterar();
      if (pode) {
        if (this.chanceSelecionada != chance) {
          const qtAtual = this.totalizador.qtd;
          this.chanceSelecionada = chance;
          await this.carregarTitulos();
          this.$store.commit("compra/limpaTitulosSelecionados", true);
          this.naoPodeAdicionarMais = false;
          for (let i = 0; i < qtAtual; i++) {
            await this.adicionaTitulo();
            if (this.naoPodeAdicionarMais) {
              break;
            }
          }
        }
      }
    },
    async quantidadeSelecionada(qtd) {
      const pode = await this.podeAlterar();
      if (pode) {
        const dif = qtd - this.totalizador.qtd;
        if (dif > 0) {
          for (let i = 0; i < dif; i++) {
            await this.adicionaTitulo();
          }
        }
        if (dif < 0) {
          for (let i = 0; i < dif * -1; i++) {
            await this.removeTitulo();
          }
        }
      }
    },
    async podeAlterar(exibeMensagem = true) {
      if (
        !this.origemTitulos ||
        this.origemTitulos == 2 ||
        this.totalizadorSemValidacao.qtd == 0
      ) {
        return true;
      } else if (exibeMensagem) {
        return await this.$swal({
          icon: "warning",
          html: `Você já selecionou ${nomeProdutoPlural} em outra opção, para continuar os ${nomeProdutoPlural} selecionados serão removidos. <br> Deseja continuar?`,
          showCancelButton: true,
          confirmButtonText: "Sim",
          cancelButtonText: "Não",
          allowEnterKey: false
        }).then(async result => {
          if (result.isConfirmed) {
            this.$store.commit("compra/limpaTitulosSelecionados", true);
            return true;
          } else {
            return false;
          }
        });
      } else {
        return false;
      }
    },
    async removeTitulo() {
      const pode = await this.podeAlterar();
      if (pode) {
        if (this.totalizador.qtd > 0) {
          this.$store.commit("compra/removerUltimoTitulo");
          this.naoPodeAdicionarMais = false;
        }
      }
    },
    async adicionaTitulo() {
      const pode = await this.podeAlterar();
      if (pode) {
        if (!this.titulos || !this.titulos.list) {
          await this.carregarTitulos();
        }
        const total = this.totalizador;
        const limite = this.etapaAtual.valor_limite_compra;
        const tipo = this.tipoAtualTitulos;
        let selecionados = this.titulosSelecionados;
        let titulos = this.titulos.list;
        let disponiveis = titulos.filter(
          t => selecionados.find(ts => ts.id == t.id) == undefined
        );

        if (disponiveis.length <= 1) {
          await this.carregarTitulos(true);
          selecionados = this.titulosSelecionados;
          titulos = this.titulos.list;
          disponiveis = titulos.filter(
            t => selecionados.find(ts => ts.id == t.id) == undefined
          );
        }
        if (disponiveis.length > 0) {
          if (total.soma + disponiveis[0].valor <= limite) {
            this.$store.commit("compra/adicionaTitulo", {
              titulo: disponiveis[0],
              tipo,
              origem: 2
            });
          } else {
            this.naoPodeAdicionarMais = true;
            this.$swal(
              "",
              `O ${nomeProdutoSingular} não foi adicionado, pois o total máximo por compra é de <b>${this.$options.filters.formatCurrency(
                limite
              )}</b>!`,
              "warning"
            );
          }
        }
      }
    },
    async carregarTitulos(adiciona = false) {
      this.carregandoTitulos = true;
      try {
        const idEtapa = this.etapaAtual.id;
        const tipo = this.chanceSelecionada;
        const res = await this.$networkApi.obterTitulos(idEtapa, tipo);
        if (res.data.result.list.length > 0) {
          this.$store.commit("praca/salvaTitulos", res.data.result);
          this.carregandoTitulos = false;
          return true;
        } else {
          this.$swal(
            "",
            `Não foi possível carregar os ${nomeProdutoPlural}.`,
            "error"
          );

          this.carregandoTitulos = false;
          return false;
        }
      } catch (error) {
        this.carregandoTitulos = false;
        return false;
      }
    },
    comprar() {
      if (this.totalizador.qtd > 0) {
        this.$router.push(`/comprar`);
      } else {
        this.$swal(
          "",
          `Você deve selecionar uma quantidade antes de continuar!`,
          "warning"
        );
      }
    }
  }
};
</script>

<style lang="less">
.cp-quadro-quero-concorrer {
  .img-topo {
    width: 285px;
    margin-top: -90px;
  }
  .botao-comprar-e-concorrer {
    background-color: var(--cor4) !important;
  }
  .qtd {
    font-size: 32px;
    font-weight: 700;
  }
  .botao-acao {
    background-color: var(--cor2) !important;
    color: var(--cor1) !important;
    font-weight: 900;
    font-size: 25px !important;
  }
  .botao-qtd {
    border: 1px solid #565656 !important;
    height: 45px !important;
    width: 45px !important;
    min-width: unset !important;
    max-width: unset !important;
    border-radius: 10px;
    font-size: 23px !important;
    font-weight: 900;
    color: #565656 !important;
  }
  .selected {
    border: 1px solid var(--cor1) !important;
    background-color: var(--cor1) !important;
    color: #ffffff !important;
  }

  .links {
    button {
      margin-top: 1px !important;
      margin-bottom: 1px !important;
      text-transform: none !important;
    }
  }
}
</style>
