<template>
  <div class="cp-quadro-sobre-a-entidade">
    <v-container
      class="align-start justify-center text-center"
      style="padding: 14px !important; max-width: 600px !important"
      fluid
    >
      <div
        class="texto-titulo cor-titulo"
        v-html="config.textos.tituloEntidade"
      ></div>
      <div
        class="texto-descricao mt-5 cor-texto"
        v-html="config.textos.textoEntidade"
      ></div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "cp-quadro-sobre-a-entidade",
  computed: {
    config() {
      return this.$store.getters["praca/config"];
    }
  }
};
</script>

<style lang="less">
.cp-quadro-sobre-a-entidade {
}
</style>
