<template>
  <div class="pg-meus-titulos">
    <v-container
      class="align-start justify-center background"
      style="padding: 14px; padding-bottom: 0; !important; max-width: 600px !important"
      fluid
    >
      <div class="justify-center">
        <div class="text-center texto-descricao text-capitalize">
          Meus {{ nomeProdutoPlural }}
        </div>
        <v-skeleton-loader
          class="mx-auto my-5"
          max-width="600"
          type="list-item-three-line"
          v-if="carregando"
        ></v-skeleton-loader>
        <div v-else>
          <div
            class="text-center mt-3"
            v-if="historicoDeTitulos && historicoDeTitulos.length > 0"
          >
            Aqui estão os {{ nomeProdutoPlural }} que você adquiriu!
          </div>
          <div class="text-center mt-5 mb-12" v-else-if="!carregando">
            Você ainda não adquiriu {{ nomeProdutoPlural }}.
          </div>
          <div v-if="historicoDeTitulos && historicoDeTitulos.length > 0">
            <v-card-text>
              <v-list two-line>
                <template v-for="(item, index) in historicoDeTitulos">
                  <v-list-item
                    :key="item.title"
                    ripple
                    @click="showCertificates(item)"
                  >
                    <v-list-item-content>
                      <v-list-item-title>{{
                        item.etapa_descricao
                      }}</v-list-item-title>
                      <v-list-item-subtitle>{{
                        item.data
                      }}</v-list-item-subtitle>
                      <v-list-item-subtitle
                        >{{ item.certificados.length }}
                        {{
                          item.certificados.length > 1
                            ? `${nomeProdutoPlural} adquiridos`
                            : `${nomeProdutoSingular} adquirido`
                        }}</v-list-item-subtitle
                      >
                    </v-list-item-content>

                    <v-list-item-action>
                      <v-list-item-action-text class="title font-weight-bold">{{
                        item.valor | formatCurrency
                      }}</v-list-item-action-text>
                    </v-list-item-action>
                  </v-list-item>
                  <v-divider
                    v-if="index + 1 < historicoDeTitulos.length"
                    :key="index"
                  ></v-divider>
                </template>
              </v-list>

              <v-dialog
                v-model="dialog"
                height="auto"
                width="fit-content"
                class="elevation-0 fill-height"
                v-if="currentItem"
                :fullscreen="$vuetify.breakpoint.xsOnly"
              >
                <v-card width="fit-content">
                  <div
                    class="d-flex justify-space-between"
                    style="margin-bottom: -30px"
                  >
                    <div></div>
                    <div>
                      <v-btn icon @click="dialog = false">
                        <v-icon color="var(--corF1)"
                          >mdi-close-circle-outline</v-icon
                        >
                      </v-btn>
                    </div>
                  </div>
                  <v-card-title
                    class="pb-0"
                    :class="
                      $vuetify.breakpoint.mobile
                        ? 'subheading font-weight-bold'
                        : 'title'
                    "
                  >
                  </v-card-title>
                  <v-card-text>
                    <div class="text-center font-weight-black">
                      <div>
                        {{ currentItem.data }}
                      </div>
                      <div class="mt-2">
                        {{ currentItem.etapa_descricao }}
                      </div>
                    </div>
                  </v-card-text>
                  <v-card-text>
                    <v-layout row wrap class="justify-center">
                      <v-flex
                        v-for="(currentCertificate,
                        i) in currentItem.certificados"
                        :key="i"
                        class="ma-2 layout row wrap justify-center"
                      >
                        <div v-if="currentCertificate.sequencia1.length > 6">
                          <cp-card
                            v-if="
                              currentCertificate != null &&
                                currentCertificate.numero1
                            "
                            id="1"
                            current
                            :certificate="currentCertificate.sequencia1"
                            :price="currentCertificate.valor"
                            :numeroSorte="currentCertificate.numero1"
                            :customClass="'cp-card-md'"
                            :class="
                              $vuetify.breakpoint.xsOnly ? 'mb-2' : 'mb-1'
                            "
                            :message="
                              currentCertificate.mensagem
                                ? currentCertificate.mensagem
                                : '<br>'
                            "
                            :length="getLength(currentCertificate)"
                          ></cp-card>
                          <cp-card
                            v-if="
                              currentCertificate != null &&
                                currentCertificate.numero2
                            "
                            id="2"
                            current
                            :certificate="currentCertificate.sequencia2"
                            :price="currentCertificate.valor"
                            :numeroSorte="currentCertificate.numero2"
                            :customClass="'cp-card-md'"
                            :message="
                              currentCertificate.mensagem
                                ? currentCertificate.mensagem
                                : '<br>'
                            "
                            :length="getLength(currentCertificate)"
                          ></cp-card>
                          <cp-card
                            v-if="
                              currentCertificate != null &&
                                currentCertificate.numero3
                            "
                            id="3"
                            current
                            :certificate="currentCertificate.sequencia3"
                            :price="currentCertificate.valor"
                            :numeroSorte="currentCertificate.numero3"
                            :customClass="'cp-card-md'"
                            :message="
                              currentCertificate.mensagem
                                ? currentCertificate.mensagem
                                : '<br>'
                            "
                            :length="getLength(currentCertificate)"
                          ></cp-card>
                        </div>
                        <div v-else>
                          <cp-card-single
                            v-if="
                              currentCertificate != null &&
                                currentCertificate.numero1
                            "
                            id="1"
                            current
                            :certificate="currentCertificate.sequencia1"
                            :price="currentCertificate.valor"
                            :numeroSorte="currentCertificate.numero1"
                            :customClass="'cp-card-md'"
                            :message="currentCertificate.mensagem"
                            :length="getLength(currentCertificate)"
                          ></cp-card-single>
                        </div>
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </v-card-text>
          </div>
          <div></div>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  middleware: ["autenticado"],
  // head: {
  //   title: `Meus`,
  //   carregando: false
  // },
  head() {
    const titleHead = this.$store.getters[
      "praca/nomeProdutoPlural"
    ].toLowerCase();
    return { title: `Meus ${titleHead}`, carregando: false };
  },
  data() {
    return {
      dialog: false,
      currentItem: null,
      currentCertificate: null,
      carregando: false
    };
  },
  async mounted() {
    this.carregando = true;
    try {
      const res = await this.$networkApi.historicoDeTitulos();
      this.$store.commit(
        "usuario/salvaHistoricoDeTitulos",
        res.data.result.list
      );
    } catch (error) {}
    this.carregando = false;
  },
  computed: {
    historicoDeTitulos() {
      return this.$store.getters["usuario/historicoDeTitulos"];
    },
    nomeProdutoSingular() {
      return this.$store.getters["praca/nomeProdutoSingular"].toLowerCase();
    },
    nomeProdutoPlural() {
      return this.$store.getters["praca/nomeProdutoPlural"].toLowerCase();
    }
  },
  methods: {
    showCertificates(item) {
      if (item.url_produto_adquirido) {
        this.$store.commit("layout/alteraDialogIframe", {
          aberto: true,
          link: item.url_produto_adquirido
        });
      } else {
        this.currentItem = item;
        this.dialog = true;
      }
    },
    getLength(item) {
      if (!item) return;
      let numero1 = item.numero1;
      let numero2 = item.numero2;
      let numero3 = item.numero3;

      if (numero1 && !numero2 && !numero3) return 1;
      if (numero1 && numero2 && !numero3) return 2;
      if (numero1 && numero2 && numero3) return 3;
    }
  }
};
</script>

<style lang="less">
.pg-meus-titulos {
  .v-card__text,
  .v-expansion-panel-content__wrap {
    padding: 0 3px;
  }
  .v-list-item__title {
    font-size: 14px;
  }
  .v-list-item__subtitle {
    font-size: 12px;
  }
}
</style>
